/** @author Your Name
*	@description weex vue page
*   @email you@example.org
*   @date  2018-01-24 10:13:31
*/ 

<template>
    <div class="body" :style="{height:height}">
        
    </div>
	
</template>
<script>
    import { getImgPath } from '../01.utils/common'; 
    import global from '../02.bus/global';
    import Utils from '../01.utils/Utils';
    import Config from '../03.components/tabbar/weextabbarConfig';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage } from '../01.utils/navigator';
    import { jump } from '../01.utils/navigator';
    import { getPersonalData } from '../02.bus/creader';
    import { getUserInfo } from '../02.bus/user';
    import syncUserInfo from '../02.bus/user';

	export default {
    		data () {
                return {
                }
            },
            created:function () {
                var deviceHeight = WXEnvironment.deviceHeight || unknown;
                var deviceWidth = WXEnvironment.deviceWidth || unknown;
                this.height = 750/deviceWidth*deviceHeight-96;
            },
            
    		methods:{
                tabBarCurrentTabSelected (e) {
                    const page = e.page;
                    console.log(page);
                    jumpSubPage(this,page,{closeThisPage:true});
                },
                goToPersonalProfile(){
                    if(this.personInfo.id>0){
                        jumpSubPage(this,'userPersonalProfile');
                    }
                    else {
                        jumpSubPage(this, 'userLogin');
                    }
                },
                goToMySubscribe(){
                    jumpSubPage(this,'mySubscribe');
                },
                goToMyLists(){
                    jumpSubPage(this,'myArticles');
                },
                goToFeedback(){
                    jumpSubPage(this,'UserFeedback');
                },
                refresh(){
                    var self = this;
                    global.init();
                    self.netStatus = 0;
                    self.getData();
                },
                getData(){
                    var self = this;
                    getUserInfo().then(res=>{
                        console.log(" --- getUserInfo --- ");
                        self.personInfo = res;
//                        console.log(self.personInfo.nickName);
                        self.netStatus = 2;
                        getPersonalData().then(res=>{
                            var self = this;
                            console.log(res);
                            if(res.status != -1 && typeof(res.data)!="undefined"){
                                self.netStatus = 2;
                                self.personInfo = res.data.data;
                                console.log(self.personInfo);
                            }else{
                                self.netStatus = 1;
                                self.errorType = 'neterror';
                            }
                        })
                    })
                },
    		}

    }
</script>

<style>
	.body{
        /*position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;*/
        width:750px;
        /*background-color: purple;*/
    }
</style>