<template>
    <div class="icon-block" :style="{width:size,height:size}" @click="_click($event)">
        <text class="icon" :value="getFontName" :style="getStyle" @click="_click($event)"></text>
    </div>
</template>

<style>
    .icon-block {
        justify-content: flex-start;
    }

    .icon {
        text-align: center;
    }
</style>

<script>
    const iconItems = require('./crIconFont.json');
    import { getIconFontPath } from '../01.utils/common';
    const fontFamily = "ionfont";
    const domModule = weex.requireModule("dom");
    module.exports = {
        data () {
          return {
            iconValue:'',
          }
        },
        beforeCreate () {
            // let url = weex.config.bundleUrl;
            // if(url.indexOf('?')>0){
            //     url = url.substring(0,url.indexOf('?'));
            // }
            // url = url.split('/').slice(0, -1).join('/');
            // console.log(url+"qingsongtesticonfont0000000");
            let partUrl = getIconFontPath();
            let url = partUrl+"ionicons.ttf";
            // console.log(url+"qingsongtesticonfont1111111");
            domModule.addRule('fontFace', {
                'fontFamily': fontFamily,
                'src': "url('" + url + "')"
            });
        },
        created (){
            this.iconValue = iconItems[this.name];
        },
        props: {
            name: {
                type: String,
                defalut: ''
            },
            color: {
                type: String,
                default: 'white'
            },
            size: {
                type: [Number, String],
                default: '70px'
            },
            activeColor: {
                type: String
            }
        },
        computed: {
            getFontName() {
                let icon = iconItems[this.name];
                console.log(icon+"qingsongtesticonfont");
                return this.decode(icon || '');
            },
            getStyle(){
                let style = {
                    'color': this.color,
                    'font-size': this.size,
                    'font-family': fontFamily
                };
                if (this.activeColor) {
                    style["color:active"] = this.activeColor;
                }
                return style;
            }
        },
        methods: {
            _click(e) {
                this.$emit("click", e);
            },
            decode(fontCode){
                if (/^&#x/.test(fontCode)) {
                    return String.fromCharCode(fontCode.replace(/^&#x/, '0x').replace(/;$/, ''))
                } else {
                    return String.fromCharCode('0x' + fontCode);
                }
            }
        }
    }
</script>