<template>
    <loading-indicator style="height:80px;width:80px;color:#7ec9c2"></loading-indicator>
</template>
<style>
    /*.test {*/

        /*height: 500px;*/
    /*}*/
</style>
<script>

    export default {
        name: 'defaultLoading',
        data() {
            return {
                msg: 'hello vue'
            }
        }
    }
</script>
