<template>
    <div >
        <image @load="onImageLoad" :src="source" v-if="loadFinished" style="width:160px;height:220px;border-radius:5px;"></image>
        <image :src="backgroup" v-if="loadFinished==false" style="width:160px;height:220px;border-radius:5px;"></image>
    </div>
</template>

<style >

</style>

<script>
    export default {
        props: {
            backgroup: {type: String},
            source: {type: String},

        },
        data: () => ({
            loadFinished:false,
        }),
        created () {
            console.log(' --- ');
        },
        methods: {
            onImageLoad (event) {
                if (event.success) {
                    // Do something to hanlde success
                    this.loadFinished = true;
                }
            }
        },
    };
</script>
