<template>
    <div class="wrapper">
        <div class="suggestionList" v-for="(item,index) in albums">
            <image class="album_image" :src="item.img_url" @click="jumpToAuthorColumn(item.id,item.status)"></image>
            <div :class="[Id===index+1? 'albumInfo_last':'albumInfo']">
                <div class="albumInfoDetail" @click="jumpToAuthorColumn(item.id,item.status)">
                    <div class="album_NS">
                        <div class="album_name">
                            <text class="text_album_name" style="font-family: Roboto;">{{item.name}}</text>
                        </div>
                        <div class="album_subscribed">
                            <text class="text_album_subscribed" style="font-family: Roboto;">{{item.follow_count}}人订阅</text>
                        </div>
                    </div>
                    <div>
                        <text class="album_des" style="font-family: Roboto;">{{item.author}}</text>
                    </div>
                </div>
                <div v-if="item.status==1" class="subscribeBtn-subscribed"  @click="toggleSubscribe(item.id,index)">
                    <image class="img_subscribeBtn" :src="getImgPath('followok.png')"></image>
                    <text class="text_subscribedBtn_" style="font-family: Roboto;">已订阅</text>
                </div>
                <div v-else class="subscribeBtn"  @click="toggleSubscribe(item.id,index)">
                    <crIconFont name="ion-android-add-circle" size="30px"></crIconFont>
                    <text class="text_subscribeBtn" style="font-family: Roboto;">订阅</text>
                </div>                
            </div>
        </div>
    </div>
</template>

<script>
 import { getImgPath } from '../01.utils/common';  
 import { back } from '../01.utils/navigator';
 import global from '../02.bus/global';
 import {getOpenId,getUserId} from '../02.bus/user';
 import { jumpSubPage } from '../01.utils/navigator';
 import prompt from '../01.utils/prompt';
 import { userFollow,userRemoveColumn} from '../02.bus/creader';
 import syncAblumInfo from '../02.bus/syncAblumInfo';
export default {
  data () {
    return {
       global:global,
       getImgPath:getImgPath,
       app:'ion-android-apps',
       search:'ion-search',
    }
  },
  computed:{
        Id:function(){
            var self = this;
            return self.albums.length;
        }
    },
  props: {
        albums:{
          type:Array,
          // default: function () {
          //           return []
          // },
          required: true
        },
        name: {
          type:String,
          default:''
        },
        height:{
          type:String,
          default: '100px'
        },
        textStyle: String,
        textColor:{
          type: String,
          default:'white'
        },
        bgcolor:{
          type:String,
          default: '#E15D53'
        },
      },
      created(){
        let self = this;
        // syncAblumInfo.receive(res=>{
        //     if(res.data.status == 'getData'){
        //         self.getData();
        //     }else{
        //         for(let i = 0;i<self.albums.length;i++){
        //             if(res.data.id == self.albums[i].id && res.data.status == 'add'){
        //                 self.albums[i].status = 1;
        //                 self.albums[i].follow_count = self.albums[i].follow_count + 1;
        //             }
        //             if(res.data.id == self.albums[i].id && res.data.status == 'cancel'){
        //                 self.albums[i].status = 0;
        //                 self.albums[i].follow_count = self.albums[i].follow_count - 1;
        //             }
        //         }  
        //     }                                      
        // })
      },
      mounted(){
         
      },
  methods:{
    goBack: function() {
        back(this,"");
    },
    toggleSubscribe(albumId,index){
        var self = this;
        getOpenId().then(openId=>{
            if(openId){
                for(let i = 0; i <self.albums.length; i++){
                    if(i==index){
                        if(self.albums[i].status==0){
                            userFollow(albumId).then(res=>{
                                prompt.toast("订阅成功");
                                if(res.data.status==1){
                                    self.albums[i].status=1;
                                    self.albums[i].follow_count = self.albums[i].follow_count + 1;
                                    syncAblumInfo.follow(albumId);
                                }
                            })
                        }else{
                            userRemoveColumn(albumId).then(res=>{
                                prompt.toast("取消成功");
                                if(res.data.status==1){
                                    self.albums[i].status=0;
                                    self.albums[i].follow_count = self.albums[i].follow_count - 1;
                                    syncAblumInfo.cancel(albumId);
                                }
                            })
                        }
                    }
                }
            }else{
                prompt.toast("请登录");
                setTimeout(() => {
                    jumpSubPage(this,'userLogin');
                }, 2000)
            }
        });

    },
    jumpToAuthorColumn(albumId,status){
        jumpSubPage(this,'articleAlbumInfo',{id:albumId,status:status})
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .suggestionList{
        height:112px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
       /* border-bottom-width:1px;
        border-bottom-style: solid;
        border-bottom-color: #e5e5e5;
        border-top-width:1px;
        border-top-style: solid;
        border-top-color: #e5e5e5;*/
        background-color: #ffffff;
        /*background-color: yellow;*/
    }
    .album_image{
        width:65.1px;
        height:65.1px;
        border-radius: 33px;
        margin-right:15px;
    }
    .albumInfo{
        width:630px;
        height:112px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /*margin-top: 15px;*/
        /*margin-right: 35px;*/
        margin-left:10px;
        border-bottom-width:1px;
        border-bottom-style: solid;
        border-bottom-color: #e5e5e5;
        /*background-color: lightblue;*/
    }
    .albumInfo_last{
        width:630px;
        height:112px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /*margin-top: 15px;*/
        /*margin-right: 35px;*/
        margin-left:10px;
        /*background-color: lightblue;*/
    }
    .albumInfoDetail{
        height:100px;
        width:430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 10px;
        /*background-color: lightgreen;*/
    }
    .article_read_recommend{
        color: #B6B6B6;
        font-size: 21px;
    }
    .album_NS{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;
    }
    .album_subscribed{
        border:1px solid grey;
        border-width:1px;
        border-style: solid;
        border-color: #D2D2D2;
        border-radius: 3px;
        padding: 5px;
        margin-left: 30px;
    }
    .text_album_subscribed{
        font-size: 18px;
        color:#B6B6B6;
      }
    .text_album_name{
        font-size: 29.4px;
        font-weight: bold;
        color:#545454;
        padding-bottom: 8px;
        /*width:200px;*/
        height:40px;
        overflow: hidden;
    }
    .album_des{
        color: #888888;
        font-size: 21px;
        padding-top: 8px;
        text-overflow: ellipsis;
        lines:1;
    }
    .subscribeBtn{
        width:132px;
        height:50px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        /*background-color: lightblue;*/
    }
    .subscribeBtn-subscribed{
        width:132px;
        height:50px;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
    }
    .text_subscribeBtn{
        color:white;
        font-size: 24px;
    }
    .text_subscribedBtn_{
        color:#888888;
        font-size: 24px;
    }
    .img_subscribeBtn{
        width:24px;
        height:24px;
    }
</style>