<template>
  <div class="wxc-tab-page">   
    <div  @click="back" v-if="isShelf" class="back" >
        <image :src="getImgPath('backarrow.png')" style="width:90px;height:90px;border-radius:5px;" @click="back" v-if="isShelf"/>
    </div>
    <div class="title-item"
           v-for="(item,index) in topNav" :key="index"
           @click="setPage(index)"
           :style="{borderBottomColor: currentPosition==index?tabStyles.activeBorderBottomColor:'rgba(0, 0, 0, 0)'}">

           <text
            :style="{ fontSize: tabStyles.fontSize+'px', fontWeight: (currentPosition == index && tabStyles.isActiveTitleBold)? 'bold' : 'bold', color: currentPosition == index ? tabStyles.activeTitleColor : tabStyles.titleColor, paddingLeft:tabStyles.textPaddingLeft+'px', paddingRight:tabStyles.textPaddingRight+'px'}"
            class="tab-text">{{item}}</text>
    </div>
    <div  @click="setPage(4)" class="back" >
      <image :src="getImgPath('search.png')" style="width:35px;height:35px;border-radius:5px;"/>
    </div>
  </div>
</template>
<style scoped>
  .back{
    width:40px; height:90px; justify-content: center; align-items: center;
  }
  .wxc-tab-page {
    height:102px;
    width: 750px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #f0f0f0;
    /*box-shadow:  0 15px 30px rgba(0, 0, 0, 0.2);*/
  }

  .title-item {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-style:solid;
    border-bottom-width:3px;
  }
  .tab-text{
    height:102px;
    font-weight: bold;
    line-height: 102px;
  }

</style>

<script>
  const dom = weex.requireModule('dom');
  const animation = weex.requireModule('animation');
  import Utils from '../01.utils/Utils';
  import { jumpSubPage,jump } from '../01.utils/navigator';
  import { getImgPath } from '../01.utils/common';
  import { back } from '../01.utils/navigator';
  import setting from '../01.utils/setting';
  import googleTrack from '../02.bus/googleTrack';

  export default {
    props: {
      currentPage:{
        type: Number
      },
      currentPosition:{
        type: Number
      },
      tabTitles: {
        type: Array,
        default: () => ([])
      },
      isShelf:{
        type:Boolean,
        default: true
      },
      tabStyles: {
        type: Object,
        default: () => ({
        bgColor: '#FFFFFF',
        titleColor: '#515151',
        activeTitleColor: '#E15D53',
        activeBgColor: '#ffffff',
        isActiveTitleBold: true,
        iconWidth: 60,
        iconHeight: 60,
        width: 160,
        height: 120,
        borderBottomColor: '#FFC900',
        borderBottomWidth: 0,
        borderBottomHeight: 0,
        activeBorderBottomColor: '#E15D53',
        activeBorderBottomWidth: 6,
        activeBorderBottomHeight: 6,
        fontSize: 31,
        textPaddingLeft: 10,
        textPaddingRight: 10
        })
      },
      titleType: {
        type: String,
        default: 'icon'
      },
      isTabView: {
        type: Boolean,
        default: true
      },
      duration: {
        type: [Number, String],
        default: 300
      },
      timingFunction: {
        type: String,
        default: 'cubic-bezier(0.25, 0.46, 0.45, 0.94)'
      },
    },
    data: () => ({
      topNav:['书架','分类','书单','书店'],
      getImgPath:getImgPath,
     
    }),
    created () {
      const { titleType, tabStyles } = this;
     },
    methods: {
      setPage (index) {
        console.log(index+" -- "+this.currentPosition);
        if(index == this.currentPosition) {
          return ;
        }    
        var page = '';
        switch (index)
        {          
          case 0:
            page = 'libraryBookShelf';
            break;
          case 1:
            page = 'libraryCategory';           
            break;
          case 2:
            page = 'libraryBookLists';
            break;
          case 3:
            page = 'storeEntry';
            break;
          case 4:
            page = 'librarySearch';
            break;
        }
        var parm = {};
        if(page == 'libraryBookShelf'){
          this.back();
        }else{
          if(this.currentPosition==0){
            jumpSubPage(this,page);
          }
          else{
            jumpSubPage(this,page,{closeThisPage:true});
          }
        }
      },
      back(){
        if(setting.isWeb() || setting.isAndroid()){
            back(this,"");
        }
        else{
          jumpSubPage(this,'libraryBookShelf',{backToRootView:true,closeThisPage:true});
        }        
      }
    },
      
  };
</script>