<template>
    <div class="wrapper">
        <div class="top">
            <crIconFont  name="ion-ios-book-outline" size="50px" color="#ffffff" ></crIconFont>
            <!-- <image :src="getImgPath('baseline_store_white_18.png')" style="width: 50px;height: 50px;"></image> -->
            <text style="color:#ffffff;font-family: Roboto;font-size: 34px">图书</text>
            <crIconFont name="ion-ios-search" size="50px" color="#ffffff" @click="jumpToBookSearch()"></crIconFont>
        </div>
        <div class="tab-bar">
            <text class="tab-item" v-for="(item,index) in tabItems" 
            :style="{color: item.index == currentTab? '#E15D53':'#B6B6B6'}" 
            :key="index"
            @click="changeTab(index)">{{item.title}}</text>
        </div>
        <div class="tab-bar-border" :style="{left:left+'px'}">
        </div>
        <storeEntry v-if="currentTab == 0"></storeEntry>
        <libraryCategory v-if="currentTab == 1"></libraryCategory>
        <libraryBookLists v-if="currentTab == 2"></libraryBookLists>
        <libraryBookShelf v-if="currentTab == 3"></libraryBookShelf>
        <netError v-if="netStatus==1" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>
</template>

<script>
 import { getImgPath,checkNetStatusOnOrOff } from '../01.utils/common';  
 import { back } from '../01.utils/navigator';
 import global from '../02.bus/global';
 import {getOpenId,getUserId} from '../02.bus/user';
 import { jumpSubPage } from '../01.utils/navigator';
 import prompt from '../01.utils/prompt';
 import { userFollow,userRemoveColumn,queryAllAlbumLists} from '../02.bus/creader';
 import {storageGetItem} from '../01.utils/storage';
 import { searchResult } from '../02.bus/creader';
export default {
  data () {
    return {
       global:global,
       getImgPath:getImgPath,
       albumLists:[],
       tabItems:[
                  {title:"书店",index:0},
                  {title:"分类",index:1},
                  {title:"书单",index:2},
                  {title:"书架",index:3},
                ],
       left:0,
       artcileResult:[],
       albumResult:[],
       bookResult:[],
       currentTab:-1,
       pageIndex:1,
       errorType:'',
       errorMsg:'',
       netStatus: -1,
       errorType:'',
       height:'',
    }
  },
  computed:{
        Id:function(){
            var self = this;
            return self.albums.length;
        }
    },
  props: {
        
      },
      mounted(){
         
      },
    created(){
    
    },
  methods:{
    goBack: function() {
        back(this,"");
    },
    jumpToBookShelf(){
      jumpSubPage(this,"libraryBookShelf");
    },
    jumpToBookSearch(){
      jumpSubPage(this,"librarySearch");
    },
    loadData(){
        console.log("--------------loadData ----------------")
        if(this.currentTab<0){
            if(checkNetStatusOnOrOff()==1){
                this.currentTab = 1;
            }
            else
            {
                this.currentTab = 3;
            }
        }
        if(this.currentTab==0){
                this.left = 0;
        }else if(this.currentTab == 1){
                this.left = 187.5
        }else if(this.currentTab == 2){
                this.left = 375
        }else{
                this.left = 562.5
        }
    },
    changeTab(index){
        this.currentTab = index;
        if(this.currentTab==0){
              this.left = 0;
        }else if(this.currentTab == 1){
              this.left = 187.5
        }else if(this.currentTab == 2){
              this.left = 375
        }else{
              this.left = 562.5
        }
    },

    wxcSearchbarInputOnFocus () {
        // modal.toast({ 'message': 'onfocus', 'duration': 1 });
      },
      wxcSearchbarInputOnBlur () {
        // modal.toast({ 'message': 'onbulr', 'duration': 1 });
      },
      wxcSearchbarCloseClicked () {
        // modal.toast({ 'message': 'close.click', 'duration': 1 });
      },
      wxcSearchbarInputOnInput (e) {
        // this.value = e.value;
      },
      wxcSearchbarCancelClicked (e) {
        let self = this;
        self.netStatus = 0;
        self.artcileResult = [];
        self.albumResult = [];
        self.bookResult = [];
        let type = 0;
        if(this.currentTab == 0){
            type = 2;
            searchResult(e.value,type,this.pageIndex).then(res=>{
                console.log(res);
                if(res.status != -1 && typeof(res.data)!="undefined") {
                    self.netStatus = 2;
                    if(res.data.data.length>0){
                      self.artcileResult = res.data.data;
                    }else{
                      self.netStatus = 1;
                      self.errorType = 'noResult';
                      self.errorMsg = '查无结果';
                    }
                    
                }else{
                    self.netStatus = 1;
                    self.errorType = 'noResult';
                    self.errorMsg = '请检查网络';
                }
                
            })
        }else if(this.currentTab == 1){
            type = 3;
            searchResult(e.value,type,this.pageIndex).then(res=>{
              
              console.log(res);
              if(res.status != -1 && typeof(res.data)!="undefined") {
                    self.netStatus = 2;
                    if(res.data.data.length>0){
                      self.albumResult = res.data.data;
                    }else{
                      self.netStatus = 1;
                      self.errorType = 'noResult';
                      self.errorMsg = '查无结果';
                    }
                    
                }else{
                    self.netStatus = 1;
                    self.errorType = 'noResult';
                    self.errorMsg = '请检查网络';
              }
              })
        }else{
            type = 1;
            searchResult(e.value,type,this.pageIndex).then(res=>{
                console.log(res);
                self.netStatus = 2;
                // if(res.status != -1 && typeof(res.data)!="undefined") {
                //       self.netStatus = 2;
                //       self.albumResult = res.data.data;
                //   }else{
                //       self.netStatus = 1;
                //       self.errorType = 'noResult';
                // }
            })
        }
        

      },
      
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .wrapper{
        width:750px;
        position: absolute;
        top:0px;
        left: 0;
        right: 0;
        bottom: 0; 
    }
    .top{
        width: 750px;
        height: 100px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }
    .tab-bar{
        /*position: absolute;
        top: 100px;
        left: 0;
        right: 0;*/
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 750px;
        height: 100px;
        background-color: #ffffff;
    }
    .tab-item{
        /*color: #b6b6b6;*/
        flex: 1;
        align-self: stretch;
        line-height: 100px;
        font-size: 29px;
        font-weight: bold;
        text-align: center;
        font-family: Roboto;
    }
    .tab-bar-border{
        width:187.5px;
        height: 100px;
        position: absolute;
        top: 100px;
        left: 0;
        border-bottom-width:4px;
        border-bottom-style: solid;
        border-bottom-color: #E15D53;
        transition: left 0.2s ease-in-out;
    }
    .article-mid{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #ffffff;
        /*background-color: lightgreen;*/
        margin-bottom: 19px;
    }
    .article-content{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width:400px;
        height: 194px;
        /*padding-top:30px;*/
        /*padding-bottom: 30px;*/
        /*padding-right: 30px;*/
        font-family: Roboto;
        /*background-color: lightblue;*/
    }
    .title{
        color:#101010;
        font-size:31px;
        font-family: "Helvetica Neue",sans-serif;
        font-weight: bold;
        padding-bottom: 15px;
        padding-right: 30px;
        /*lines:2;*/
    }
    .article_read_recommend{
        color: #B6B6B6;
        font-size: 21px;
    }
</style>