<template>
        <div class="body">
           <div class="content_category">
                <div class="left" style="width:200px;">
                     <div v-for="(item,index) in tags" @click="getBooksByCategory(index,item.id)" :key="index">
                        <text v-if="item.id != 300" :class="[index==Id ? 'category-selected' : 'category']">{{item.name}}</text>
                        <text v-if="item.id != 300" :class="[index==Id ? 'count-selected' : 'count']">{{item.total}}本</text>
                    </div>
                </div>
                 <waterfall ref="waterfall"  class="waterfall"  @loadmore="getMoreInfo()" loadmoreoffset="3000"
                    style="padding:0;width:550px;margin-top:20px"
                    column-width="auto" column-count="2" column-gap="12"
                    show-scrollbar="false" scrollable="true">
                    <cell v-for="(item,index) in books" class="book" :key="index">
                        <image :src="item.img_url" :placeholder="getImgPath('chat.png')" style="width:160px;height:220px;border-radius:5px;" @click="jumpToBookProfile(item.id)"></image>
                        <text class="bookname">{{item.title}}</text>
                    </cell>
                </waterfall>
            </div>
            <loadingCircle v-if="netStatus==0"></loadingCircle>
            <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
        </div>	
</template>
<style scoped>
    .waterfall{
        position: absolute;
        top:0px;
        left: 200px;
        right: 0;
        bottom: 0;  
        padding-bottom: 180px;    
    }
    .book{
        width:200px;
        height: 350px;
        margin-left:37px;
        margin-top: 50px;
        margin-bottom: 20px;
        justify-content: flex-start;
        align-items: center;      
    }
    .body{
        width:750px;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0px; 
        
    }
    .type{
        font-size: 38px;
        color:#636363;
        font-weight: bold;
    }
    .search{
        font-family:iconfont
    }  
    .content_category{
        position: absolute;
        top:0px;
        left:0px;
        right: 0;
        bottom: 0; 
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    } 
    .left{
        width: 200px;
        border-right-color: #e9e9e9;
        border-right-width: 1px;
        border-right-style: solid;
        flex-direction: column;
        margin-top:20px;
        /*background-color: lightblue;*/
    }
    .namecount{
        height:122px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .namecount-selected{
        height:122px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left-color: #E15D53;
        border-left-width: 5px;
        border-left-style: solid;
    }
    .category{
        text-align: center;
        height:50px;
        line-height:50px;
        font-size: 33px;
        font-weight: bold;
        color:#5b5b5b;
        /*background-color: green;*/
    }
    .category-selected{
        height:50px;
        line-height:50px;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
        color:#E15D53;
    }
    .count{
        height:50px;
        font-size: 26px;
        line-height:50px;
        text-align: center;
        color:#aeaeae;
        /*background-color: purple;*/
    }
    .count-selected{
        height:50px;
        font-size: 26px;
        line-height:50px;
        color:#E15D53;
        text-align: center;
    }
    .right-books{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top:0;
        left:200px;
        right:0;
    }

   
    .bookname{
        font-size: 26px;
        color:#505050;
        margin-top: 26px;
        margin-bottom: 15px;
        margin-left: 12px;
        margin-right: 12px;
        lines:2;
        text-align: center;
        width:200px;
    }
    .bottom-white{
        width: 750px;
        height: 100px;
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
</style>
<script>
    var domModule=weex.requireModule("dom");
    import { getImgPath } from '../01.utils/common';
    import { jumpSubPage,back } from '../01.utils/navigator';
    import { getBooks } from '../02.bus/creader';
    import prompt from '../01.utils/prompt';
    import googleTrack from '../02.bus/googleTrack';
    
	export default {
    		data () {
              return {
                  getImgPath:getImgPath,
                  currentPosition:1,
                  tags:[],
                  books:[],
                  storageList:[],
                  global:global,
                  selected:false,
                  errorType:'',
                  errorMsg:'',
                  Id:0,
                  imgDownLoad:false,
                  netStatus:0,
                  pageIndex:1,
                  currentTagId:143,
                  leftHeight: '',
                  deviceHeight:'',
                  height:'',
              }
            },
            created:function () {
                this.getData(143,1);
                // googleTrack.userLibraryOpenCategory("");
            },
            methods:{
                jumpToBookProfile(id){
                    jumpSubPage(this,'libraryBookIntroduce',{id:id});
                },
                getMoreInfo () {
                    var self=this;
                    self.pageIndex = self.pageIndex+1;
                    self.getData(self.currentTagId,self.pageIndex);
                },
                refresh(){
                    var self = this;
                    self.netStatus = 0;
                    self.getData(self.currentId,self.pageIndex);
                },
                getData(id,pageIndex){
                    var self = this;
                    getBooks(id,pageIndex).then(res=>{
                        console.log("qingsong123");
                        console.log(res);
                        if(res.status != -1 && typeof(res.data)!="undefined" &&res.data != null){
                            self.netStatus = 2;
                            self.tags = res.data.data.tags;
                            self.books = self.books.concat(res.data.data.books);
                            self.imgDownLoad = true;
                        }else{
                            self.netStatus = 1;
                            self.errorType = 'neterror';
                        }
                    })
                },
                getBooksByCategory(index,id){
                    var self = this;
                    self.books = [],
                    self.pageIndex = 1;
                    for(let i = 0;i<self.tags.length;i++){
                        if(i==index){
                            self.Id = i;
                            self.getData(id,1);
                            self.currentTagId = self.tags[i].id;
                            // googleTrack.userLibraryOpenCategory(self.tags[i].name);
                            return;
                        }
                    }
                },
    		}

    }
</script>

