<template>
  <div class="body">
    <list class="list">
      <cell>
        <div class="messagebox">
          <text class="mes">{{message}}</text>
        </div>
      </cell>
      <cell v-for="(tag,index) in tags" :key="index" v-if="netStatus==2">
        <div class="category_box">
          <div class="category_box_top">
            <text class="category_title">{{tag.name}}</text>
            <!-- <image  class="more" :src="getImgPath('more.png')" @click="jumpToCategoryDetail(tag.id,tag.name)"/> -->
            <div class="more" @click="jumpToCategoryDetail(tag.id,tag.name)">
              <text style="font-size: 26px;color:#757575;margin-right:30px">更多&nbsp;></text>
            </div>
          </div>
          <scroller class="books" loadmoreoffset="10" scroll-direction="horizontal">
            <div v-for="(item,index) in books" class="book" :key="index" v-if="item.tag_id==tag.id">
              <image
                class="bookimage"
                :src="item.img_url"
                :placeholder="getImgPath('chat.png')"
                @click="jumpToBookDetail(item.id)"
              />
              <text class="booktitle">{{item.title}}</text>
            </div>
          </scroller>
        </div>
      </cell>
      <cell class="bottom-white"></cell>
    </list>

    <loadingCircle v-if="netStatus==0"></loadingCircle>
    <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
  </div>
</template>
<style scoped>
.body {
  background-color: #ffffff;
  /* background-color: black; */
  width: 750px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
}
.list {
  /* position: absolute;
       top:0px;
       left: 0;
       right: 0;
       bottom: 0; */
}
.promptInformation {
  width: 750px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
}
.top {
  background-color: #ffffff;
}

.messagebox {
  /* position: relative; */
  top: 0px;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
}
.mes {
  font-size: 30px;
  color: #959595;
}

.category_box {
  background-color: #ffffff;
  height: 430px;
  width: 750px;
}
.category_box_top {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 0px;
  height: 80px;
  width: 750px;
  border-bottom-color: #e8e8e8;
  border-bottom-width: 2px;
}
.category_title {
  font-size: 30px;
  font-weight: bold;
  color: #515151;
}
.more {
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  height: 80px;
  width: 180px;
}
.books {
  width: 750px;
  height: 350px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-left: 40px;
  /* background-color: red; */
}
.book {
  width: 200px;
  height: 307px;
  margin-top: 20px;
}
.bookimage {
  width: 160px;
  height: 220px;
  border-radius: 5px;
  position: relative;
  top: 0px;
}
.booktitle {
  lines: 2;
  font-size: 26px;
  color: #5b5b5b;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  width: 160px;
}
.bottom-white {
  width: 750px;
  height: 180px;
  background-color: #ffffff;
}
</style>
<script>
var domModule = weex.requireModule("dom");
import Config from "../03.components/tabbar/weextabbarConfig";
import { getImgPath } from "../01.utils/common";
import { jumpSubPage, back } from "../01.utils/navigator";
import { getBookList } from "../02.bus/store";
import prompt from "../01.utils/prompt";
import googleTrack from "../02.bus/googleTrack";

export default {
  data() {
    return {
      getImgPath: getImgPath,
      currentPosition: 3,
      tags: [],
      books: [],
      message: Config.bookstoremessage.message,
      global: global,
      errorType: "",
      errorMsg: "",
      netStatus: 0,
      deviceHeight: "",
      height: ""
    };
  },
  created: function() {
    let deviceHeight = WXEnvironment.deviceHeight || unknown;
    let deviceWidth = WXEnvironment.deviceWidth || unknown;
    this.height = (750 / deviceWidth) * deviceHeight;
    this.getData();
    //   googleTrack.userLibraryOpenBookshop();
  },
  methods: {
    jumpToBookDetail(id) {
      jumpSubPage(this, "storeBookDetail", { id: id, from: "shop" });
    },
    jumpToCategoryDetail(id, category) {
      jumpSubPage(this, "storeCategory", { id: id, category: category });
    },

    refresh() {
      var self = this;
      self.netStatus = 0;
      self.getData();
    },
    getData() {
      var self = this;
      getBookList().then(res => {
        console.log("qingsong999");
        console.log(res);
        if (
          res.status != -1 &&
          typeof res.data != "undefined" &&
          res.data != null
        ) {
          self.netStatus = 2;
          self.tags = res.data.data.tags;
          self.books = self.books.concat(res.data.data.books);
        } else {
          self.netStatus = 1;
          self.errorType = "neterror";
        }
      });
    }
  }
};
</script>

