<template>
    <div class="body">
        <waterfall ref="waterfall" class="scroller" v-if="netStatus==2" 
            style="padding:0"
            column-width="auto" :column-count="1" :column-gap="12"
            :show-scrollbar="false" scrollable="true">
            <cell v-for="(item,index) in bookLists" style="marginTop:30px" :key="index">
                <div class="booklist" @click="goToBookList(item.id)">
                    <image :src="item.img_url" style="width:168px;height:168px;border-radius:5px;"></image>
                    <div class="mid">
                        <text class="title">{{item.name}}</text>
                        <text class="content">{{item.content}}</text>
                        <text class="browse">共{{item.total}}本  {{item.browse}}人看过</text>
                    </div>
                    <text class="more">></text>
                </div>    
            </cell>
        </waterfall>
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>  
</template>
<script>
    import { getImgPath } from '../01.utils/common';
    import global from '../02.bus/global';
    import Utils from '../01.utils/Utils';
    import Config from '../03.components/tabbar/weextabbarConfig';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage,back } from '../01.utils/navigator';
    import { getSuggestBookLists } from '../02.bus/creader';
	export default {
    		data () {
                    return {
                        currentPosition:2,
                        tabTitles: Config.tabTitles,
                        tabStyles: Config.tabStyles,
                        getImgPath:getImgPath,
                        bookLists:[],
                        storagediv:[],
                        networkStatus:1,
                        global:global,
                        errorType:'',
                        errorMsg:'',
                        netStatus:0,
                        height:'',
                    }
            },
            created:function () {
                this.getData();
            },
    		methods:{
                getData(){
                    var self = this;
                    getSuggestBookLists().then(res=>{
                        console.log(" -- getSuggestBookLists -- ");
                        console.log(res);
                        if(res.status != -1 && typeof(res.data)!="undefined" && res.data != null){
                            self.netStatus = 2;
                            self.bookLists = res.data.data;
                        }else{
                            self.netStatus = 1;
                            self.errorType = 'neterror';
                        }
                    })
                },
                refresh(){
                    var self = this;
                    global.init();
                    self.netStatus = 0;
                    self.getData();
                },
                onchange(event){
                console.log('changed:', event.index)
                },
                bannerJump(event){
                    console.log("11")
                },
                // libraryNavCurrentTabSelected(e){
                //     const page = e.page;
                //     if(e.page=='libraryBookShelf')
                //     {
                //         back();
                //     }
                //     else if(e.page=='libraryCategory'){
                //         jumpSubPage(this,page,{closeThisPage:true});
                //     }
                //     else if(e.page=='librarySearch'){
                //         jumpSubPage(this,page,{closeThisPage:true});
                //     }else{
                //         jumpSubPage(this,page,{closeThisPage:true})
                //     }

                // },
                goToBookList(id){
                    jumpSubPage(this,'libraryBookListDetail',{id:id});
                },
                
    		}

    }
</script>

<style scoped>
	.body{
        position: absolute;
        left:0;
        top: 200px;
        right:0;
        bottom:0;
        width: 750px;
    }
    .type{
        font-size: 38px;
        color:#636363;
        font-weight: bold;
        width:160px;
        text-align: center;
    }
    .scroller{
        position: absolute;
        top:0px;
        left: 0px;
        right: 0;
        bottom: 0; 
        padding-bottom: 180px;
        /*background-color: red;*/
    }
    .slider{
        height:320px;
        width:720px;
        margin-left:15px;
        margin-top:20px;
        margin-bottom:20px;
        border-radius: 10px;
    }
    .image {
        width: 720px;
        height:376px;
        /*border-radius: 10px;*/
    }
    .frame {
        width: 720px;
        height:320px;
        position:relative;
    }
    .indicator {
       position: absolute;
       top: 290px;
       left: 275px;
       width: 200px;
       height: 30px;
    }
    .booklist{
        width:690px;
        height:250px;
        margin-left:30px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-top:40px;
        padding-bottom: 40px;
        border-bottom-color: #e9e9e9;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        /*background-color: lightblue;*/
    }
    .mid{
        width:460px;
        /*background-color: yellow;*/
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
    }
    .title{
        width:460px;
        font-size: 30px;
        font-weight: bold;
        color:#262626;
        /*background-color: red;*/
        font-family: "Helvetica Neue",sans-serif;
        padding-right:20px;
        text-align: left;
        margin-bottom: 5px;
    }
    .content{
        width:460px;
        font-size: 26px;
        color:#757575;
        lines:2;
        /*background-color: green;*/
        padding-right:20px;
        text-align: left;
        text-overflow:ellipsis;
        margin-top:5px;
        margin-bottom: 5px;
    }
    .browse{
        width:460px;
        text-align: left;
        font-size: 26px;
        color:#b6b6b6;
        margin-top:5px;
    }
    .more{
        width:30px;
        color:#7e7e7e;
        font-size: 35px;
        text-align: right;
        /*background-color: purple;*/
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
</style>