<template>
    <div  class="LoadingGif">
        <image style="width: 60px;height: 60px" :src="getImgPath('loading.gif')"></image>
    </div>
</template>

<script>
    const animation = weex.requireModule('animation')
    const modal = weex.requireModule('modal')
    import { getImgPath } from '../01.utils/common'; 

    export default {
        data: function () {
            return {
                current_rotate: 0,
                loading:false,
                height:'',
                getImgPath:getImgPath,
            }
        },
        created(){
            // let deviceHeight = WXEnvironment.deviceHeight;
            // let deviceWidth = WXEnvironment.deviceWidth;
            // this.height = (deviceHeight*750/deviceWidth-208)/2;
        },
        
        methods: {
            rotate (el,x) {
                let self = this;
                this.current_rotate+=360;
                animation.transition(el, {
                    styles: {
                        opacity:x == 1? 0.5:1,
                        transform: 'scale('+(x == 1? 0.6:1)+')'+'rotate(' + self.current_rotate + 'deg)',
                        // transform: 'rotate(' + self.current_rotate + 'deg)',
                        transformOrigin: 'center center'
                    },
                    duration: 600, 
                    timingFunction: 'linear',
                    delay: 0 
                },function () {
                    this.loading&&this.rotate(el,-1*x);
                }.bind(this))
            }
        }
    }
</script>

<style scoped>
    .LoadingGif{
        position: absolute;
        top: 300;
        bottom: 300;
        left:0;
        right:0;
        justify-content: center;
        align-items: center;
        /*background-color: green;*/
    }
    .box {
        width: 50px;
        height: 50px;
        border-top-width: 6px;
        border-top-left-radius: 25px;
        border-top-color: #E15D53;
        border-left-width: 5px;
        border-left-color: #E15D53;
        border-radius: 25px;
    }
</style>