<template>
    <div class="netError">
        <div v-if="errorType==neterror" class="netError1">
            <image :src="getImgPath('neterror.png')" style="width:100px;height:100px;"></image>
            <text class="errorHint">网络不给力，请稍后重试</text>
            <text @click="Refresh" class="refresh">刷新</text>
        </div>
        <div v-if="errorType==noResult" class="netError2">
            <image :src="getImgPath('noresult.png')" style="width:100px;height:100px;"></image>
            <text style="fontSize:30px;color:#8f8f8f;margin-top:50px">{{errorMsg}}...</text>
        </div>
    </div>
</template>
<style>
    .netError{
        position: absolute;
        top:300;
        bottom: 300;
        left:0;
        right:0;
        justify-content: center;
        align-items: center;
    }
    .netError1{
        justify-content: center;
        align-items: center;
    }
    .netError2{
        justify-content: center;
        align-items: center;
    }
    .errorHint{
        font-size: 30;
        color:#8f8f8f;
        margin-top:30px;
    }
    .refresh{
        margin-top:50px;
        font-size: 35;
        color:white;
        width:550;
        height:80;
        background-color: #E15D53;
        text-align: center;
        line-height: 80;
        border-radius: 30;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }
</style>
<script>
    import global from '../02.bus/global';
    import { jumpSubPage } from '../01.utils/navigator';
    import { getImgPath } from '../01.utils/common'; 
    import prompt from '../01.utils/prompt';

    export default {
        data() {
            return {
                global:global,
                getImgPath:getImgPath,
                noResult : 'noResult',
                neterror : 'neterror',
            }
        },
        props: {
             networkError: String,
             errorType:{
                type:String,
             },
             errorMsg:String,
             refresh : String,
        },
        methods:{
            Refresh:function(){
                this.$emit('toNetError');
            }
        },
        
        created: function () {
            global.init();
        }
    }
</script>
