<template>
    <div class="netDivError">
        <text class="netTextError" lines="2">{{global.display('networkError')}}</text>
        <text class="button" @click="Refresh">{{global.display('refresh')}}</text>
    </div>
</template>
<style>
    .netDivError{
        width:750px;
        display: flex;
        flex-flow: column;
        align-items:center;
        justify-content: center;
        height:300px;
    }
    .netTextError{
        padding-top: 10px;
        padding-bottom: 10px;
        font-size:35px;
    }
    .button{
        width: 280px;
        height:80px;
        border-width: 1px;
        border-color: black;
        border-style:solid;
        text-align: center;
        line-height:80px;
        font-size: 35px;
        border-radius: 10px;
        transform: translateY(50px);
    }
</style>
<script>
    import global from '../02.bus/global';
    import { jumpSubPage } from '../01.utils/navigator';

    export default {
        data() {
            return {
                global:global,
            }
        },
        props: {
             networkError: String,
             refresh : String,
        },
        methods:{
            Refresh:function(){
                console.log("1111");
               this.$emit('childMethod');
            }
        },
        
        created: function () {
            global.init();
        }
    }
</script>
