<template>
    <div>
        <div :class="['wxc-search-bar','wxc-search-bar-'+theme]"
             :style="barStyle"
             v-if="mod==='default'">
            <crIconFont class="search-bar-icon" name="ion-android-arrow-back" size="50px" color="#101010" @click="goBack()"></crIconFont>
            <input @blur="onBlur"
                   @focus="onFocus"
                   @input="onInput"
                   :autofocus="autofocus"
                   :disabled="disabled"
                   :value="value"
                   ref="search-input"
                   :type="inputType"
                   :placeholder="placeholder"
                   :style="{ width: needShowCancel ? '594px' : '670px' }"
                   :class="['search-bar-input','search-bar-input-'+theme]" />
            <div v-if="disabled"
                 @click="inputDisabledClicked"
                 class="disabled-input"></div>
            
            <image class="search-bar-close"
                   v-if="showClose"
                   :aria-hidden="true"
                   @click="closeClicked"
                   :src="getImgPath('close.png')"></image>
          
            <crIconFont class="search-bar-button" name="ion-search" size="50px" color="#101010" @click="searchClicked"></crIconFont>
        </div>
    </div>
</template>

<style scoped>
  .wxc-search-bar {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #ffffff;
    /*background-color: green;*/
    width: 750px;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .wxc-search-bar-yellow {
    background-color: #ffc900;
  }

  .search-bar-input {
    /*position: absolute;
    top: 10px;*/
    left: ;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 40px;
    padding-left: 60px;
    font-size: 26px;
    height: 80px;
    line-height: 80px;
    background-color: #ffffff;
    /*background-color: red;*/
    border-radius: 6px;
  }

  .search-bar-input-yellow {
    background-color: #fff6d6;
  }

  .search-bar-icon {
    /*background-color: lightblue;*/
  }

  .search-bar-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 120px;
    top: 36px;
  }

  .search-bar-button {
    margin-right: 0;
    color: #333333;
    /*background-color: lightblue;*/
  }
  

  .search-bar-button-yellow {
    background-color: #FFC900;
  }

  .input-has-dep {
    padding-left: 240px;
    width: 710px;
  }

  .bar-dep {
    width: 170px;
    padding-right: 12px;
    padding-left: 12px;
    height: 42px;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 24px;
    top: 22px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #C7C7C7;
  }

  .bar-dep-yellow {
    border-right-color: #C7C7C7;
  }

  .dep-text {
    flex: 1;
    text-align: center;
    font-size: 26px;
    color: #666666;
    margin-right: 6px;
    lines: 1;
    text-overflow: ellipsis;
  }

  .dep-arrow {
    width: 24px;
    height: 24px;
  }

  .icon-has-dep {
    left: 214px;
  }

  .disabled-input {
    width: 750px;
    height: 64px;
    position: absolute;
    left: 0;
    background-color: transparent;
  }

  .has-dep-disabled {
    width: 550px;
    left: 200px;
  }
</style>

<script>
  // import { INPUT_ICON, ARROW_ICON, CLOSE_ICON } from './type';
  import { getImgPath } from '../01.utils/common';
  import prompt from '../01.utils/prompt';
  import { back } from '../01.utils/navigator';

  export default {
    props: {
      disabled: {
        type: Boolean,
        default: false
      },
      alwaysShowCancel: {
        type: Boolean,
        default: true
      },
      inputType: {
        type: String,
        default: 'text'
      },
      returnKeyType: {
        type: String,
        default: 'default'
      },
      mod: {
        type: String,
        default: 'default'
      },
      autofocus: {
        type: Boolean,
        default: false
      },
      theme: {
        type: String,
        default: 'gray'
      },
      barStyle: {
        type: Object,
        default: () => ({})
      },
      defaultValue: {
        type: String,
        default: ''
      },
      placeholder: {
        type: String,
        default: '搜索'
      },
      cancelLabel: {
        type: String,
        default: '搜索'
      },
      depName: {
        type: String,
        default: '杭州'
      }
    },
    computed: {
      needShowCancel() {
        return this.alwaysShowCancel || this.showCancel;
      },
      buttonStyle() {
        const { barStyle } = this;
        if (barStyle.backgroundColor) {
          return { backgroundColor: barStyle.backgroundColor }
        }
        return {}
      }
    },
    data: () => ({
      getImgPath:getImgPath,
      showCancel: false,
      showClose: false,
      value: ''

    }),
    created() {
      this.defaultValue && (this.value = this.defaultValue);
      if (this.disabled) {
        this.showCancel = false;
        this.showClose = false;
      }
    },
    methods: {
      onBlur() {
        const self = this;
        setTimeout(() => {
          self.showCancel = false;
          self.detectShowClose();
          self.$emit('wxcSearchbarInputOnBlur', { value: self.value });
        }, 10);
      },
      goBack(){
        back(this,'');
      },
      autoBlur() {
        this.$refs['search-input'].blur();
      },
      onFocus() {
        if (this.isDisabled) {
          return;
        }
        this.showCancel = true;
        this.detectShowClose();
        this.$emit('wxcSearchbarInputOnFocus', { value: this.value });
      },
      closeClicked() {
        this.value = '';
        // this.showCancel && (this.showCancel = false);
        this.showClose && (this.showClose = false);
        this.$emit('wxcSearchbarCloseClicked', { value: this.value });
        this.$emit('wxcSearchbarInputOnInput', { value: this.value });
      },
      onInput(e) {
        this.value = e.value;
        this.showCancel = true;
        this.detectShowClose();
        this.$emit('wxcSearchbarInputOnInput', { value: this.value });
      },
      onSubmit(e) {
        this.onBlur();
        this.value = e.value;
        this.showCancel = true;
        this.detectShowClose();
        this.$emit('wxcSearchbarInputReturned', { value: this.value });
      },
      searchClicked() {
        // this.showCancel && (this.showCancel = false);
        // this.showClose && (this.showClose = false);
        if(this.value){
          this.$emit('wxcSearchbarCancelClicked', { value: this.value });
        }else{
          prompt.toast("请输入关键词");
        }
        
      },
      detectShowClose() {
        this.showClose = (this.value.length > 0) && this.showCancel;
      },
      depClicked() {
        this.$emit('wxcSearchbarDepChooseClicked', {});
      },
      inputDisabledClicked() {
        this.$emit('wxcSearchbarInputDisabledClicked', {});
      },
      setValue(value) {
        this.value = value;
      }
    }
  };
</script>
