<template>
    <div class="LoadingDots">
        <!-- :style="{top:height}"  -->
        <div style="backgroundColor:rgba(255,255,255,0.3);height:300px;width:300px;justify-content: center;
        align-items: center;borderRadius:10px">
            <image :src="getImgPath('load.png')" style="width:80px;height:80px;"></image>
            <text style="font-size:30px ;color:#8f8f8f;margin-top:20px;">提交中...</text>
        </div>
    </div>
</template>
<style>
    .LoadingDots{
        position: absolute;
        top: 0px;
        left:0;
        right:0;
        bottom:0;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.2);
    }
    .loading {
        width: 750;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }
    .indicator-text {
        color: #E15D53;
        font-size: 42px;
        text-align: center;
    }
     .indicator {
        margin-top: 16px;
        height: 40px;
        width: 40px;
        color: #E15D53;
    }
</style>
<script>
    import global from '../02.bus/global';
    import { jumpSubPage } from '../01.utils/navigator';
    import { getImgPath } from '../01.utils/common'; 
    import prompt from '../01.utils/prompt';

    export default {
        data() {
            return {
                global:global,
                getImgPath:getImgPath,
                loadinging:true,
                height:'',
            }
        },
        props: {
             networkError: String,
             refresh : String,
        },
        methods:{
            Refresh:function(){
                console.log("1111");
               this.$emit('childMethod');
            }
        },
        
        created: function () {
            let deviceHeight = WXEnvironment.deviceHeight;
            let deviceWidth = WXEnvironment.deviceWidth;
            this.height = (deviceHeight*750/deviceWidth-108)/2;
            global.init();
        }
    }
</script>