<template>
  <div class="topbar" :style="{ backgroundColor: bgcolor}">
    <div  @click="goBack"  class="back">
          <crIconFont  name="ion-android-arrow-back" size="50px" color="#ffffff" @click="goBack()"></crIconFont>
    </div>
    <text style="color:#ffffff;font-family: Roboto;font-size: 34px">{{topbarname}}</text>
    <text class="right-part" :style="{ color: bgcolor}">.</text>
  </div>


</template>

<script>
 import { getImgPath } from '../01.utils/common';  
 import { back } from '../01.utils/navigator';
 import global from '../02.bus/global';
export default {
  name: 'topbar',
  data () {
    return {
       global:global,
       getImgPath:getImgPath,
    }
  },
  props: {
        topbarname: String,
        textStyle: String,
        bgcolor:{
          type:String,
          default: '#E15D53'
        },
      },
  methods:{
    goBack: function() {
        back(this,"");
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .back{
        width:100px; height:100px; justify-content: center; align-items: center;
    }
  .topbar{
    position: fixed;
    top:0;
    width: 750px;
    height:100px;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
  }
  .right-part{
    width:100px;
    height:100px;
  }
  .backButton{
    width:100px;
    height:100px;
    text-align: center;
    line-height:100px;
    font-size: 40px;
    position: absolute;
    left:0px;
  }
</style>