<template>
    <div class="wrapper">
        <div class="content" :style="{color:bgcolor,height:height,backgroundColor:bgcolor}">
            <crIconFont v-if="secondaryPage" name="ion-android-arrow-back" size="50px" @click="goBack()"></crIconFont>
            <crIconFont v-else :name="app" size="50px" @click="jumpToMySubscribe()"></crIconFont>
            <text :style="{color:textColor}" class="title">{{name}}</text>
            <crIconFont :name="search" size="50px" @click="jumpToSearch()"></crIconFont>
        </div>
    </div>
</template>

<script>
 import { getImgPath } from '../01.utils/common';  
 import { back } from '../01.utils/navigator';
 import global from '../02.bus/global';
 import { jumpSubPage } from '../01.utils/navigator';
export default {
  data () {
    return {
       global:global,
       getImgPath:getImgPath,
       app:'ion-android-apps',
       search:'ion-search',
    }
  },
  props: {
        secondaryPage: {
          type: Boolean,
          default: false,
        },
        name: {
          type:String,
          default:''
        },
        height:{
          type:String,
          default: '100px'
        },
        textStyle: String,
        textColor:{
          type: String,
          default:'white'
        },
        bgcolor:{
          type:String,
          default: '#E15D53'
        },
      },
  methods:{
    goBack() {
        console.log("qingsong1");
        back(this,"");
    },
    jumpToSearch(){
      jumpSubPage(this,"searchPage");
    },
    jumpToMySubscribe(){
      console.log("qingsongceshi1111111111111");
      jumpSubPage(this,"mySubscribe");
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .content{
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .title{
     font-size:34px;
     font-family: Roboto;
  }
</style>