<template>
    <div class="wrapper">
        <div class="content" :style="{color:bgcolor,height:height,backgroundColor:bgcolor}">
            <crIconFont name="ion-android-arrow-back" size="50px" @click="goBack()"></crIconFont>
            <text :style="{color:textColor}" class="title">{{name}}</text>
            <crIconFont  name="ion-android-share-alt" size="40px" :color="shareColor" @click="share(albumInfo)"></crIconFont>
        </div>
        <commonFun ref="commonFun" ></commonFun>
    </div>
</template>

<script>
 import { getImgPath } from '../01.utils/common';  
 import { back } from '../01.utils/navigator';
 import global from '../02.bus/global';
 import { jumpSubPage } from '../01.utils/navigator';
 import {getHost} from '../01.utils/fetch';
export default {
  data () {
    return {
       global:global,
       getImgPath:getImgPath,
       url:getHost()+"/display/index/displayAlbumInfo?id=",
    }
  },
  props: {
        secondaryPage: {
          type: Boolean,
          default: false,
        },
        willHide: {
          type: Boolean,
          default: false,
        },
        name: {
          type:String,
          default:''
        },
        height:{
          type:String,
          default: '100px'
        },
        textStyle: String,
        textColor:{
          type: String,
          default:'white'
        },
        albumInfo:{
          type:Object,
        },
        bgcolor:{
          type:String,
          default: '#E15D53'
        },
        shareColor:{
          type:String,
          default: '#ffffff'
        },
      },
  methods:{
    goBack() {
        back(this,"");
    },
    jumpToMySubscribe(){
      jumpSubPage(this,"mySubscribe")
    },
    share(albumInfo){
      console.log(albumInfo);
        let url = "";
        this.$refs.commonFun.ShareArticle(
            albumInfo.author
            ,this.url+albumInfo.id
            ,albumInfo.img_url
            ,albumInfo.remark
        );
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .content{
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .title{
     font-size:34px;
  }
</style>