<template>
    <video id="videPlay" class="video" :src="src" autoplay controls></video>
</template>
<style scoped>
    .video {
        width: 750px;
        height: 480px;
    }
</style>
<script>

    export default{
        props: {
            src: String,
            title: String,
            isLandscape: Boolean
        }
    }

</script>
