<template>
    <div class="wx-tabbar">
            <div class="tab-component" :style="{'transform': translateX, width: totalWidth + 'px'}">
                <slot></slot>
            </div>
            <div class="tabbar"  :style="getStyles()">
                <div class="tabbar-item" 
                    v-for="(item,index) in tabItems" 
                    @click="changeTab(item,index)" v-bind:key="index">
                    <crIconFont :name="item.iconFont" size=40 :color="selectedTab === item.index?item.selectedColor:item.titleColor" @click="changeTab(item,index)"></crIconFont>
                    <text class="wx-text" :style="getTitleStyle(item)" >{{ item.title }}</text>
                </div>
            </div>       
    </div>
    
</template>
<style scoped>
    .wx-tabbar {
        width:750px;
    }
    .tab-component {
        flex-direction: row;
    }
    .tabbar {
        width: 750px;
        position: fixed;
        left: 0;
        right: 0;
        bottom:0;
        /*padding-bottom: 15px;*/
        z-index: 1000;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #D8D8D8;
        background-color: #fff;
    }

    .tabbar-item {
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .icon {
        /*margin-top: 14px;
        margin-bottom: 10px;*/
        width: 48px;
        height: 48px;
    }
    .wx-text {
        font-size: 25px;
        padding-top: 2px;
        text-align: center;
        color: #646464;
    }
</style>
<script>
    import { jumpSubPage } from '../01.utils/navigator';
    export default {
        // mixins: [mixins],
        props: {
            tabItems: {
                type: Array,
                default: function () {
                    return []
                },
                required: true
            },

            styles: {
                type: Object,
                default: function () {
                    return {}
                },
                required: false
            },
            height: {
                type: String,
                default: '108px'
            },
            network:{
                default: 1
            },
        },

        data () {
            return {
                selectedTab:0,
                translateX: 'translateX(0px)', 
                deviceWidth: 750,
                titleStyle: {},
            }
        },
        created(){
            let self = this;
             self.totalWidth = self.deviceWidth * self.tabItems.length;
        },
        mounted () {
            let self = this;
            if(self.network == 1){
                self.selectedTab = 0;
            }else if(self.network == 3){
                self.selectedTab = 1;
                self.$emit('wxChange', self.selectedTab);
            } else{
                self.selectedTab = 3;
                self.$emit('wxChange', self.selectedTab);
            }
            // self.totalWidth = self.deviceWidth * self.tabItems.length;
            self.setTranslateX();
        },

        methods: {
            changeTab (item,index) { 
                this.selectedTab = index;
                this.setTranslateX();
                this.$emit('wxChange', index);         
            },
            setTranslateX () {
                const x = this.selectedTab * 750;//this.deviceWidth;
                this.translateX = `translateX(-${x}px)`;
            },
            getStyles () {
                const baseStyle =  {
                    'bottom': 0, 
                    'height': this.height
                };
                return Object.assign({}, baseStyle, this.styles);
            },
            getIconStyle (item) {
                return {
                    width: item.iconWdith || '48px',
                    height: item.iconHeight || '48px',
                }
            },
            getTitleStyle (item) {
                return {
                    'font-size': item.fontSize || '28px',
                    'color': this.selectedTab === item.index ? item.selectedColor : item.titleColor,
                }
            },
        }
    }
</script>