<template>
	<div class="body" :style="{height:height}">
        <topbar :topbarname="feedback"></topbar> 
        
        <webView ref="webview" class="web" :src="url" :style="{height:height}"></webView>
        <commonFun ref="commonFun" ></commonFun>
    </div>
</template>
<script>
    
    import { back } from '../01.utils/navigator';
	export default {
            data: () => ({
                height:'',
                url:'',
            }),
            created:function () {
                let deviceHeight = WXEnvironment.deviceHeight || unknown;
                let deviceWidth = WXEnvironment.deviceWidth || unknown;
                this.height = 750/deviceWidth*deviceHeight;
                this.url = "http://read.biblemooc.net/display/index/about";
            },
    		methods:{
                goBack(){
                    back();
                },
    		}

    }
</script>

<style scoped>
	.body{
        width: 750px;

    }
    .web{
        position: absolute;
        width: 750px; 
        /*height: 1334px;*/
        top:100px;
    }
</style>