<template>
    <div class="body">
        <topNavigationWidgetWithBack :name="topName" :albumInfo="shareAlbumInfo"></topNavigationWidgetWithBack>
        <div class="suggestionList" v-if="netStatus==2">
            <image class="album_image" :src="albumInfo.img_url"></image>
            <text class="album-title" style="font-family: Roboto;">{{albumInfo.name}}</text>
            <text class="author" style="font-family: Roboto;">{{albumInfo.author}}</text>
            <text class="follow_count" style="font-family: Roboto;">{{albumInfo.follow_count}}位订阅者</text>
            <div v-if="followStatus==1" class="subscribeBtn-subscribed"  @click="toggleSubscribe(albumInfo.id,index)">
                <image class="img_subscribeBtn" :src="getImgPath('followok.png')" resize="cover"></image>
                <text class="text_subscribedBtn_" style="font-family: Roboto;">已订阅</text>
            </div>
            <div v-else class="subscribeBtn"  @click="toggleSubscribe(albumInfo.id,index)">
                <crIconFont name="ion-android-add-circle" size="25px"></crIconFont>
                <text class="text_subscribeBtn" style="font-family: Roboto;">订阅</text>
            </div> 
        </div>
        <div class="suggestionBar" v-if="netStatus==2">
            <text class="text_suggestion" style="font-family: Roboto;">本专栏文章列表</text>
            <!-- <text class="text_suggestion_icon">></text> -->
        </div> 
        <list class="content" v-if="netStatus==2">    
            <cell class="article" v-for="(item,index) in articleInfo" :key="index">
                <div class="article-mid" @click="jumpToRead(item.id)">
                    <text class="title" style="font-family: Roboto;">{{item.title}}</text>
                    <image :src="item.img_url" style="width:240px;height:150px;border-radius:5px;" resize="cover"></image>
                </div> 
                <div style="flex-direction: row;justify-content: space-between;align-items: center;padding-left: 25px;padding-right:40px">
                    <div style="flex-direction: row;justify-content: space-between;align-items: center">
                        <text style="color: #B6B6B6;font-size: 21px;font-family: Roboto">{{item.browse}}阅读•</text>
                        <text style="color: #B6B6B6;font-size: 21px;font-family: Roboto">{{item.love_count}}喜欢</text>
                    </div>
                    <text style="color: #B6B6B6;font-size: 21px;font-family: Roboto">{{item.publish_dated}}</text>
                </div>     
            </cell>  
            <!-- <loading class="loading" @loading="loadMore" :display="loadinging ? 'show' : 'hide'">
                  <text class="indicator-text" style="font-family: Roboto;">Loading ...</text>
                  <loading-indicator class="indicator"></loading-indicator>
            </loading>    -->
        </list>
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
        
    </div>  
</template>
<script>
    import { getImgPath } from '../01.utils/common';
    import util from '../01.utils/util';
    import prompt from '../01.utils/prompt';
    import { getAlbumInfoById } from '../02.bus/creader';
    import { userFollow } from '../02.bus/creader';
    import { userRemoveColumn } from '../02.bus/creader';
    import { jumpSubPage, } from '../01.utils/navigator';
    import {getDeviceDisplayInfo} from '../01.utils/device';
    import syncAblumInfo from '../02.bus/syncAblumInfo';
    import {getOpenId,getUserId} from '../02.bus/user'
    import googleTrack from '../02.bus/googleTrack';

    export default {        
        data () {
          return {
              topName:'专栏主页',
              id:0,
              getImgPath:getImgPath,
              textStyle:'',
              pageIndex:1,
              albumInfo:[],
              shareAlbumInfo:{},
              articleInfo:[],
              storagediv:[],
              networkStatus:1,
              global:global,
              loadinging:false,
              netStatus:0,
              errorType:'',
              errorMsg:'',
              followStatus:'',
              clientUrl:"",
              height:'',
          }
        },
        created:function () {
            let deviceInfo = getDeviceDisplayInfo();
            let deviceHeight = deviceInfo.deviceHeight || unknown;
            let deviceWidth = deviceInfo.deviceWidth || unknown;
            this.height = 750/deviceWidth*deviceHeight;
            var self = this;

            self.id = util.getUrlSearch(weex.config.bundleUrl,'id');
            self.followStatus = util.getUrlSearch(weex.config.bundleUrl,'status');
            console.log(self.id);
            self.getData(self.id,self.pageIndex);
        },
        computed:{
            albumName:function(){
                var self = this;
                return self.albumInfo.name;
            }
        },
        methods:{
            onchange(event){
            console.log('changed:', event.index)
            },
            bannerJump(event){
                console.log("11")
            },
            getData(id,pageIndex){
                var self = this;
                getAlbumInfoById(id,pageIndex).then(res=>{
                    console.log(res);
                    if(res.status != -1 && typeof(res.data)!="undefined"){
                        self.netStatus = 2;
                        self.albumInfo = res.data.data.albumInfo;
                        self.shareAlbumInfo = {"author":self.albumInfo.author,
                                                "id":self.albumInfo.id,
                                                "img_url":self.albumInfo.img_url,
                                                "remark":self.albumInfo.remark
                                            };
                        self.articleInfo = self.articleInfo.concat(res.data.data.articleInfo);
                        self.clientUrl = res.data.data.client_url;
                        for(let i = 0;i<self.articleInfo.length; i++){
                            self.articleInfo[i].publish_dated = self.articleInfo[i].publish_dated.slice(0,10)
                        }
                        self.loadinging = false;
                        // googleTrack.userOpenAlbum(self.albumInfo.name,self.albumInfo.id);
                        
                    }
                    else{
                        self.netStatus = 1;
                        self.errorType = 'neterror';
                    }
                })
            },
            jumpToRead(id){
                let article;
                let len = this.articleInfo.length;
                for(let i=0;i<len;i++){
                    if(id == this.articleInfo[i].id){
                        article = this.articleInfo[i];
                        break;
                    }
                }
                if(article){
                    if(article.is_shop == 1){
                        jumpSubPage(this,'storeBookDetail',{id:article.id,title:article.title,des:article.des,img_url:article.img_url});
                    }
                    else
                    {
                        jumpSubPage(this,'articleDetails',
                            {id:article.id
                            ,title:article.title
                            ,des:article.des
                            ,img_url:article.img_url
                            ,album_id:this.albumInfo.id
                            ,album_img_url:this.albumInfo.img_url
                            ,album_name:this.albumInfo.name
                            }
                        );
                    }
                }
            },
            refresh(){
                var self = this;
                // global.init();
                prompt.toast("hi");
                self.netStatus = 0;
                self.getData(self.pageIndex);
            },
            loadMore (event) {
                var self=this;
                self.loadinging = true;
                if(self.articleInfo.length<10*self.pageIndex){
                    prompt.toast("已经到底了");
                    setTimeout(() => {
                        self.loadinging = false;
                    }, 2000)
                }else{
                    self.pageIndex = self.pageIndex+1;
                    self.getData(self.id,self.pageIndex);
                }
            },
            toggleSubscribe(albumId){
                var self = this;
                getOpenId().then(openId=>{
                    if(openId){
                        if(self.followStatus==0){
                            userFollow(albumId).then(res=>{
                                console.log(res);
                                prompt.toast('订阅成功');
                                if(res.data.status==1){
                                    self.followStatus = 1;
                                    self.albumInfo.follow_count = self.albumInfo.follow_count + 1;
                                    syncAblumInfo.follow(albumId);
                                }
                            })
                        }else{
                            userRemoveColumn(albumId).then(res=>{
                            console.log(res);
                            prompt.toast('订阅取消');
                            if(res.data.status==1){
                                self.followStatus = 0;
                                self.albumInfo.follow_count = self.albumInfo.follow_count - 1;
                                syncAblumInfo.cancel(albumId);
                            }
                        })
                    }
                    }else{
                        prompt.toast("请登录");
                        setTimeout(() => {
                            jumpSubPage(this,'userLogin');
                        }, 2000)
                    }
                });
            },

        }

    }
</script>

<style scoped>
    .body{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background-color: #F0F0F2;
    }
    .suggestionList{
        position: absolute;
        left:0;
        top:100px;
        right:0;
        height: 487px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
    }
    .album_image{
        width:150px;
        height: 150px;
        border-radius: 75px;
    }
    .album-title{
        font-size: 34px;
        color: #101010;
        font-weight: bold;
        margin-top:30px;
    }
    .author{
        font-size: 25px;
        color: #101010;
         margin-top:30px;
    }
    .follow_count{
        font-size: 21px;
        color: #888888;
         margin-top:30px;
    }
    .subscribeBtn{
        width:115px;
        height:50px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top:30px;
        /*background-color: lightblue;*/
    }
    .subscribeBtn-subscribed{
        width:115px;
        height:50px;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
        margin-top:30px;
    }
    .text_subscribeBtn{
        color:white;
        font-size: 24px;
    }
    .text_subscribedBtn_{
        color:#888888;
        font-size: 24px;
    }
    .img_subscribeBtn{
        width:24px;
        height:24px;
    }
    
    .content{
        position: absolute;
        left:0;
        right:0;
        top:698px;
        bottom: 0;
        background-color: #ffffff;
    }
    .suggestionBar{
         width:750px;
         height:96px;
         position: absolute;
         top:602px;
         flex-direction: row;
         align-items: center;
         padding-left: 30px;
         padding-right: 30px;
         justify-content: space-between;
         border-bottom-width:2px;
         border-bottom-style: solid;
         border-bottom-color: #F0F0F2;
         background-color:#ffffff;
    }
    .text_suggestion{
        color: #888888;
        font-size:25px;
    }
    .article{
        border-bottom-width:2px;
        border-bottom-style: solid;
        border-bottom-color: #F0F0F2;
        padding-bottom: 25px;
        /*background-color: lightblue;*/
    }

    .article-mid{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 750px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top:20px;
        padding-bottom: 20px;
        /*background-color: lightgreen;*/
    }
    .title{
        width: 440px;
        height: 150px;
        font-size: 35px;
        color: #101010;
        font-weight: bold;
    }
    
    .loading {
        width: 750;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
      }
      .indicator-text {
        color: #E15D53;
        font-size: 42px;
        text-align: center;
      }
      .indicator {
        margin-top: 16px;
        height: 40px;
        width: 40px;
        color: #E15D53;
      }
      .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
      
</style>