<template>
	<div class="body">
        <div class="top">
           <!-- <image :src="getImgPath('close.png')" style="width:40px;height:40px;border-radius:20px;" @click="goBack"></image> -->

           <crIconFont name="ion-close" size="38px" color="#101010" @click="goBack"></crIconFont>
           <div style="flex-direction: row;justify-content: flex-start;align-albumInfos: center;">
                <div class="top-right">
                    <!-- <image :src="getImgPath('read.png')" style="width:40px;height:40px;border-radius:20px;font-family: Roboto"></image> -->
                    <crIconFont name="ion-eye" size="40px" color="#101010"></crIconFont>
                    <text style="color:#B6B6B6;font-size: 20px">{{browse}}阅读</text>
                </div>
                <div class="top-right">
                    <crIconFont v-if="isLoved == 0" name="ion-ios-heart-outline" size="38px" color="#101010" @click="addToLove(loveCount)"></crIconFont>                    
                    <crIconFont v-if="isLoved == 1" name="ion-ios-heart-outline" size="38px" color="red" @click="cancelLove(loveCount)"></crIconFont>
                    <text style="color:#B6B6B6;font-size: 20px;font-family: Roboto">・ {{loveCount}}喜欢 ・</text>
                </div>
                <div class="top-right" @click="share(id,shareCount)">
                    <!-- <image :src="getImgPath('sharearticle.png')" style="width:36px;height:36px;border-radius:20px" @click="share(articleInfo.id,articleInfo.share_count)"></image> -->
                    <crIconFont name="ion-android-share" size="38px" color="#101010" @click="share(id,shareCount)"></crIconFont>
                    
                    <text style="color:#B6B6B6;font-size: 20px;font-family: Roboto">{{shareCount}}分享</text>
                </div>
           </div>
           
        </div>
        <div class="suggestionList">
                <image class="album_image" :src="albumImgUrl"  @click="jumpToAuthorColumn(albumId)"></image>
                <div class="albumInfo" >
                    <div class="albumInfoDetail" @click="jumpToAuthorColumn(albumId)">
                        <div class="album_NS">
                            <div class="album_name">
                                <text class="text_album_name" style="font-family: Roboto;">{{albumName}}</text>
                            </div>
                            <div class="album_subscribed">
                                <text class="text_album_subscribed" style="font-family: Roboto;">{{albumFollowCount}}人订阅</text>
                            </div>
                        </div>
                        <div>
                            <text class="album_des" style="font-family: Roboto;">{{albumAuthor}}</text>
                        </div>
                    </div>
                    <div v-if="albumIsFollow==1" class="subscribeBtn-subscribed"  @click="toggleSubscribe(albumId)">
                        <!-- <image class="img_subscribeBtn" :src="getImgPath('followok.png')"></image> -->
                        <crIconFont name="ion-ios-checkmark" size="30px" color="#888888"></crIconFont>
                        <text class="text_subscribedBtn_" style="font-family: Roboto;">已订阅</text>
                    </div>
                    <div v-if="albumIsFollow==0" class="subscribeBtn"  @click="toggleSubscribe(albumId)">
                        <crIconFont name="ion-android-add-circle" size="35px"></crIconFont>
                        <text class="text_subscribeBtn" style="font-family: Roboto;">订阅</text>
                    </div>
                    
                </div>
            </div>
        <webView ref="webview" class="web" :src="url" :style="{height:height}"></webView>
        <commonFun ref="commonFun" ></commonFun>
    </div>
</template>
<script>
    import prompt from '../01.utils/prompt';
    import { getImgPath } from '../01.utils/common'; 
    import util from '../01.utils/util';
    import {  getArticleOtherInfo,userAddAticleToLove } from '../02.bus/creader';
    import { isArticleInLove,userRemoveAticleFromLove} from '../02.bus/creader';
    import { back } from '../01.utils/navigator';
    import { jumpSubPage } from '../01.utils/navigator';
    import googleTrack from '../02.bus/googleTrack';
    import {getOpenId,getUserId} from '../02.bus/user';
    import { userRemoveColumn,userFollow,shareArticleToFriends} from '../02.bus/creader';
    import syncAblumInfo from '../02.bus/syncAblumInfo';
    import {getDeviceDisplayInfo} from '../01.utils/device';

	export default {
            data: () => ({
                id:-1,
                url:'',
                browse:'',
                loveCount:'',
                shareCount:'',
                getImgPath:getImgPath,
                isLoved:0,//0表示没有
                title:'',
                des:'',
                imgUrl:'',
                articleInfo:{},
                albumInfo:[],
                browse:'',
                close:'ion-ios-close-empty',
                height:0,

                albumId:0,
                albumImgUrl:"",
                albumName:"",
                albumIsFollow:-1,
                albumAuthor:'',
                albumFollowCount:0,
            }),
            created:function () {
                let deviceInfo = getDeviceDisplayInfo();
                let deviceHeight = deviceInfo.deviceHeight || unknown;
                let deviceWidth = deviceInfo.deviceWidth || unknown;
                this.height = 750/deviceWidth*deviceHeight-222;
                var self = this;
                self.id = util.getUrlSearch(weex.config.bundleUrl,'id');
                self.url = "http://read.biblemooc.net/display/index/index?id="+self.id;

                self.title = util.getUrlSearch(weex.config.bundleUrl,'title');
                self.des = util.getUrlSearch(weex.config.bundleUrl,'des');
                self.imgUrl = util.getUrlSearch(weex.config.bundleUrl,'img_url');
                self.albumId = util.getUrlSearch(weex.config.bundleUrl,'album_id');
                self.albumImgUrl = util.getUrlSearch(weex.config.bundleUrl,'album_img_url');
                self.albumName = util.getUrlSearch(weex.config.bundleUrl,'album_name');
                
                self.getArticleOtherInfo(self.id,self.albumId);
                // googleTrack.userOpenArticle(self.title);
                console.log(self.title+" -- "+self.des+" -- "+self.img_url);
                console.log(self.albumId+" -- "+self.albumImgUrl+" -- "+self.albumName);
            },
    		methods:{
                goBack(){
                    back(this,'');
                },
                jumpToAuthorColumn(albumId){
                    jumpSubPage(this,'articleAlbumInfo',{id:albumId})
                },
                share(id,shareCount){
                    console.log(id,shareCount);
                    shareArticleToFriends(id,shareCount).then(res=>{
                        console.log(res);
                        this.$refs.commonFun.ShareArticle(
                            this.title
                            ,this.url
                            ,this.imgUrl
                            ,this.des
                        );
                    })
                    
                },
                getArticleOtherInfo(id,albumId){
                    var self = this;
                    getArticleOtherInfo(id,albumId).then(res=>{
                        console.log(res.data);
                        self.browse = res.data.articleInfo.browse;
                        self.loveCount = res.data.articleInfo.love_count;
                        self.shareCount = res.data.articleInfo.share_count;
                        self.isLoved = res.data.articleInfo.is_love;
                        self.albumIsFollow = res.data.articleInfo.is_follow;
                        self.albumAuthor = res.data.articleInfo.album_author;
                        self.albumFollowCount = res.data.articleInfo.album_follow_count;
                    })
                },
                addToLove(loveCount){
                    console.log("qingsong12");
                    var self = this;
                    // prompt.toast(self.id);
                    userAddAticleToLove(self.id,loveCount).then(res=>{
                        console.log(res);
                        if(res == -1){
                            prompt.toast("请登录");
                            setTimeout(() => {
                                jumpSubPage(this,'userLogin');
                            }, 2000)
                        }else{
                            if(res.data.data==1){
                                prompt.toast("收藏成功");
                                self.isLoved = 1;
                                self.loveCount += 1;
                            }else{
                                prompt.toast("已收藏");
                            }
                        }
                    })
                },
                cancelLove(loveCount){
                    var self = this;
                    userRemoveAticleFromLove(self.id,loveCount).then(res=>{
                        console.log(res);
                        prompt.toast(res.data.info);
                        self.isLoved = 0;
                        self.loveCount -= 1;
                    })
                },
                toggleSubscribe(albumId){
                    console.log("qingsongtoggle");
                    var self = this;
                    getOpenId().then(openId=>{
                        if(openId){
                            if(self.albumIsFollow==0){
                                userFollow(albumId).then(res=>{
                                    console.log(res);
                                    prompt.toast('订阅成功');
                                    if(res.data.status==1){
                                        self.albumIsFollow = 1;
                                        self.albumFollowCount = self.albumInfo.follow_count + 1;
                                        syncAblumInfo.follow(albumId);
                                    }
                                })
                            }else{
                                userRemoveColumn(albumId).then(res=>{
                                console.log(res);
                                prompt.toast('订阅取消');
                                if(res.data.status==1){
                                    self.albumIsFollow = 0;
                                    self.albumFollowCount = self.albumInfo.follow_count - 1;
                                    syncAblumInfo.cancel(albumId);
                                }
                            })
                        }
                        }else{
                            // var url = this.$getConfig().bundleUrl;
                            // console.log(url+"qingsong3333333333333");

                            // let questionMarkIndex = url.indexOf("?");

                            // console.log(questionMarkIndex+"qingsongdeceshi11111111111111");
                            // weex.config.bundleUrl.slice(0,207);

                            // weex.config.bundleUrl = url;
                            // console.log(weex.config.bundleUrl+"qingsongdeceshi2222222222222");

                            prompt.toast("请登录");
                            setTimeout(() => {
                                jumpSubPage(this,'userLogin',{from:'artcileDetail'});
                            }, 2000)
                        }
                    });
                },

    		}

    }
</script>

<style scoped>
	.body{
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-color: #F0F0F2;
    }
    .close{
        align-self: flex-start;
    }
    .top{
        position: fixed;
        left:0;
        right:0;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top:30px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #ffffff;
        /*background-color: lightblue;*/
    }
    .top-right{
        justify-content: space-between;
        align-items: center;
        height:76px;
    }
    .web{
        position: absolute;
        width: 750px; 
        /*height: 1334px;*/
        top:222px;

    }
    .suggestionList{
        position: absolute;
        top: 105px;
        height:112px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
        background-color: #ffffff;
        /*background-color: yellow;*/
    }
    .album_image{
        width:65.1px;
        height:65.1px;
        border-radius: 33px;
        margin-right:15px;
    }
    .albumInfo{
        width:630px;
        height:112px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left:10px;
    }
    .albumInfo_last{
        width:650px;
        height:112px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-left:10px;
    }
    .albumInfoDetail{
        height:100px;
        width:430px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 10px;
    }
    .article_read_recommend{
        color: #B6B6B6;
        font-size: 21px;
    }
    .album_NS{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;
    }
    .album_subscribed{
        border:1px solid grey;
        border-width:1px;
        border-style: solid;
        border-color: #D2D2D2;
        border-radius: 3px;
        padding: 5px;
        margin-left: 30px;
    }
    .text_album_subscribed{
        font-size: 18px;
        color:#B6B6B6;
      }
    .text_album_name{
        font-size: 29.4px;
        font-weight: bold;
        color:#545454;
        padding-bottom: 8px;
        /*width:200px;*/
        height:40px;
        overflow: hidden;
    }
    .album_des{
        color: #888888;
        font-size: 21px;
        padding-top: 8px;
        lines:1;
    }
    .subscribeBtn{
        width:132px;
        height:50px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        /*background-color: lightblue;*/
    }
    .subscribeBtn-subscribed{
        width:132px;
        height:50px;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
    }
    .text_subscribeBtn{
        color:white;
        font-size: 24px;
    }
    .text_subscribedBtn_{
        color:#888888;
        font-size: 24px;
    }
    .img_subscribeBtn{
        width:24px;
        height:24px;
    }
</style>