<template>
    <div class="wrapper">
        <!-- <topNavigationWidgetWithBack :name="allAlbums" :willHide="willHide"></topNavigationWidgetWithBack> -->
        <div class="top">
            <crIconFont  name="ion-android-arrow-back" size="50px" @click="goBack()" color="#ffffff"></crIconFont>
            <text style="color:#ffffff;font-family: Roboto;font-size: 34px">全部专栏</text>
            <crIconFont name="ion-ios-personadd" size="50px" color="#E15D53"></crIconFont>
        </div>
        <scroller v-if="netStatus==2">
            <followAlbum :albums="albumLists"></followAlbum>
        </scroller>  
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>  
    </div>
</template>

<script>
 import { getImgPath } from '../01.utils/common';  
 import { back } from '../01.utils/navigator';
 import global from '../02.bus/global';
 import {getOpenId,getUserId} from '../02.bus/user';
 import { jumpSubPage } from '../01.utils/navigator';
 import prompt from '../01.utils/prompt';
 import { userFollow,userRemoveColumn,queryAllAlbumLists} from '../02.bus/creader';
 import {storageGetItem} from '../01.utils/storage';
 import syncAblumInfo from '../02.bus/syncAblumInfo';
export default {
  data () {
    return {
        global:global,
        getImgPath:getImgPath,
        albumLists:[],
        errorType:'',
        errorMsg:'',
        netStatus:0,
        allAlbums:"全部专栏",
        height:'',
        willHide: true,
    }
  },
  computed:{
        Id:function(){
            var self = this;
            return self.albums.length;
        }
    },
  props: {
        
      },
      mounted(){
         
      },
    created(){
        let deviceHeight = WXEnvironment.deviceHeight || unknown;
        let deviceWidth = WXEnvironment.deviceWidth || unknown;
        this.height = parseInt(750/deviceWidth*deviceHeight);
        this.getData();
        syncAblumInfo.receive(res=>{
            let self = this;
            for(let i = 0;i<self.albumLists.length;i++){
                if(res.data.id == self.albumLists[i].id && res.data.status == 'add'){
                    self.albumLists[i].status = 1;
                    self.albumLists[i].follow_count = self.albumLists[i].follow_count + 1;
                }
                if(res.data.id == self.albumLists[i].id && res.data.status == 'cancel'){
                    self.albumLists[i].status = 0;
                    self.albumLists[i].follow_count = self.albumLists[i].follow_count - 1;
                }
            }                   
        })
    },
  methods:{
    goBack: function() {
        back(this,"");
    },
    share(){

    },
    getData(){
        queryAllAlbumLists().then(res=>{
            let self = this;
            console.log(res);
            if(res.status != -1 && typeof(res.data)!="undefined") {
                var alreadyFollowList = res.data.data.alreadyFollowList;
                self.albumLists = res.data.data.notSubscribedList;
                self.netStatus = 2;
                for(let i = 0; i<self.albumLists.length; i++){
                    for(let k = 0; k<alreadyFollowList.length; k++){
                        if(self.albumLists[i].id==alreadyFollowList[k].id){
                            self.albumLists[i].status = 1;
                        }
                    }                               
                }
            }else{
                self.netStatus = 1;
                self.errorType = 'neterror';
            }
            
        })
    },
    toggleSubscribe(albumId,index){
        var self = this;
        prompt.toast(index);
        getOpenId().then(openId=>{
            if(openId){
                for(let i = 0; i <self.albums.length; i++){
                    if(i==index){
                        if(self.albums[i].status==0){
                            userFollow(albumId).then(res=>{
                                prompt.toast("订阅成功");
                                if(res.data.status==1){
                                    self.albums[i].status=1;
                                    self.albums[i].follow_count = self.albums[i].follow_count + 1;
                                    syncAblumInfo.follow(albumId);
                                }
                            })
                        }else{
                            userRemoveColumn(albumId).then(res=>{
                                prompt.toast("取消成功");
                                if(res.data.status==1){
                                    self.albums[i].status=0;
                                    self.albums[i].follow_count = self.albums[i].follow_count - 1;
                                    syncAblumInfo.cancel(albumId);
                                }
                            })
                        }
                    }
                }
            }else{
                prompt.toast("请登录");
                setTimeout(() => {
                    jumpSubPage(this,'userLogin');
                }, 2000)
            }
        });

    },
    jumpToAuthorColumn(albumId,status){
        jumpSubPage(this,'articleAlbumInfo',{id:albumId,status:status})
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .content{
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .title{
     font-size:34px;
  }
  .top{
        width: 750px;
        height: 100px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
</style>