<template>
  <div class="wrapper">
    <slider class="slider" @change="toChangeTags" :index="selectedTab">
      <Index ref="homePage"></Index>
      <subscribe ref="subs"></subscribe>
      <!-- <message ref="msg"></message> -->
      <libraryBook ref="library"></libraryBook>
      <me ref="center"></me>
    </slider>
    <div class="tabbar">
      <div
        class="tabbar-item"
        v-for="(item,index) in tabItems"
        v-bind:key="index"
        @click="changeTab(index)"
      >
        <crIconFont
          :name="item.iconFont"
          size="40px"
          :color="selectedTab === item.index?item.selectedColor:item.titleColor"
          @click="changeTab(index)"
        ></crIconFont>
        <text
          class="wx-text"
          :style="getTitleStyle(item)"
          @click="changeTab(index)"
        >{{ item.title }}</text>
      </div>
    </div>
  </div>
</template>

<script>
import Config from "../03.components/tabbar/weextabbarConfig";
import { jumpSubPage } from "../01.utils/navigator";
import { checkNetStatusOnOrOff } from "../01.utils/common";
import prompt from "../01.utils/prompt";
import googleTrack from "../02.bus/googleTrack";
import util from "../01.utils/util";
export default {
  name: "App",
  components: {},
  data() {
    return {
      selectedTab: 0,
      tabItems: Config.tabItems,
      network: 1,
      currentpage: 0
    };
  },
  created() {
    console.log("WXEnvironment.deviceHeight: " + WXEnvironment.deviceHeight);
    var from = util.getUrlSearch(weex.config.bundleUrl, "from");
    if (from) {
      this.network = 3; //表示是从我的订阅页面跳转过来
    } else {
      this.network = checkNetStatusOnOrOff();
      if (this.network == 1) {
        // googleTrack.userHome();
      } else {
        // googleTrack.userLibrary();
      }
    }
  },
  methods: {
    toChangeTags: function(event) {
      console.log(event);
      if (typeof event.index == "number") {
        console.log(
          " toChangeTag - tagsIndex - " + this.selectedTab + " - " + event.index
        );
        if (this.selectedTab == event.index) {
          return;
        }
        this.handleChange(event.index);
        this.selectedTab = event.index;
      }
    },
    changeTab(index) {
      this.toChangeTags({ index: index });
      // this.$emit('wxChange', index);
    },
    handleChange(e) {
      // this.currentpage = e;
      switch (e) {
        case 0:
          this.$refs.homePage.loadData();
          // googleTrack.userHome();
          break;
        case 1:
          this.$refs.subs.loadData();
          // googleTrack.userFollow();
          break;
        // case 2:
        //     googleTrack.userChat();
        //     this.$refs.msg.loadData();
        //     // jumpSubPage(this,"chat.js",{});
        //     break;
        case 2:
          this.$refs.library.loadData();
          // googleTrack.userLibrary();
          break;
        case 3:
          this.$refs.center.loadData();
          // googleTrack.userMe();
          break;
      }
    },
    getStyles() {
      const baseStyle = {
        bottom: 0,
        height: this.height
      };
      return Object.assign({}, baseStyle, this.styles);
    },
    getIconStyle(item) {
      return {
        width: item.iconWdith || "48px",
        height: item.iconHeight || "48px"
      };
    },
    getTitleStyle(item) {
      return {
        "font-size": item.fontSize || "28px",
        color:
          this.selectedTab === item.index ? item.selectedColor : item.titleColor
      };
    }
  }
};
</script>

<style scoped>
.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eaebec;
}
.greeting {
  text-align: center;
  margin-top: 70px;
  font-size: 50px;
  color: #41b883;
}
.message {
  margin: 30px;
  font-size: 32px;
  color: #727272;
}
.tab-page {
  width: 750px;
}
.tabbar {
  width: 750px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 108px;
  /*padding-bottom: 15px;*/
  z-index: 1000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #d8d8d8;
  background-color: #fff;
}
.slider {
  top: 0;
  right: 0;
  bottom: 108;
  left: 0;
  position: absolute;
}
.tabbar-item {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
</style>
