<template>
  <div class="wrapper">
    <weextabbar :tabItems="tabItems" @wxChange="handleChange" :network="network">
      <Index ref="homePage"></Index>
      <subscribe ref="subs"></subscribe>
      <message></message>
      <libraryBook ref="library"></libraryBook>
      <me ref="center"></me>
    </weextabbar>
  </div>
</template>

<script>
import Config from "../03.components/tabbar/weextabbarConfig";
import { jumpSubPage } from "../01.utils/navigator";
import { checkNetStatusOnOrOff } from "../01.utils/common";
import prompt from "../01.utils/prompt";
import googleTrack from "../02.bus/googleTrack";
import util from "../01.utils/util";
export default {
  name: "App",
  components: {},
  data() {
    return {
      tabItems: Config.tabItems,
      network: 1,
      currentpage: 0
    };
  },
  created() {
    console.log("WXEnvironment.deviceHeight: " + WXEnvironment.deviceHeight);
    var from = util.getUrlSearch(weex.config.bundleUrl, "from");
    if (from) {
      this.network = 3; //表示是从我的订阅页面跳转过来
    } else {
      this.network = checkNetStatusOnOrOff();
      if (this.network == 1) {
        // googleTrack.userHome();
      } else {
        // googleTrack.userLibrary();
      }
    }
  },
  methods: {
    handleChange(e) {
      // this.currentpage = e;
      switch (e) {
        case 0:
          this.$refs.homePage.loadData();
          // googleTrack.userHome();
          break;
        case 1:
          this.$refs.subs.loadData();
          // googleTrack.userFollow();
          break;
        case 2:
          // googleTrack.userChat();
          // jumpSubPage(this,"chat.js",{});
          break;
        case 3:
          this.$refs.library.loadData();
          // googleTrack.userLibrary();
          break;
        case 4:
          this.$refs.center.loadData();
          // googleTrack.userMe();
          break;
      }
    }
  }
};
</script>

<style scoped>
.greeting {
  text-align: center;
  margin-top: 70px;
  font-size: 50px;
  color: #41b883;
}
.wrapper {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
}
.message {
  margin: 30px;
  font-size: 32px;
  color: #727272;
}
.tab-page {
  width: 750px;
}
</style>
