<template>
    <div class="body">       
        <slider class="slider" :style="{height:height}" scrollable="true" offset-x-accuracy="20" @change="next">
            <div class="content">
                <!-- :style="{height:height}" -->
                <text v-for="item in arrSlogan" class="slogan">{{item}}</text>              
                <image :src="getImgPath('logo.png')" class="logo"></image>
            </div>
            <div class="content1">
                <scroller :style="{height:top-220}" show-scrollbar="false">
                    <text class="des" style="font-size:55px;font-weight:bold;text-align:center;">{{des1}}</text> 
                    <text class="des" style="color:#666666">{{  des2}}</text> 
                    <text class="des" style="font-weight:bold;">{{des3}}</text> 
                    <text class="des" style="color:#666666">{{des4}}</text> 
                    <text class="des" style="font-weight:bold;">{{des5}}</text> 
                    <text class="des" style="color:#666666">{{  des6}}</text> 
                </scroller>
                <div class="bottomHint">
                    <!-- <text class="button" @click="goToChatPage">是的</text> -->
                    <text class="button" @click="goToHomePage">跳过</text>
                </div>
            </div>
            <indicator :style="{top:top-100}" class="indicator"></indicator>
        </slider>
    </div>
</template>
<script>
    import { getImgPath } from '../01.utils/common';
    import global from '../02.bus/global';
    import Utils from '../01.utils/Utils';
    import Config from '../03.components/tabbar/weextabbarConfig';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage } from '../01.utils/navigator';
    import { getSuggestBookLists } from '../02.bus/creader';
    export default {
        data () {
            return {
                getImgPath:getImgPath,
                slogan:'陪伴您终身学习',
                arrSlogan:[],
                height:'',
                width:'',
                index:1,
                pageTwo:false,
                top:'',
                des1:'认识耶稣',
                des2:'上帝爱你！圣经说：“神爱世人，把自己的独生子赐给世人，叫信他的人不至灭亡，却得永生”。',
                des3:'问题是…',
                des4:'人都犯了罪(比如撒谎 偷窃等...)，罪把我们从神中分离出来,上帝是完美而圣洁的，而我们的罪孽永远将我们分开。圣经说:“罪的工价乃是死。”',
                des5:'但好消息是，',
                des6:'大约2000年前，上帝派他唯一的儿子耶稣来到人间，以他无罪的生命，死在十字架上为我们的罪付出代价，最后从死里复活住在天堂。如果接受他为生命主，罪就得赦免，他就会进入你的生活，享受今生的平安和来世的永生。你可以这样祷告：“主啊，我相信你是上帝的儿子。感谢你为我的罪孽而死。求你赦免我的罪，做我生命的主，带领我的生活。”并点击下面的按钮，告诉我们有关你在信仰上的问题。',
            }
        },
        created:function () {
            this.height = WXEnvironment.deviceHeight || unknown;
            this.width = WXEnvironment.deviceWidth || unknown;
            this.top = this.height*(750/this.width)-100;
            this.arrSlogan = this.slogan.split('');
            console.log(this.arrSlogan);
        },
        methods:{
            next(e){
                console.log(e);
                if(e.index==1){
                    this.pageTwo = true;
                }
//                jumpSubPage(this,'index',{closeThisPage:true});
            },
            goToHomePage(){
                // jumpSubPage(this,'entry',{closeThisPage:true});
                var event = weex.requireModule('event');
                event.openApp("tabBarPage");
            },
            goToChatPage(){
                // jumpSubPage(this,'chat',{decision:true,closeThisPage:true});
                var event = weex.requireModule('event');
                event.openApp("chat");
            },
            
        }

    }
</script>

<style scoped>
    .body{
        position: absolute;
        width:750px;
        left:0;
        top:0;
        right:0; 
        bottom:0;
    }
    .slider{
        position: absolute;
        width:750px;
        left:0;
        top:0;
        right:0;
        bottom:0;
        /*align-items: center;
        justify-content: flex-start;*/
        /*background-color: lightblue;*/
    }
    .indicator {
       width: 200px;
       height: 30px;
       item-color: grey;
       item-selected-color: #E15D53;
       item-size: 20px;
       position:absolute;
       left:275px;
       /*bottom: 200px;*/
    }
    .content{
        width: 750px;
        height:1000px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*background-color: lightgreen;*/
    }  
    .content1{
        width: 750px;
        padding-left:50px;
        padding-right:50px;
        /*background-color: green;*/
    }
    .slogan{
        font-size:65px;
        margin-top:15px;
    }
    .logo{
        width:80px;
        height:80px;
        margin-top:100px;
    }
    .bottomHint{
        flex-direction: row;
        justify-content: space-around;
        margin-top:30px;
    }
    .des{
        font-size:35px;
        margin-top:30px;
    }
    .button{
        width:200px;
        height:70px;
        font-size:35px;
        border-width:1px;
        border-style: solid;
        border-color: #D2D2D2;
        border-radius: 10px;
        text-align: center;
        line-height:70px;
    }
</style>