<template>
    <div class="body">
        <div class="suggestionBar1">           
            <div class="suggestionBar2" v-if="!isWeb">
                <image :src="getImgPath('backarrow.png')" class="top_img" @click="back()"></image>
                <image :src="getImgPath('sharetofriend.png')" class="top_icon" @click="share()"></image>
            </div>
            <div class="suggestionBar3" v-else>
                <image :src="getImgPath('sharetofriend.png')" class="top_icon" @click="share()"></image>
            </div>
        </div>
        <scroller v-if="netStatus==2" class="scroller">
            <div class="content">
                <image :src="bookInfo.img_url" class="book_img"></image>
                <div class="info">
                    <text class="title">{{bookInfo.title}}</text>
                    <div class="mid">
                        <text class="author">{{bookInfo.author}}</text>
                    </div>
                    <text class="tag">{{bookInfo.name}}</text>
                </div>
            </div>   
            <div class="des">
                <text :style={lines:lines} class="bookDes">{{bookInfo.content}}</text>
            </div> 
            <div style="flex-direction:row;justify-content:center;margin-bottom:30px;">
                <image v-if="showMoreDes" :src="getImgPath('up.png')" style="width:32px;height:32px" @click="toggleShowMoreDes()"></image>
                <image v-else :src="getImgPath('down.png')" style="width:32px;height:32px" @click="toggleShowMoreDes()"></image>
            </div>
            <!-- <div class="suggestionBar">
                <text class="text_suggestion">评论</text>
                <text class="text_suggestion_icon">></text>
            </div>    -->
            <div class="suggestionBar">
                <text class="text_suggestion">推荐书籍</text>
                <!-- <text class="text_suggestion_icon" style="display: none;">></text> -->
            </div>  
            <div  class="suggestionBook">
                <div class="alreadyFollowList_album" v-for="item in bookLists" :key="item.title">
                    <image :src="item.img_url" class="s_img" @click="jumpToBookProfile(item.id)"></image>
                    <text class="alreadyFollowList_album_name">{{item.title}}</text>
                </div>
            </div> 
        </scroller>
        <progress :value="progress.value" :bar-width="progress.deviceWidth" :barHeight=20  style="margin-top:20px" v-if="progress.visible"></progress>
        <div v-if="netStatus==2">
            <div v-if="isWeb" class="bottom-div1">
                <a href="/display/index/downloadAddress"><text class="bottom-text3" >点击这里下载APP,阅读本书</text></a>
            </div>
            <div v-else class="bottom-div">
                <text class="bottom-text1" @click="addBookToShelf(bookInfo.book_id)">{{addtext}}</text>
                <text class="bottom-text2" @click="readBook(bookInfo.book_id,bookInfo.book_address)">开始阅读</text>
            </div>
        </div>
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
        <commonFun ref="commonFun" ></commonFun>
    </div>  
</template>
<script>
    import { getImgPath } from '../01.utils/common';
    import { jumpSubPage } from '../01.utils/navigator';
    import { back } from '../01.utils/navigator';
    import util from '../01.utils/util';
    import {getHost} from '../01.utils/fetch';
    import { getBookProfile } from '../02.bus/creader';
    import prompt from '../01.utils/prompt';
    import {userAddBookToShelf} from '../02.bus/creader';
    import syncBookShelf from '../02.bus/syncBookShelf';
    import downloadEvent from '../01.utils/globalEvent';
    import {getOpenId,getUserId} from '../02.bus/user'
    import { getBookShelf,saveBookShelf} from '../02.bus/creader';
    import {storageSetItem,storageGetItem,storageRemoveItem} from '../01.utils/storage'
    import googleTrack from '../02.bus/googleTrack';

    export default {
        data () {
          return {
              getImgPath:getImgPath,
              id:'',
              isWeb:false,
              bookInfo:[],
              platform:'',
              bookLists:[],
              storagediv:[],
              networkStatus:1,
              global:global,
              lines:3,
              showMoreDes:false,
              addtext:'+加入书架',
              height:'',
              netStatus:0,
              errorType:'',
              errorMsg:'',
              url:getHost()+"/display/index/displayBook?id=",
              progress:{
                  visible: false,
                  value: 0,
              }
          }
        },
        created:function () {
            var deviceHeight = WXEnvironment.deviceHeight || unknown;
            var deviceWidth = WXEnvironment.deviceWidth || unknown;
            this.height = 750/deviceWidth*deviceHeight;
            if (typeof WXEnvironment === 'object') {
                this.platform = WXEnvironment.platform || unknown;
                if(this.platform == 'Web'){
                    this.isWeb = true;
                }
            }
            var self = this;
            self.id = util.getUrlSearch(weex.config.bundleUrl,'id');
            // prompt.toast(self.id);
            // self.id = 207;
            self.getData(self.id);
            downloadEvent.addDownLoadBookEventListener(function(res) {
                if(res.status == 1){
                    if( self.progress.visible==false) {
                        self.progress.visible = true;
                    }
                    self.progress.value = res.progress;
                }
                else if(res.status == 2){
                    self.progress.visible = false;
                }
                console.log(res);
            })
        },
        methods:{
            onchange(event){
            console.log('changed:', event.index)
            },
            jumpToBookProfile(id){
                jumpSubPage(this,'libraryBookIntroduce',{id:id,});
            },
            back(){
                back(this,"");
            },
            bannerJump(event){
                console.log("11")
            },
            share(){
                this.$refs.commonFun.ShareArticle(
                    this.bookInfo.title
                    ,this.url+this.bookInfo.book_id
                    ,this.bookInfo.img_url
                    ,this.bookInfo.des
                );
                // prompt.alert(this.bookInfo.title);
            },
            refresh(){
                var self = this;
                // global.init();
                self.netStatus = 0;
                self.getData(self.id);
            },
            toggleShowMoreDes(){
                var self = this;
                // self.showMoreDes = !self.showMoreDes;
                if(self.showMoreDes){
                    self.lines = 3;
                    self.showMoreDes = false;
                }else{
                    self.lines = 0;
                    self.showMoreDes = true;
                }
            },
            addBookToShelf(bookId){
                getOpenId().then(openId=>{
                    if(openId){
                            userAddBookToShelf(bookId).then(res=>{
                                console.log(res);
                                if(res.status != -1 && typeof(res.data)!="undefined" && res.data != null){
                                    if(res.data.status ==1){
                                        this.addtext = "已加入";
                                        prompt.toast('添加成功!');
                                        // googleTrack.userOpenBookIntroductionAdd(this.bookInfo.title,this.bookInfo.book_id);
                                        let newItem = {
                                            "title":this.bookInfo.title,
                                            "id":this.bookInfo.book_id,
                                            "address":this.bookInfo.book_address,
                                            "img_url":this.bookInfo.img_url,
                                            "progress":
                                                {
                                                    "visible":false,
                                                    "value":0
                                                }
                                            };
                                        // const BOOK_SHELF = 'BookShelf';
                                        // storageRemoveItem(BOOK_SHELF);
                                        getBookShelf().then(data=>{
                                            let arr = Array.from(data);
                                            if(data = undefined){
                                                saveBookShelf(newItem);
                                            }
                                            else{
                                                // let arr = Array.from(data);
                                                arr.unshift(newItem);
                                                saveBookShelf(arr); 
                                            };  
                                            syncBookShelf.addToShelf(bookId);                                    
                                        })

                                    }
                                    else{
                                        prompt.toast('已加入！,不要重复操作！');
                                    }
                                }
                            })
                    }else{
                        prompt.toast("请登录");
                        setTimeout(() => {
                            jumpSubPage(this,'userLogin');
                        }, 2000)
                    }
                });
                
            },
            readBook(bookId,address){
                console.log("qingsong:-1-1-1--1-1-1-")
                // console.log(openId)
                // getOpenId().then(openId=>{
                //     console.log(openId)
                //     if(openId){
                //         this.progress={
                //             visible: false,
                //             value: 0,
                //             deviceWidth: WXEnvironment.deviceWidth,
                //         }
                //         var event = weex.requireModule('event');
                //         // public void openBook(int id,String title,String address,String imgUrl,String url) {
                //         event.openBook(
                //             bookId
                //             ,this.bookInfo.title
                //             ,address
                //             ,this.bookInfo.img_url
                //             ,getHost()+"/display/index/displayBook?id="+bookId
                //         );
                //         googleTrack.userLibraryOpenBook(this.bookInfo.title);
                //         this.addBookToShelf(bookId);
                //         syncBookShelf.addToShelf(bookId);
                //     }else{
                //         prompt.toast("请登录");
                //         setTimeout(() => {
                //             jumpSubPage(this,'userLogin');
                //         }, 2000)
                //     }
                // });
                let openId = '8A471FD74AF017EE0680381611D442CD'
                if(openId){
                        this.progress={
                            visible: false,
                            value: 0,
                            deviceWidth: WXEnvironment.deviceWidth,
                        }
                        var event = weex.requireModule('event');
                        // public void openBook(int id,String title,String address,String imgUrl,String url) {
                        event.openBook(
                            bookId
                            ,this.bookInfo.title
                            ,address
                            ,this.bookInfo.img_url
                            ,getHost()+"/display/index/displayBook?id="+bookId
                        );
                        // googleTrack.userLibraryOpenBook(this.bookInfo.title);
                        // this.addBookToShelf(bookId);
                        // syncBookShelf.addToShelf(bookId);
                    }else{
                        prompt.toast("请登录");
                        setTimeout(() => {
                            jumpSubPage(this,'userLogin');
                        }, 2000)
                    }
                
            },
            getData(id){
                var self = this;
                getBookProfile(id).then(res=>{
                    console.log(res);
                    if(res.status != -1 && typeof(res.data)!="undefined" && res.data != null){
                        self.netStatus = 2;
                        self.bookInfo = res.data.data.bookInfo;
                        console.log(self.bookInfo.book_address);
                        self.bookLists = res.data.data.bookLists;
                        if(res.data.data.isInShelf == 1){
                            self.addtext = "已加入";
                        }
                        // googleTrack.userOpenBookIntroduction(self.bookInfo.title,self.bookInfo.id);
                    }else{
                        self.netStatus = 1;
                        self.errorType = 'neterror';
                    }
                })
            }
        }

    }
</script>

<style scoped>
    .body{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
    .scroller{
        width:750px;
    }
    .suggestionBar{
        width:750px;
        height:96px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        background-color:#f6f6f6;
    }
    .suggestionBar1{
        width:750px;
        height:96px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        background-color:#f6f6f6;
    }
    .suggestionBar2{
        width:710px;
        height:96px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        background-color:#f6f6f6;
    }
    .suggestionBar3{
        width:710px;
        height:96px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: flex-end;
        background-color:#f6f6f6;
    }
    .top_img{
         width:90px;
         height:90px;
    }
    .top_icon{
        width:45px;
        height:45px;
    }
    .text_suggestion{
        color: #959595;
        font-size:31.83px;
    }
    .text_suggestion_icon{
        color: #959595;
        font-size: 31.83px;
    }
    .content{
        background-color: #f6f6f6;
        width:750px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .book_img{
        width:208px;
        height:276px;
        border-radius:5px;
        /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);*/
    }
    .info{
        margin-left: 50px;
        height:230px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .title{
        font-size:48px;
        color:#1a1a1a;
        width:350px;
        lines:1;
        width:400px;
    }
    .author{
        font-size:35px;
        width:350px;
        color:#666666;
        height:50px;
        lines:1;
        /*background-color: lightgreen;*/
    }
    .mid{
        width:400px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        /*background-color: yellow;*/
    }

    .tag{
        color:#E15D53;
        font-size:20px;
        border-width:2px;
        border-style: solid;
        border-color:#E15D53;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .des{
        padding:30px;
    }
    .bookDes{
        font-size:32px;
        color:#7e7e7e;
        line-height:54px;
    }
    .suggestionBook{
        width:750px;
        height:400px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
  }
  .s_img{
    width:160px;
    height:220px;
    border-radius:5px;
    margin-top:15px;
  }
  .alreadyFollowList_album{
    width:220px;
    height: 370px;
    display: flex;
    margin-left:22.5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*background-color: lightblue;*/
  }
  .alreadyFollowList_img{
    width:150px;
    height:150px;
  }
  .alreadyFollowList_album_name{
    font-size: 26px;
    margin-top: 26px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    color: #505050;
    /*background-color: red;*/
  }
  .bottom-div{
    width:750px;
    height:100px;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: flex-start;
    align-items: center;
    border-top-color: #e7e7e7;
    border-top-width: 2px;
    border-top-style:solid; 
  }
  .bottom-div1{
    width:750px;
    height:100px;
    flex-direction: row;
    flex-wrap:nowrap;
    justify-content: center;
    align-items: center;
    border-top-color: #e7e7e7;
    border-top-width: 2px;
    border-top-style:solid; 
  }
  .bottom-text1{
    width:375px;
    height:100px;
    line-height: 100px;
    color:#E15D53;
    text-align: center;
    font-size: 36px;
  }
  .bottom-text2{
    width:375px;
    height:100px;
    line-height: 100px;
    color:white;
    background-color: #E15D53;
    text-align: center;
    font-size: 36px;
  }
  .bottom-text3{
    width:750px;
    height:100px;
    line-height: 100px;
    color:white;
    background-color: #E15D53;
    text-align: center;
    font-size: 36px;
  }
  .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
</style>