/** @author Your Name
*   @description weex vue page
*   @email you@example.org
*   @date  2018-01-24 10:13:31
*/ 

<template>
    <div class="body">
        <topbar :topbarname="topbarname"></topbar>
        <scroller class="scroller" v-if="netStatus==2">
            <div class="search-resualt" v-for="item in bookLists" @click="jumpToBookProfile(item.article_id)">
                <image class="image-resault" :src="item.img_url"></image>
                <div class="resault-right">
                    <text class="bookName">{{item.title}}</text>
                    <text class="bookDes">{{item.content}}</text>
                </div>
            </div>        
        </scroller>
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>    
</template>
<script>
    import { getImgPath } from '../01.utils/common'; 
    import global from '../02.bus/global';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage } from '../01.utils/navigator';
    import { jump } from '../01.utils/navigator';
    import {updateProfile} from'../02.bus/user';
    import util from '../01.utils/util';
    import { getBookListsInfo } from '../02.bus/creader';
    import googleTrack from '../02.bus/googleTrack';

    export default {
            data () {
                return {
                    getImgPath:getImgPath,
                    errorType:'',
                    errorMsg:'',
                    global:global,
                    topbarname:'推荐书籍',
                    name:'',
                    nickName:'',
                    profile:'',
                    searchValue:'',
                    bookLists:[],
                    netStatus:0,
                    height:'',

                }
            },
            created:function () {
                var deviceHeight = WXEnvironment.deviceHeight || unknown;
                var deviceWidth = WXEnvironment.deviceWidth || unknown;
                this.height = 750/deviceWidth*deviceHeight;
                var self = this;
                self.id = util.getUrlSearch(weex.config.bundleUrl,'id');
                self.getData(self.id);
                
            },
            methods:{
                getData(bookList_id){
                    getBookListsInfo(bookList_id).then(res=>{
                        console.log(res);
                        if(res.status != -1 && typeof(res.data)!="undefined" && res.data != null){
                            this.netStatus = 2;
                            this.bookLists = res.data.data;
                        }else{
                            this.netStatus = 1;
                            self.errorType = 'neterror';
                        }
                    })
                },
                refresh(){
                    var self = this;
                    global.init();
                    self.netStatus = 0;
                    self.getData(self.id);
                },
                jumpToBookProfile(id){
                    jumpSubPage(this,'libraryBookIntroduce',{id:id});
                },
                
            }

    }
</script>

<style scoped>
    .body{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
    .scroller{
        position: absolute;
        left:0;
        top:100px;
        right:0;
        bottom:0;
    }
    .search-resualt{
        height:168px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-left: 31px;
        margin-right:31px;
        /*background-color: lightblue;*/
        border-bottom-width:2px;
        border-bottom-style: solid;
        border-bottom-color: #EDEDED;
    }
    .resault-right{
        margin-left:18px;
        width:600px;
        /*background-color: red;*/
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .image-resault{
        width:68px;
        height:90px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    }
    .bookName{
        font-size: 34px;
        font-weight: bold;
        color:#2f2f2f;
        padding-bottom:5px;
        /*background-color: yellow;*/
    }
    .bookDes{
        color:#8f8f8f;
        font-size: 26px;
        lines:1;
        padding-top:5px;
        /*background-color: lightblue;*/
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }

</style>