<template>
  <div class="body">
    <div class="top">
      <crIconFont name="ion-android-arrow-back" size="50px" color="#ffffff" @click="goBack()"></crIconFont>
      <text style="color:#ffffff;font-family: Roboto;font-size: 34px">我的书架</text>
      <crIconFont name="ion-ios-personadd" size="50px" color="#E15D53"></crIconFont>
    </div>
    <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
    <waterfall
      ref="waterfall"
      class="content"
      loadmoreoffset="3000"
      column-width="auto"
      column-count="3"
      column-gap="5px"
      show-scrollbar="false"
      scrollable="true"
    >
      <cell v-for="(item,index) in books" :key="index">
        <div
          class="alreadyFollowList_album"
          @click="jumpToBookProfile(item.id,item.title,item.address,item.img_url)"
          v-bind:key="index"
          @longpress="openPopUp(item.id,index)"
        >
          <image
            :src="item.img_url"
            :placeholder="getImgPath('cover_default_new.png')"
            style="width:160px;height:220px;border-radius:5px;"
          />
          <text
            class="alreadyFollowList_album_name"
            v-if="item.progress.visible==false"
          >{{item.title}}</text>
          <progress
            :value="item.progress.value"
            :bar-width="200"
            :barHeight="20"
            style="margin-top:20px"
            v-if="item.progress.visible"
          ></progress>
        </div>
      </cell>
    </waterfall>

    <!-- <LoadingDots   v-if="netStatus==0" :style="{top:(height-208)/2,left:'350px',width:'200px'}"></LoadingDots> -->
    <weexOverlay v-if="show" :show="true" :hasAnimation="false"></weexOverlay>
    <weexDialogue
      :title="title"
      :content="content"
      :confirm-text="confirmText"
      :cancel-text="cancelText"
      :show="show"
      :single="single"
      @wxcDialogCancelBtnClicked="dialogCancelBtnClick"
      @wxcDialogConfirmBtnClicked="dialogConfirmBtnClick()"
    ></weexDialogue>
  </div>
</template>
<script>
import { getImgPath } from "../01.utils/common";
import { jumpSubPage } from "../01.utils/navigator";
import { getHost } from "../01.utils/fetch";
import Config from "../03.components/tabbar/weextabbarConfig";
import {
  getBookShelf,
  saveBookShelf,
  openBook,
  userRemoveBookToShelf,
  getBookListByService
} from "../02.bus/creader";
import prompt from "../01.utils/prompt";
import downloadEvent from "../01.utils/globalEvent";
import syncBookShelf from "../02.bus/syncBookShelf";
import googleTrack from "../02.bus/googleTrack";
import { back } from "../01.utils/navigator";

export default {
  props: {
    tabbarItemSelected: Number
  },
  data() {
    return {
      currentPage: 1,
      currentPosition: 0,
      tabTitles: Config.tabTitles,
      tabStyles: Config.tabStyles,
      getImgPath: getImgPath,
      errorType: "",
      errorMsg: "",
      global: global,
      netStatus: 0,
      isShelf: false,
      columnWidth: "auto",
      height: "",
      title: "!",
      content: "您确定要将本书移出书架吗？",
      confirmText: "确定",
      cancelText: "取消",
      show: false,
      single: false,
      showNoPrompt: false,
      isChecked: false,
      currentBookId: -1,
      currentIndex: -1,
      bookTotal: 0,
      bookIndex: 1,
      books: [],
      isSync: false,
      downLoadIndex: -1,
      downLoadStatus: 0,
      imgDownLoad: false
    };
  },
  created() {
    var self = this;
    self.getData();
    console.log("qingsong1111111");
    var deviceHeight = WXEnvironment.deviceHeight || unknown;
    var deviceWidth = WXEnvironment.deviceWidth || unknown;
    self.height = (750 / deviceWidth) * deviceHeight;
    syncBookShelf.receive(res => {
      if (res.data.status == "add") {
        console.log("qingsong22222222");
        getBookShelf().then(data => {
          self.books = [];
          self.books = data;
          self.netStatus = 2;
        });
      }
      if (res.data.status == "getData") {
        console.log("qingsong33333333");
        self.syncData();
      }
    });
    downloadEvent.addDownLoadBookEventListener(function(res) {
      if (res.status == 1) {
        if (self.books[self.downLoadIndex]["progress"].visible == false) {
          self.books[self.downLoadIndex]["progress"].visible = true;
        }
        self.books[self.downLoadIndex]["progress"].value = res.progress;
      } else if (res.status == 2) {
        self.books[self.downLoadIndex]["progress"] = {
          visible: false,
          value: 0
        };
        self.downLoadStatus = 0;
        self.downLoadIndex = 0;
      } else if (res.status == 3) {
        prompt.toast("下载异常，请稍后再试！");
        self.books[self.downLoadIndex]["progress"] = {
          visible: false,
          value: 0
        };
        self.downLoadStatus = 0;
        self.downLoadIndex = 0;
      } else if (res.status == 4) {
        prompt.toast("网络无法连接，请联网后再操作. ");
        self.books[self.downLoadIndex]["progress"] = {
          visible: false,
          value: 0
        };
        self.downLoadStatus = 0;
        self.downLoadIndex = 0;
      }
      this.$set(self.books, self.downLoadIndex, self.books[self.downLoadIndex]);
      console.log(res);
    });
  },
  methods: {
    goBack() {
      back(this, "");
    },
    onchange(event) {
      console.log("changed:", event.index);
    },
    bannerJump(event) {
      console.log("11");
    },
    loadData() {
      console.log("--------------loadData ----------------");
      var self = this;
      self.getData();
    },
    jumpToBookProfile(id, title, address, imgUrl) {
      getBookShelf().then(data => {
        let h = -1;
        for (let i = 0; i < data.length; i++) {
          if (data[i].id == id) {
            // data = data.splice(i,1);
            h = i;
          }
        }
        var arr = data.splice(h, 1);
        data.unshift(arr[0]);
        saveBookShelf(data);
        if (this.downLoadStatus == 1) {
          prompt.toast("一次只能下载一本书籍，请稍后再试.");
          return;
        } else {
          this.downLoadStatus == 1;
          var len = this.books.length;
          for (var i = 0; i < len; i++) {
            if (this.books[i].id == id) {
              this.downLoadIndex = i;
              break;
            }
          }
          // googleTrack.userLibraryOpenBook(title,id);
          var event = weex.requireModule("event");
          event.openBook(
            id,
            title,
            address,
            imgUrl,
            getHost() + "/display/index/displayBook?id=" + id
          );
        }
      });
    },
    openPopUp(id, index) {
      const self = this;
      self.currentBookId = id;
      self.currentIndex = index;
      // prompt.toast(self.currentBookId+'-----'+self.currentIndex);
      self.show = true;
    },
    dialogCancelBtnClick() {
      this.show = false;
      // prompt.toast("我点了取消");
    },
    dialogConfirmBtnClick() {
      var self = this;
      self.show = false;
      // prompt.toast(self.currentBookId);
      userRemoveBookToShelf(self.currentBookId).then(res => {
        console.log(res);
        if (res.data.status == 1) {
          self.books.splice(self.currentIndex, 1);
          saveBookShelf(this.books);
        } else {
          prompt.toast("移除失败，请稍后再试");
        }
      });
    },
    refresh() {
      var self = this;
      global.init();
      self.netStatus = 0;
      self.getData();
    },
    isExist(item) {
      var len = this.books.length;
      for (var i = 0; i < len; i++) {
        if (this.books[i].id == item.id) {
          return true;
          break;
        }
      }
      return false;
    },
    syncData() {
      //采用循环调用，把所有的数据同步完成
      getBookListByService(this.books, this.bookIndex).then(res => {
        var res = res.data;
        // console.log(" -- this.bookIndex  --");
        // console.log(this.bookIndex);
        console.log("qingsong");
        console.log(res);
        if (res.status == 1) {
          this.bookTotal = res.data.total;
          var tlist = [];
          res.data.list.forEach(item => {
            //从服务器拿到数据后遍历，是否有新添加的书籍
            if (this.isExist(item) == false) {
              item["progress"] = { visible: false, value: 0 };
              item["img_url"] = res.data.host + item["img_url"];
              item["address"] = res.data.host + item["address"];
              tlist.push(item);
            }
          });
          if (tlist.length > 0) {
            this.books = this.books.concat(tlist);
          }
          if (this.bookIndex * 50 >= this.bookTotal) {
            //                                console.log(" ----- this.books ---- ");
            //                                console.log(this.books);
            saveBookShelf(this.books);
            if (this.books.length == 0) {
              this.netStatus = 1;
              this.errorType = "noResult";
              this.errorMsg = "您的书架里还没有添加任何书籍..";
            } else {
              this.netStatus = 2;
              this.imgDownLoad = true;
            }
          } else {
            this.bookIndex = this.bookIndex + 1;
            this.syncData();
          }
        }
      });
    },
    getData() {
      var self = this;
      if (self.isSync == false) {
        self.isSync = true;
        getBookShelf().then(data => {
          self.books = data;
          if (self.books.length > 0) {
            self.netStatus = 2;
          }
          if (data.length == 0) {
            setTimeout(self.syncData, 400);
            self.netStatus = 1;
            self.errorType = "noResult";
            self.errorMsg = "您的书架里还没有添加任何书籍..";
          } else {
            setTimeout(self.syncData, 3000);
          }
        });
      }
    },
    tabBarCurrentTabSelected(e) {
      const page = e.page;
      console.log(page);
      jumpSubPage(this, page, { closeThisPage: true });
    }
  }
};
</script>

<style scoped>
.body {
  width: 750px;
  /*background-color: red;*/
}

.type {
  font-size: 38px;
  color: #636363;
  font-weight: bold;
}
.content {
  /*flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;*/
  width: 750px;
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.netError {
  position: absolute;
  top: 102;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.netError2 {
  justify-content: center;
  align-items: center;
}
.alreadyFollowList_album {
  width: 200px;
  height: 350px;
  margin-left: 20px;
  margin-top: 37px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /*background-color: red;*/
}
.alreadyFollowList_album_name {
  font-size: 26px;
  margin-top: 26px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: #505050;
}
.top {
  width: 750px;
  height: 100px;
  background-color: #e15d53;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
</style>
