<template>
    <div class="body">
        <topbar :topbarname="topbarname"></topbar>
        <scroller class="list" v-if="netStatus==2">
            <div class="search_resualt" v-for="item in searchResults">
                <image class="image_Result" :src="item.img_url" @click="jumpToBookProfile(item.id)"></image>
                <div class="Result_right" @click="jumpToBookProfile(item.id)">
                    <div class="title">
                        <text :style="{backgroundColor:value.theme}" class="bookName" v-for="value in item.titleList">{{value.value}}</text>
                    </div>
                    <text class="bookDes">{{item.content}}</text>
                </div>
            </div> 
            <loading class="loading" @loading="loadMore" :display="loadinging ? 'show' : 'hide'">
                  <!-- <text class="indicator-text">Loading ...</text>
                  <loading-indicator class="indicator"></loading-indicator> -->
            </loading>        
        </scroller>
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>
    
</template>
<script>
    // import global from '../02.bus/global';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage } from '../01.utils/navigator';
    import { jump } from '../01.utils/navigator';
    import {updateProfile} from'../02.bus/user';
    import util from '../01.utils/util';
    import {serchBookName,getBookList} from '../02.bus/creader';
    export default {
            data () {
                return {
                    global:global,
                    netStatus:0,
                    topbarname:'搜索结果',
                    errorType:'',
                    errorMsg:'',
                    name:'',
                    nickName:'',
                    profile:'',
                    pageIndex:1,
                    searchValue:'',
                    searchResults:[],
                    loadinging: false,
                    height:'',
                }
            },
            created:function () {
                var deviceHeight = WXEnvironment.deviceHeight || unknown;
                var deviceWidth = WXEnvironment.deviceWidth || unknown;
                this.height = 750/deviceWidth*deviceHeight;
                var self = this;
                self.searchValue = util.getUrlSearch(weex.config.bundleUrl,'searchValue');
                // self.searchValue = '福音';
                // prompt.toast(self.searchValue);
                self.getResualts(self.searchValue,self.pageIndex);
            },
            methods:{
                jumpToBookProfile(id){
                    jumpSubPage(this,'libraryBookIntroduce',{id:id});
                },
                refresh(){
                    var self = this;
                    self.netStatus = 0;
                    self.getResualts(self.searchValue,self.pageIndex);
                },
                loadMore (event) {
                    var self=this;
                    self.loadinging = true
                    // prompt.toast(self.searchResults.length);
                    if(self.searchResults.length<10*self.pageIndex){
                        prompt.toast("已经到底了");
                        setTimeout(() => {
                            self.loadinging = false;
                        }, 2000)
                    }else{
                        self.pageIndex = self.pageIndex+1;
                        self.getResualts(self.searchValue,self.pageIndex);
                    }
                },
                getResualts(name,pageIndex){
                    var self = this;
                    if(name){
                        serchBookName(name,pageIndex).then(res=>{
                            if(res.status != -1 && typeof(res.data)!="undefined"){
                                if(res.data.data==0&&res.data.status==0){
                                    prompt.toast(res.data.info);
                                    self.netStatus = 1;
                                    self.errorType = 'noResult';
                                    self.errorMsg = "没有查询到相关结果";
                                    console.log(self.netStatus);
                                }else{
                                    self.netStatus = 2;
                                    self.searchResults = self.searchResults.concat(res.data.data);
                                    // const result = self.searchResults.length === res.data.data.length && self.searchResults.every(a => res.data.data.some(b => a === b)) && res.data.data.every(_b => self.searchResults.some(_a => _a === _b));
                                    // if(result){
                                    //     prompt.toast("没有更多了")
                                    // }else{

                                    // }
                                    self.loadinging = false;
                                    for(let i = 0;i<self.searchResults.length;i++){
                                        self.searchResults[i].titleList = self.highLightSearchResult(name,self.searchResults[i].title);
                                    }
                                }
                            }else{
                                self.netStatus = 1;
                                self.errorType = 'neterror';
                            }
                        })
                    }
                    
                },
                highLightSearchResult(name,title){
                    var arr = title.split(name);
                    var configList = [
                        {
                            type: 'text',
                            value: '',
                            theme: ''
                        }, 
                        {
                            type: 'text',
                            value: '',
                            theme: ''
                        },
                        {
                            type: 'text',
                            value: '',
                            theme: ''
                        },
                    ];
                    if(arr[0]==""){
                        configList[0].value="";
                        configList[1].value=name;
                        configList[1].theme='#FF8A80';
                        configList[2].value=arr[1];
                    }
                    else if(arr[1]==""){
                        configList[0].value=arr[0];
                        configList[1].value=name;
                        configList[1].theme='#FF8A80';
                        configList[2].value="";
                    }
                    else{
                        configList[0].value=arr[0];
                        configList[1].value=name;
                        configList[1].theme='#FF8A80';
                        configList[2].value=arr[1];
                    }
                    return configList;
                },
            }

    }
</script>

<style scoped>
    .body{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
    .list{
        position: relative;
        left:0;
        top:100px;
        right:0;
        bottom:0;
        /*background-color: green;*/
        padding-bottom: 150px;
    }
    .search_resualt{
        height:168px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 31px;
        /*background-color: lightblue;*/
        border-bottom-width:2px;
        border-bottom-style: solid;
        border-bottom-color: #d4d4d4;
    }
    .Result_right{
        margin-left:18px;
        height:90px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    .image_Result{
        width:68px;
        height:90px;
    }
    .bookName{
        font-size: 34px;
        font-weight: bold;
        color:#2f2f2f;
        lines:1;
    }
    .title{
        width: 600px;
        flex-direction: row;
        flex-wrap: nowrap;
        /*background-color: lightblue;*/
        justify-content: flex-start;
    }
    .bookDes{
        color:#8f8f8f;
        width: 600px;
        font-size: 26px;
        lines:1;
        /*background-color: lightblue;*/
    }
    .loading {
        width: 750;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
      }
      .indicator-text {
        color: #E15D53;
        font-size: 42px;
        text-align: center;
      }
      .indicator {
        margin-top: 16px;
        height: 40px;
        width: 40px;
        color: #E15D53;
      }
      .LoadingDots{
        position: absolute;
        top:0;
        bottom: 0;
        left:0;
        right:0;
        justify-content: center;
        align-items: center;
      }

</style>