<template>
  <div class="body">
    <div class="top">
      <!-- <searchBar ref="wxc-searchbar"  
                        @searchBarClicked="searchBarClicked" 
                        :always-show-cancel="showCancel" 
                        @wxcSearchbarCloseClicked="wxcSearchbarCloseClicked"
      @wxcSearchbarInputOnBlur="wxcSearchbarInputOnBlur"></searchBar>-->
      <searchBar
        ref="wxc-searchbar"
        @wxcSearchbarCancelClicked="wxcSearchbarCancelClicked"
        @wxcSearchbarInputOnInput="wxcSearchbarInputOnInput"
        @wxcSearchbarCloseClicked="wxcSearchbarCloseClicked"
        @wxcSearchbarInputOnFocus="wxcSearchbarInputOnFocus"
        @wxcSearchbarInputOnBlur="wxcSearchbarInputOnBlur"
      ></searchBar>
    </div>
    <!-- <text @click="setValue" style="font-size:100px">清空搜索框</text>    -->
    <text class="suggestion">热门搜索</text>
    <div class="tags">
      <div v-for="item in tags">
        <text class="tag" @click="goToResult(item)">{{item}}</text>
      </div>
    </div>
  </div>
</template>
<script>
import prompt from "../01.utils/prompt";
import { jumpSubPage } from "../01.utils/navigator";
import { getImgPath } from "../01.utils/common";
import { back } from "../01.utils/navigator";
import googleTrack from "../02.bus/googleTrack";

export default {
  data() {
    return {
      value: "",
      getImgPath: getImgPath,
      showCancel: true,
      isDisabled: true,
      tags: ["天国", "耶稣", "福音", "婚姻", "灵修"]
    };
  },
  methods: {
    setValue() {
      this.$refs["wxc-searchbar"].setValue("");
    },
    back() {
      back(this, "");
    },
    wxcSearchbarCancelClicked(e) {
      let searchValue = e.value;
      // prompt.toast("链接到后台，开始搜索"+searchValue);
      if (searchValue) {
        // googleTrack.userSearch(searchValue);
        jumpSubPage(this, "librarySearchResault", { searchValue: searchValue });
      } else {
        prompt.toast("请输入关键字");
      }
    },
    goToResult(value) {
      // googleTrack.userSearch(value);
      jumpSubPage(this, "librarySearchResault", { searchValue: value });
    },
    wxcSearchbarCloseClicked(e) {
      this.setValue();
      // this.$refs['wxc-searchbar'].setValue('');
      // this.value = '';
      // this.setValue();
    },
    wxcSearchbarInputOnInput(e) {
      this.value = e.value;
    },
    wxcSearchbarInputOnBlur(e) {
      //            prompt.toast(e.value);
    },
    wxcSearchbarInputOnFocus() {
      // modal.toast({ 'message': 'onfocus', 'duration': 1 });
    },
    wxcSearchbarInputOnBlur() {
      // modal.toast({ 'message': 'onbulr', 'duration': 1 });
    },
    wxcSearchbarCloseClicked() {
      // modal.toast({ 'message': 'close.click', 'duration': 1 });
    },
    wxcSearchbarInputOnInput(e) {
      // this.value = e.value;
    },
    wxcSearchbarInputDisabledClicked() {
      // modal.toast({ 'message': 'input.onclick', 'duration': 1 });
    },
    wxcSearchbarDepChooseClicked() {
      // modal.toast({ 'message': 'dep.choose.click', 'duration': 1 });
    },
    wxcSearchbarInputReturned(e) {
      // prompt.toast(e.value);
    }
  }
};
</script>

<style scoped>
.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #f3f4f3;
}
.top {
  flex-direction: row;
  flex-wrap: nowrap;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.suggestion {
  margin-left: 20px;
  margin-top: 40px;
  font-size: 35px;
  width: 300px;
  color: #a2a3a2;
}
.tags {
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}
.tag {
  /*border-width: 1px;
        border-style: solid;
        border-color: #F4F5F4;*/
  border-radius: 5px;
  background-color: #e5e6e5;
  padding: 20px;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 30px;
  color: #6c6d6c;
}
</style>