<template>
    <div class="body" >
            <div class="top">
                <crIconFont  name="ion-ios-list-outline" size="50px" color="#E15D53"></crIconFont>
                <text style="color:#ffffff;font-family: Roboto;font-size: 34px">我的主页</text>
                <crIconFont name="ion-ios-personadd" size="50px" @click="jumpToLogin()"></crIconFont>
            </div>
            <div class="suggestionList" v-if="netStatus==2">
                <image class="album_image" :src="personInfo.head_icon"></image>
                <div class="albumInfo">
                    <div class="albumInfoDetail" @click="goToPersonalProfile">
                        <div class="album_NS">
                            <div class="album_name">
                                <text class="text_album_name">{{personInfo.nickName}}</text>
                            </div>
                        </div>
                        <div>
                            <text class="album_des">{{personInfo.profile}}</text>
                        </div>
                    </div>
                    <!-- <image class="img_subscribeBtn" :src="getImgPath('go.png')" @click="goToPersonalProfile"></image> -->
                    <text class="personalFile" @click="goToPersonalProfile()">个人资料 ></text>
                </div>
            </div>
            <!-- <div class="myInfo" v-if="netStatus==2">
                <div class="info" @click="goToMySubscribe">
                    <text class="numberInfo">{{myFollow}}</text>
                    <text class="textInfo">订阅的专栏</text>
                </div>
                <div class="info" @click="goToMyLoves()">
                    <text class="numberInfo" >{{myLove}}</text>
                    <text class="textInfo">我的收藏</text>
                </div>
                <div class="info" @click="goToMyBooks()">
                    <text class="numberInfo">{{myBooks}}</text>
                    <text class="textInfo">我的图书</text>
                </div>
            </div> -->
            <scroller v-if="netStatus==2" class="scroller">
                <div style="width: 750px;background-color: #ffffff;border-top-width:2px;border-top-style: solid;border-top-color: #BBBBBB;">
                    <div class="suggestionBar1"  @click="goToFeedback()">                               
                        <text style="color:#101010;font-size:29px;">意见反馈</text>                    
                        <text class="more">></text>
                    </div>
                </div>
                <div style="width: 750px;background-color: #ffffff">
                    <div class="suggestionBar1" @click="goToWeXin()">           
                        <text style="color:#101010;font-size:29px;">关注公众号</text>
                        <text class="more">></text>
                    </div>
                </div>
                <div style="width: 750px;background-color: #ffffff">
                    <div class="suggestionBar1" @click="goToShare">                              
                        <text style="color:#101010;font-size:29px;">推荐分享</text>
                        <text class="more">></text>
                    </div>
                </div>
               
                <div style="width: 750px;background-color: #ffffff" v-if="personInfo.id>0">
                    <div class="suggestionBar1_lastone" @click="goToPersonalProfile">           
                        <text style="color:#101010;font-size:29px;">退出登陆</text>
                        <text class="more">></text>
                    </div>
                </div>

            </scroller>
        
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>

        <commonFun ref="commonFun" ></commonFun>
         <wxc-popup 
                :popup-color="popuColor"
               :show="isBottomShow"
               pos="bottom"
               :height="height"
           >
      <div class="donateDiv">
         
        <text class="donatetext">     资金是事工运作与发展的一个非常重要的条件，如果您认为这项事工有价值、有感动，请支持我们。捐助金额主要用于支付服务器费用及工价。

奉献支持
        </text>
       <input type="number" placeholder="您要捐献的金额 (请输入整数)" class="input" :autofocus=true value=""  @input="oninput"/>
       <div class="donatConform" @click="goToDonate">
           <text class="donatConformText">微信支付</text></div>
      </div>
    </wxc-popup>
     
    </div>
	
</template>
<script>
    import { getImgPath } from '../01.utils/common'; 
    import global from '../02.bus/global';
    import Utils from '../01.utils/Utils';
    import {getHost} from '../01.utils/fetch';
    import Config from '../03.components/tabbar/weextabbarConfig';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage } from '../01.utils/navigator';
    import { jump } from '../01.utils/navigator';
    import { getPersonalData } from '../02.bus/creader';
    import { getUserInfo } from '../02.bus/user';
    import googleTrack from '../02.bus/googleTrack';
    import syncUserInfo from '../02.bus/user';
    import { WxcPopup } from 'weex-ui';
   
	export default {
            props:{
                tabbarItemSelected:Number
            },
            components: { WxcPopup},
    		data () {
                return {
                    currentPage:4,
                    // tabTitles: Config.tabTitles,
                    // tabStyles: Config.tabStyles,
                    getImgPath:getImgPath,
                    storagediv:[],
                    networkStatus:1,
                    global:global,
                    personInfo:[],
                    errorType:'',
                    errorMsg:'',
                    netStatus:0,
                    isBottomShow: false,
                    height: 100,
                    autofocus: false,
                    doneteValue:"",
                    popuColor:"#FFFFFF",
                    myFollow:0,
                    myBooks:0,
                    myLove:0,
                   
                }
            },
            created:function () {
                    // var self = this;
                    this.getData();
                    syncUserInfo.receive(this.getData);
            },
            
    		methods:{
                oninput: function (event) {
                     var self = this;
                     self.doneteValue = event.value;
                },
                loadData(){
                    this.getData();
                    syncUserInfo.receive(this.getData);
                },
                jumpToLogin(){
                    jumpSubPage(this,'userLogin');
                },
                goToAboutUs(){
                    jumpSubPage(this,'aboutUs');
                },
                goToWeXin(){
                    jumpSubPage(this,'aboutWeXin');
                },
                goToMyLoves(){
                    jumpSubPage(this,'myArticles');
                },
                goToPersonalProfile(){
                    if(this.personInfo.id>0){
                        jumpSubPage(this,'userPersonalProfile');
                    }
                    else {
                        jumpSubPage(this, 'userLogin');
                    }
                },
                goToMySubscribe(){
                    jumpSubPage(this,'mySubscribe');
                },
                goToMyLists(){
                    jumpSubPage(this,'myArticles');
                },
                goToFeedback(){
                    jumpSubPage(this,'userFeedback');
                    // jump(this,'UserFeedback');
                },
                goToShare(){
                    // googleTrack.userOtherShareToFriend();
                    this.$refs.commonFun.ShareArticle(
                        "我很喜欢这《基督徒阅读APP》推荐给你"
                        ,getHost()+"/display/index/introduce"
                        ,getHost()+"/static/default/icon-512.jpg"
                        ,"各大应用市场中有超过1000+的好评，深受弟兄姊妹的喜爱 是基督徒的必备工具。"
                    );
                    // this.$refs.commonFun.ShareArticle(
                    //         this.title
                    //         ,this.url
                    //         ,this.imgUrl
                    //         ,this.des
                    // );
                },
                donate(){
                     jumpSubPage(this,'userDonate');
                },
                // 捐献调用方法
                goToDonate(){
                    var self = this;
                        self.isBottomShow=false;
                    try {
                        var event = weex.requireModule('event');
                        event.gotoDonate(self.doneteValue);
                     } catch (error) {
   
                    }
                
                },
                popupOverlayBottomClick () {
                    this.isBottomShow = false;
                },
                refresh(){
                    var self = this;
                    global.init();
                    self.netStatus = 0;
                    self.getData();
                },
                exit(){
                    // this.exit();
                    syncUserInfo.post();
                    // back();
                },
                goToMyBooks(){
                    jumpSubPage(this,'libraryBookShelf')
                },
                getData(){
                    var self = this;
                    getUserInfo().then(res=>{
                        console.log(" --- getUserInfo --- ");
                        self.personInfo = res;
                        self.netStatus = 2;
                        getPersonalData().then(res=>{
                            var self = this;
                            console.log(res);
                            if(res.status != -1 && typeof(res.data)!="undefined"){
                                self.netStatus = 2;
                                self.personInfo = res.data.data;
                                console.log(res.data.data);
                                self.myFollow = res.data.data.followCounts;
                                self.myBooks = res.data.data.bookCounts;
                                self.myLove = res.data.data.loveCounts;
                            }else{
                                self.netStatus = 1;
                                self.errorType = 'neterror';
                            }
                        })
                    })
                },
    		}

    }
</script>

<style scoped>
    .top{
        width: 750px;
        height: 100px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
    }
    .personalFile{
        color: rgba(255, 255, 255, 0.7);
        font-size: 27px;
    }
    .more{
        color: #BBBBBB;
        font-size: 27px;
    }
    .myInfo{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 152px;
        padding-left: 60px;
        padding-right: 60px;
        background-color: #ffffff;
        /*border-bottom-width:2px;
        border-bottom-style: solid;
        border-bottom-color: #BBBBBB;*/
    }
    .info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .numberInfo{
        font-size: 48px;
        font-family: Roboto;
        color: #DC5D4F;
        margin-bottom: 10px;
    }
    .textInfo{
        font-size: 25px;
        font-family: Roboto;
        color: #101010;
        margin-top: 10px;
    }
    .scroller{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        top: 456px;
        background-color: #F0F0F2;
    }
    .donateDiv{
        padding: 30px;
    }
    .donatConformText{
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;

    }
    .donatConform{
        flex-direction:row;
        margin-top: 50px;
        background-color: #FF8A80;
        height: 80px;
        width: 280px;
        border-radius:5px;
        justify-content:center;
        align-items:center;
        align-self: center ;

    }
    .donatetext{
        margin-top: 20px;
        font-size:35px;
        color:#545454;
        
    }
    .input { 
        width: 690px;
        height:80px;
        border-width:1px;
        border-style: solid;
        border-color: #888888;
        border-radius: 5px;
        margin-top:50px;
        padding:10px;
      }
	.body{
        /*background-color: #F0F0F2;*/
        background-color: #ffffff;
        width:750px;
        position: absolute;
        top:0px;
        left: 0;
        right: 0;
        bottom:0; 
    }
    .suggestionBar{
        width:750px;
        height:96px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        background-color:#ffffff;
    }
    .suggestionBar1{
        width:690px;
        height:86px;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        justify-content: space-between;
        align-items: center;
        background-color:#ffffff;
        border-bottom-width:2px;
        border-bottom-style: solid;
        border-bottom-color: #BBBBBB;
    }
    .suggestionBar1_lastone{
        width:690px;
        height:86px;
        flex-direction: row;
        align-items: center;
        margin-left: 30px;
        margin-right: 30px;
        justify-content: space-between;
        align-items: center;
        background-color:#ffffff;
        
    }
    .top_img{
         width:48px;
         height:48px;
    }
    .top_img1{
         width:36px;
         height:36px;
    }
    .top_icon{
        width:48px;
        height:48px;
        /*background-color: yellow;*/
    }
    .top_icon1{
        width:36px;
        height:36px;
        /*background-color: yellow;*/
    }
    .suggestionList{
        height:200px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding:30px;
        background-color: #B6B6B6;
    }
    .album_image{
        width:96px;
        height:96px;
        border-radius: 48px;
        margin-right:20px;
        /*background-color: green;*/
    }
    .albumInfo{
        width:580px;
        height:120px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
        /*background-color: lightblue;*/
    }
    .albumInfoDetail{
        height:96px;
        width:400px;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /*background-color: lightgreen;*/
    }
    .album_NS{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;
        /*background-color: green;*/
    }
    .album_subscribed{
        border:1px solid grey;
        border-width:1px;
        border-style: solid;
        border-color: #D2D2D2;
        border-radius: 3px;
        padding: 5px;
        margin-left: 30px;
    }
    .text_album_subscribed{
        font-size: 18px;
        color:#888888;
      }
    .text_album_name{
        font-size: 29px;
        font-weight: bold;
        color:#ffffff;
        font-family: Roboto;
        /*background-color: red;*/
    }
    .album_des{
        color: rgba(255, 255, 255, 0.7);
        font-size: 21px;
        font-family: Roboto;
        /*background-color: lightblue;*/
    }
    
    .img_subscribeBtn{
        width:36px;
        height:36px;
        /*background-color: yellow;*/
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
</style>