<template>
  <div class="body"  >
      <div class="top" v-if="display">
            <!-- <crIconFont  name="ion-android-list" size="50px" color="#ffffff"></crIconFont> -->
            <text style="color:#ffffff;font-family: Roboto;font-size: 34px">消息</text>
            <!-- <crIconFont name="ion-android-notifications-off" size="50px" color="#ffffff"></crIconFont> -->
      </div>
      <div class="infomation1" v-if="display" @click="goAsk()" >
          <!-- <div class="dot1"></div> -->
          <image :src="getImgPath('daddygarden.jpg')" style="width: 64px;height: 64px;border-radius: 32px;margin-right: 20px;"></image>
          <div style="width: 500px;" >
            <text style="font-size: 28px;color: #545454;font-family: Roboto;padding-bottom: 5px;">信仰答疑</text>
            <text style="font-size: 20px;color: #888888;font-family: Roboto;padding-top: 5px;">感谢您的关注，请问有什么问题吗？</text>
          </div>
          <!-- <text class="timeReminder">2小时前</text>           -->
      </div>
      <div class="infomation1" v-if="display" @click="goFindChurch()">
          <!-- <div class="dot1"></div> -->
          <image :src="getImgPath('zhaojiaohui.jpg')" style="width: 64px;height: 64px;border-radius: 32px;margin-right: 20px;"></image>
          <div style="width: 500px;">
            <text style="font-size: 28px;color: #545454;font-family: Roboto;padding-bottom: 5px;">寻找教会</text>
            <text style="font-size: 20px;color: #888888;font-family: Roboto;padding-top: 5px;">为您寻找健康的聚会。</text>
          </div>
          <!-- <text class="timeReminder">2小时前</text>           -->
      </div>
      <!-- <div class="infomation">
          <div class="dot"></div>
          <image :src="getImgPath('daddygarden.jpg')" style="width: 64px;height: 64px;border-radius: 32px;margin-right: 20px;"></image>
          <div style="width: 500px;">
            <text style="font-size: 28px;color: #545454;font-family: Roboto;padding-bottom: 5px;">天父花园</text>
            <text style="font-size: 20px;color: #888888;font-family: Roboto;padding-top: 5px;">您所关注的订阅专栏，发布了新文章，欢迎浏览
</text>
          </div>
          <text class="timeReminder">2小时前</text>          
      </div> -->
   
  </div>
</template>

<script>
    import { getImgPath } from '../01.utils/common';  
    import { back } from '../01.utils/navigator';
    import global from '../02.bus/global';
    export default {
        data () {
          return {
             global:global,
             getImgPath:getImgPath,
             height:'',
             display:false,
          }
        },
        props: {
        },
        created(){
          this.loadData();
        },
        methods:{
          loadData(){
              this.display = true;
          },
          goBack: function() {
              back(this,"");
          },
          goFindChurch(){
              var event = weex.requireModule('event');
              event.openApp("knowJesus");
          },
          goAsk(){
              var event = weex.requireModule('event');
              event.openApp("chat");
          },
        }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .body{
    background-color: #F0F0F2;
    width:750px;
    position: absolute;
    top:0px;
    left: 0;
    right: 0;
    bottom:0; 
  }
  .top{
      width: 750px;
      height: 100px;
      background-color: #E15D53;
      flex-direction: row;
      /*justify-content: space-between;*/
      justify-content: center;
      align-items: center;
      padding-right: 30px;
      padding-left: 30px;
  }
  .infomation{
     flex-direction: row;
     flex-wrap: nowrap;
     width: 750px;
     justify-content: space-between;
     align-items: center;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 30px;
     padding-left: 30px;
     margin-bottom: 10px;
     background-color: #ffffff;
  }
  .infomation1{
     flex-direction: row;
     flex-wrap: nowrap;
     width: 750px;
     justify-content: flex-start;
     align-items: center;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-right: 30px;
     padding-left: 30px;
     margin-bottom: 10px;
     background-color: #ffffff;
  }
  .dot{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #E15D53;
    margin-right: 10px;
  }
  .dot1{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #ffffff;
    margin-right: 10px;
  }
  .timeReminder{
    align-self: flex-start;
    color: #101010;
    font-size: 24px;
  }
</style>