<!-- CopyRight (C) 2017-2022 Alibaba Group Holding Limited. -->
<!-- Created by Tw93 on 17/03/31. -->

<template>
  <div class="body">
    <div class="top">
      <crIconFont name="ion-android-arrow-back" size="50px" color="#ffffff" @click="goBack()"></crIconFont>
      <text style="color:#ffffff;font-family: Roboto;font-size: 34px">我的书架</text>
      <crIconFont name="ion-ios-personadd" size="50px" color="#E15D53"></crIconFont>
    </div>
    <libraryBookShelf></libraryBookShelf>
  </div>
</template>

<style scoped>
.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*background-color: #f5f5f5;*/
}
.content {
  position: relative;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  padding-bottom: 10px;
}
.article {
  /*padding-top: 24px;
        padding-bottom: 24px;*/
  /*margin-bottom: 19px;*/
  background-color: #ffffff;
  border-bottom-width: 19px;
  border-bottom-style: solid;
  border-bottom-color: #f5f5f5;
}
.article-top {
  height: 98px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
  padding-left: 33px;
  padding-right: 33px;
  /*background-color: lightgreen;*/
}
.article-name {
  color: #252525;
  font-size: 26px;
  margin-left: 33px;
  font-weight: bold;
  /*letter-spacing: 13px;*/
  line-height: 45px;
}
.article-tag {
  color: #888888;
  font-size: 25px;
  margin-left: 20px;
  /*background-color: yellow;*/
}
.article-time {
  width: 150px;
  margin-left: 20px;
  color: #888888;
  font-size: 22px;
  text-align: right;
  /*background-color: red;*/
}
.title {
  color: #2f2f2f;
  font-size: 40px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: bold;
  line-height: 60px;
  padding-top: 20px;
  padding-bottom: 15px;
  /*letter-spacing: 10;*/
}
.article-des {
  color: #8f8f8f;
  font-size: 29px;
  line-height: 40px;
  text-overflow: ellipsis;
  lines: 2;
}
.article-mid {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 33px;
  padding-right: 33px;
  /*background-color: lightgreen;*/
}
.article-content {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 34px;
  /*background-color: lightblue;*/
}
.loading {
  width: 750;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.indicator-text {
  color: #e15d53;
  font-size: 42px;
  text-align: center;
}
.indicator {
  margin-top: 16px;
  height: 40px;
  width: 40px;
  color: #e15d53;
}
.top {
  width: 750px;
  height: 100px;
  background-color: #e15d53;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
</style>


<script>
import global from "../02.bus/global";
import prompt from "../01.utils/prompt";
import { jumpSubPage, back } from "../01.utils/navigator";
import { getImgPath } from "../01.utils/common";
import Utils from "../01.utils/Utils";
import { userGetLovedArticle } from "../02.bus/creader";
import { userRemoveAticleFromLove } from "../02.bus/creader";
import syncUserInfo from "../02.bus/user";
import googleTrack from "../02.bus/googleTrack";

export default {
  data: () => ({
    currentPage: 0,
    topbarname: "我的收藏",
    errorType: "",
    errorMsg: "",
    global: global,
    msg: "首页",
    articles: [],
    loadinging: false,
    netStatus: 0,
    pageIndex: 1,
    title: "!",
    content: "您确定要将本文章移出收藏夹吗？",
    confirmText: "确定",
    cancelText: "取消",
    show: false,
    single: false,
    currentBookId: -1,
    currentIndex: -1,
    height: ""
  }),
  created() {
    let deviceHeight = WXEnvironment.deviceHeight || unknown;
    let deviceWidth = WXEnvironment.deviceWidth || unknown;
    this.height = (750 / deviceWidth) * deviceHeight - 100;
    // googleTrack.userOtherArticle();
    this.getData(this.pageIndex);
  },
  methods: {
    goBack() {
      back(this, "");
    },
    onchange(event) {
      //console.log('changed:', event.index)
    },
    refresh() {
      var self = this;
      global.init();
      self.netStatus = 0;
      self.getData(self.pageIndex);
    },
    bannerJump(event) {
      console.log("11");
    },
    jumpToRead(id) {
      let article;
      let len = this.articles.length;
      for (let i = 0; i < len; i++) {
        if (id == this.articles[i].id) {
          article = this.articles[i];
          break;
        }
      }
      if (article) {
        if (article.is_shop == 1) {
          jumpSubPage(this, "storeBookDetail", {
            id: article.id,
            title: article.title,
            des: article.des,
            img_url: article.img_url
          });
        } else {
          jumpSubPage(this, "articleDetails", {
            id: article.id,
            title: article.title,
            des: article.des,
            img_url: article.img_url,
            album_id: article.album_id,
            album_img_url: article.album_img_url,
            album_name: article.album_name
          });
        }
      }
    },
    openPopUp(id, index) {
      const self = this;
      self.currentBookId = id;
      self.currentIndex = index;
      // prompt.toast(self.currentBookId+'-----'+self.currentIndex);
      self.show = true;
    },
    dialogCancelBtnClick() {
      this.show = false;
      // prompt.toast("我点了取消");
    },
    dialogConfirmBtnClick() {
      var self = this;
      self.show = false;
      // prompt.toast(self.currentBookId);
      userRemoveAticleFromLove(self.currentBookId).then(res => {
        console.log(res);
        if (res.data.status == 1) {
          self.articles.splice(self.currentIndex, 1);
          prompt.toast(res.data.info);
        } else {
          prompt.toast("服务器错误，稍后请重试");
        }
      });
    },
    getData(pageIndex) {
      var self = this;
      userGetLovedArticle(pageIndex).then(res => {
        console.log(res);
        console.log(self.articles.length + "qing12");
        if (res.status == 200) {
          // self.loadinging = false;
          // self.articles = self.articles.concat(res.data.data.data);
          if (res.data.data.data != "") {
            self.articles = self.articles.concat(res.data.data.data);
          }
          if (self.articles.length == 0) {
            console.log(self.articles.length + "qing1234");
            self.netStatus = 1;
            self.errorType = "noResult";
            self.errorMsg = "您还没有收藏喜爱的文章..";
          } else {
            self.netStatus = 2;
          }
        } else {
          self.netStatus = 1;
          self.errorType = "neterror";
        }
      });
    },
    loadMore(event) {
      var self = this;
      self.loadinging = true;
      if (self.articles.length < 10 * self.pageIndex) {
        prompt.toast("已经到底了");
        setTimeout(() => {
          self.loadinging = false;
        }, 2000);
      } else {
        self.pageIndex = self.pageIndex + 1;
        self.getData(self.pageIndex);
        // self.netStatus = 2;
      }
    },
    jumpToBookProfile() {
      jumpSubPage(this, "libraryBookIntroduce");
    }
  }
};
</script>
