<template>
    <div class="body">
        <topNavigationWidget name="我的订阅" :secondaryPage="true" ></topNavigationWidget>
        <scroller class="scroller" v-if="netStatus==2">
            <div class="albumInfo-container">
                <div v-for="(item,index) in alreadyFollowLists" class="albumInfo" @click="jumpToAuthorColumn(item.id,1)">
                    <image style="width:147px;height:147px;border-radius: 75px;" :src="item.img_url"></image>
                    <text style="color:#101010;font-size: 26px;text-align: center;margin-top: 30px;font-family: Roboto">{{item.name}}</text>
                    <!-- <div style="flex-direction: row;justify-content: center;align-items: center;width:200px">
                        <text class="red-dot"></text>
                        <text style="color:#888888;font-size: 21px">2小时前更新</text>
                    </div> -->
                </div>
                <!-- <div style="justify-content: center;align-items: center;width:200px;height: 250px;margin-left: 25px;margin-top: 45px;">
                    <crIconFont  name="ion-android-add" size="80px" color="#101010" @click="addmoreAlbum()"></crIconFont>
                </div> -->
                <div class="albumInfo" style="padding-top:30px">
                    <crIconFont  name="ion-android-add" size="80px" color="#101010" @click="addmoreAlbum()"></crIconFont>
                    <text style="color:#101010;font-size: 26px;text-align: center;margin-top: 30px;font-family: Roboto"></text>
                </div>
            </div>
        </scroller>

        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>
    
</template>
<script >
    import { getImgPath } from '../01.utils/common'; 
    import global from '../02.bus/global';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage } from '../01.utils/navigator';
    import { jump } from '../01.utils/navigator';
    import {updateProfile} from'../02.bus/user';
    import { getFollowColumnList } from '../02.bus/creader';
    import { userRemoveColumn } from '../02.bus/creader';
    import syncAblumInfo from '../02.bus/syncAblumInfo';
    import googleTrack from '../02.bus/googleTrack';

    export default {
            data () {
                return {
                    getImgPath:getImgPath,
                    networkStatus:1,
                    errorType:'',
                    errorMsg:'',
                    global:global,
                    netStatus:0,
                    secondaryPage: true,
                    alreadyFollowLists:[],
                    height:'',
                }
            },
            created:function () {
                let deviceHeight = WXEnvironment.deviceHeight || unknown;
                let deviceWidth = WXEnvironment.deviceWidth || unknown;
                this.height = 750/deviceWidth*deviceHeight;

                var self = this;
                self.getData();

                syncAblumInfo.receive(res=>{
                    for(let i = 0;i<self.alreadyFollowLists.length;i++){ 
                        if(res.data.id == self.alreadyFollowLists[i].id && res.data.status == 'cancel'){
                                self.alreadyFollowLists[i].status = 0;
                                self.alreadyFollowLists.splice(i, 1);
                        }else{
                            self.getData();
                        } 
                    }                        
                })
                googleTrack.userOtherSubscription();
            },
            watch: {
              alreadyFollowLists: {
                deep: true,
                handler () {
                  this.saveAlreadyFollowList()
                }
              }
            },
            methods:{
                saveAlreadyFollowList(){
                    this.alreadyFollowLists = this.alreadyFollowLists;
                },
                onProfileInput(e){
                    this.profile=e.value;
                    prompt.toast(this.profile);
                },
                addmoreAlbum(){
                    jumpSubPage(this,"articleAlbumAll",{from:'mySubscribe'});
                },
                refresh(){
                    var self = this;
                    global.init();
                    self.netStatus = 0;
                    self.getData();
                    syncAblumInfo.receive(res=>{
                        for(let i = 0;i<self.alreadyFollowLists.length;i++){ 
                            if(res.data.id == self.alreadyFollowLists[i].id && res.data.status == 'cancel'){
                                    self.alreadyFollowLists[i].status = 0;
                                    self.alreadyFollowLists.splice(i, 1);
                                } 
                        }                        
                    })
                },
                getData(){
                    var self = this;
                    getFollowColumnList().then(res=>{
                        console.log(res);
                        if(res.status != -1 && typeof(res.data)!="undefined"){                          
                            self.alreadyFollowLists = res.data.data;
                            console.log("1111");
                            if(self.alreadyFollowLists==0){
                                self.netStatus = 1;
                                self.errorType = 'noResult';
                                self.errorMsg = "您还没有订阅专栏或作者..";
                            }else{
                                self.netStatus = 2;
                            }
                            
                            
                        }else{
                            self.netStatus = 1;
                            self.errorType = 'neterror';
                        }

                    })
                },
                unFollow(index,albumId){
                    var self = this;
                    userRemoveColumn(albumId).then(res=>{
                        if(res.data.status==1){
                                
                              self.alreadyFollowLists.splice(index,1);
                              syncAblumInfo.cancel(albumId);
                              prompt.toast("已移除");
                              console.log(self.alreadyFollowLists);
                            }
                        })
                },
                update(){
                    updateProfile(self.name,self.nickName,self.profile,function(res){
                        console.log(res);
                        if(res.data.status==1){
                            prompt.toast("修改成功");
                        };
                    });
                },
                jumpToAuthorColumn(albumId,status){
                    jumpSubPage(this,'articleAlbumInfo',{id:albumId,status:status})
                },
            }

    }
</script>

<style scoped>
    .body{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
    .layout{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .scroller{
        position: absolute;
        left:0;
        top:100px;
        right:0;
        bottom:0;        
    }
    .albumInfo-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        /*margin-top:20px;*/
        padding: 25px;
        /*background-color: lightgreen;*/
    }
    .red-dot{
        width:20px;
        height: 20px;
        border-radius: 10px;
        background-color: #E15D53;
        margin-right:10px;
    }
    .albumInfo{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width:200px;
        height: 250px;
        margin-left: 25px;
        margin-top: 45px;
        /* background-color: lightblue; */
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:100px;
      left: 0;
      right: 0;
      bottom:100; 
      align-items:center;
      justify-content: space-around;
    }
    
    
</style>