<!-- CopyRight (C) 2017-2022 Alibaba Group Holding Limited. -->
<!-- Created by Tw93 on 17/03/31. -->
<!-- title  color:#2f2f2f; 主色 #E15D53
des color:#8f8f8f; -->
<template>
    <div class="body" >
            <div class="content" >
                <text class="toptitle"></text>
                <text class="toptitle">{{begDateStr}} 到 {{endDateStr}} 文章阅读排行</text>
                <text class="toptitle"></text>
            </div>
            <list class="list" v-if="netStatus==2">      
                <cell class="article" v-for="(item,index) in articles" :key="index">
                    <div >
                        <div class="article-top">
                            <div class="article-time">
                                <text class="order_title" v-if="index<3">{{index+1}}</text>
                                <text class="order_title_normal" v-else>{{index+1}}</text>
                            </div>
                            <div style="flex-direction:row;justify-content:flex-end;align-items:center">
                                <text class="article-name" style="font-family: Roboto;">来自 {{item.album_name}}</text>
                            </div>
                        </div> 
                        <div class="article-mid" @click="jumpToRead(item.id)">
                            <div class="article-content">
                                <text class="title" style="font-family: Roboto;">{{item.title}}</text>
                                <!-- <text class="article-des-normal article-des-2">{{item.des}}</text> -->
                                <text v-if="item.titleLength == 1" class="article-des-normal article-des-3">{{item.des}}</text>
                                <text v-else-if="item.titleLength == 2" class="article-des-normal article-des-2">{{item.des}}</text>
                                <text v-else class="article-des-normal article-des">{{item.des}}</text>
                            </div>
                            <image  :src="item.img_url" style="width:252px;height:195px;" resize="cover"></image>
                        </div>  
                        <div class="article-bottom">
                            <div class="article-bottom-left">
                                <text style="font-size: 21px;color:#B6B6B6;font-family: Roboto;">{{item.browse}}阅读・</text>
                                <text style="font-size: 21px;color:#B6B6B6;font-family: Roboto"></text>
                            </div>
                            <!-- <image class="img_subscribeBtn" :src="getImgPath('share.png')"></image> -->
                            <!-- <crIconFont :name="shareIcon" size=45 color="#B6B6B6" @click="share(item.id)"></crIconFont> -->
                        </div>
                    </div>  
                </cell> 
                <loading class="loading" @loading="loadMore" :display="loadinging ? 'show' : 'hide'">
                      <text class="indicator-text" style="font-family: Roboto;">Loading ...</text>
                      <loading-indicator class="indicator"></loading-indicator>
                </loading> 
            </list>
            <commonFun ref="commonFun" ></commonFun>
            <loadingCircle v-if="netStatus==0"></loadingCircle>
            <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>
</template>

<style scoped>
    .body{
        width:750px;
        position: absolute;
        top:0px;
        left: 0;
        right: 0;
        bottom:0; 

        /*justify-content: center;
        align-items: center;*/
    }
    .list{
        width:750px;
        position: absolute;
        top:100px;
        left: 0;
        right: 0;
        bottom:-20; 
        background-color: #f5f5f5;
    }
    .article{
        border-bottom-width: 19px;
        border-bottom-color: #f5f5f5;
        background-color: #ffffff;
        padding-bottom: 10px;
    }
    .article-top{
        height:98px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #ececec;
        padding-left: 30px;
        padding-right: 30px;
        font-family: Segoe UI;
        /*background-color: lightgreen;*/
    }
    .article-name{
        color:#545454;
        font-size:28px;
        margin-left:33px;
        font-family: Segoe UI;
        /*letter-spacing: 13px;*/
        /*line-height: 45px;*/
    }
    .article-tag{
        color:#888888;
        font-size: 25px;
        margin-left:20px;
        font-family: Segoe UI;
        /*background-color: yellow;*/
    }
    .article-time{
        width:150px;
        margin-left: 20px;
        color:#888888;
        font-size: 22px;
        text-align: left;
        font-family: Segoe UI;
        /*background-color: red;*/
    }
    .title{
        color:#101010;
        font-size:29.4px;
        font-family: "Helvetica Neue",sans-serif;
        font-weight: bold;
        padding-bottom: 15px;
        text-overflow: ellipsis;
        lines:3;
    }
    .title-spread{
        color:#2f2f2f;
        font-size:29.4px;
        font-family: "Helvetica Neue",sans-serif;
        font-weight: bold;
        padding-bottom: 15px;
        /*lines:2;*/
    }
    .article-des{
        lines: 1;
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
    .loadingDate{
      width:50px;
      height:50px;
    }
    .article-des-normal{
        color:#888888;
        font-size: 25px;
        padding: 0;
        text-overflow: ellipsis;
        font-family: Roboto;
    }
    .article-des-3{
        lines: 3;
    }
    .article-des-2{
        lines: 2;
    }
    .article-des-spread{
        color:#888888;
        font-size: 25px;
        text-overflow: ellipsis;
        lines:1;
    }
    .article-mid{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        /*background-color: lightblue;*/
    }
    .article-content{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width:420px;
        height: 195px;
        overflow: hidden;
        /*padding-bottom: 10px;*/
        padding-right: 34px;
        /*background-color: lightgreen;*/
    }
    .article-content-spread{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        width:700px;
        /*padding-top:10px;*/
        /*padding-bottom: 30px;*/
        padding-right: 34px;
        font-family: Segoe UI;
        /*background-color: lightblue;*/
    }
    .article-bottom{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        /*background-color: lightblue;*/
    }
    .article-bottom-left{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .img_subscribeBtn{
        width:34px;
        height:34px;
    }
    .loading {
        width: 750;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
      }
      .indicator-text {
        color: #E15D53;
        font-size: 42px;
        text-align: center;
      }
      .indicator {
        margin-top: 16px;
        height: 40px;
        width: 40px;
        color: #E15D53;
      }

    .content{
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #E15D53;
        height: 100px;
    }
    .toptitle{
        font-size:34px;
        font-family: Roboto;
        color: white;
    }
    .order_title{
        width:50px;
        background-color:#f45a5b;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .order_title_normal{
        width:50px;
        background-color:#c0c1c3;
        flex-flow: nowrap;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
</style>
<script>
    import global from '../02.bus/global';
    import Utils from '../01.utils/Utils';
    import Config from '../03.components/tabbar/weextabbarConfig';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage, } from '../01.utils/navigator';
    import {getReakInfo,shareArticleToFriends} from '../02.bus/creader';
    import { getImgPath } from '../01.utils/common'; 
    import googleTrack from '../02.bus/googleTrack';
    const animation = weex.requireModule('animation');

    export default {
        props:{
            tabbarItemSelected:Number
        },
        data: () => ({
            tabTitles: Config.tabTitles,
            tabStyles: Config.tabStyles,
            getImgPath:getImgPath,
            currentPage:0,
            height:750,
            articles:[],
            clientUrl:"",
            global:global,
            msg:'首页',
            pageIndex:1,
            loadinging: false,
            errorType:'',
            errorMsg:'',
            begDate:'',
            endDate:'',
            begDateStr:'',
            endDateStr:'',
            netStatus:0,  //0表示正在加载数据，1表示网络错误，2表示加载数据成功
            shareIcon:'ion-share'
        }),
        created () {           
            let deviceHeight = WXEnvironment.deviceHeight || unknown;
            let deviceWidth = WXEnvironment.deviceWidth || unknown;
            this.height = 750/deviceWidth*deviceHeight-50;
            this.getData();
        },
        methods: {
            bannerJump(event){
                console.log("11")
            },
            jumpToBookProfile(){
                jumpSubPage(this,'libraryBookIntroduce',{closeThisPage:true})
            },
            share(id){
                let article = this.getArticleById(id);   
                let url = "http://read.biblemooc.net/display/index/index?id="+id;
                shareArticleToFriends(article.id).then(res=>{
                    console.log(res);
                    this.$refs.commonFun.ShareArticle(article.title,url,article.img_url,article.des);
                })
            },
            test(){
                prompt.toast("测试信息");
            },
            jumpToRead(id){
                let article = this.getArticleById(id);
                if(article){
                    jumpSubPage(this,'articleDetails',
                        {id:article.id
                        ,title:article.title
                        ,des:""
                        ,img_url:article.img_url
                        ,album_id:article.album_id
                        ,album_img_url:article.album_img_url
                        ,album_name:article.album_name
                        }
                    );
                }
            },
            getArticleById(id){
                let article;
                let len = this.articles.length;
                for(let i=0;i<len;i++){
                    if(id == this.articles[i].id){
                        article = this.articles[i];
                        break;
                    }
                }
                return article;
            },
            loadData(){
                this.getData();
            },
            loadMore (event) {
                var self=this;
                self.loadinging = true
                if(self.articles.length<10*self.pageIndex){
                    prompt.toast("数据已经加载完成");
                    setTimeout(() => {
                        self.loadinging = false;
                    }, 2000)
                }else{
                    self.pageIndex = self.pageIndex+1;
                    self.getData(self.pageIndex);
                }
            },
            arrNoRepeat(arr){
                return Array.from(new Set(arr)); 
            },
            browseInfo(id){
//                jump(this,this.clientUrl+"?id="+id)
                console.log(id);
            },
            getQueryString(name)
            {
                var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                console.log(window.location.search);
                if(r!=null)
                {
                    return  unescape(r[2]); 
                }
                else{
                    return null;
                };
            },
            formatDate(begDate,endDate){
                var bDate = new Date(begDate);
                this.begDateStr = (bDate.getMonth()+1)+"月"+bDate.getDate()+"日";
                var eDate = new Date(endDate);
                this.endDateStr = (eDate.getMonth()+1)+"月"+eDate.getDate()+"日";
                console.log(this.begDateStr+" - "+this.endDateStr);
            },
            getData(){
                var self = this;
                console.log(this.getQueryString("begDate"));
                this.begDate = this.getQueryString("begDate");
                this.endDate = this.getQueryString("endDate");
                this.formatDate(this.begDate,this.endDate);
                getReakInfo(this.begDate,this.endDate).then(res=>{
                    if(res.status != -1 && typeof(res.data)!="undefined") {
                        self.loadinging = false;
                        self.netStatus = 2;
                        self.articles = self.articles.concat(res.data.data);
                        self.articles.forEach(function(value,index,array){
                            if(value.title.length < 12) {
                                value["titleLength"] = 1;
                            }else if(value.title.length < 26){
                                value["titleLength"] = 2;
                            }else{
                                value["titleLength"] = 3;
                            }
                        })
                        self.clientUrl = res.data.client_url;
                    }else{
                        self.netStatus = 1;
                        self.errorType = 'neterror';
                    }
                })
            },
            tabBarCurrentTabSelected (e) {
                const page = e.page;
                console.log(page);
                jumpSubPage(this,page,{closeThisPage:true});
            },
            jumpToAuthorColumn(albumName,albumId){
                jumpSubPage(this,'articleAlbumInfo',{id:albumId})
            },
        }
    };
</script>
