<template>
    <div class="wrapper">
        <searchBar ref="wxc-searchbar"
                       @wxcSearchbarCancelClicked="wxcSearchbarCancelClicked"
                       @wxcSearchbarInputOnInput="wxcSearchbarInputOnInput"
                       @wxcSearchbarCloseClicked="wxcSearchbarCloseClicked"
                       @wxcSearchbarInputOnFocus="wxcSearchbarInputOnFocus"
                       @wxcSearchbarInputOnBlur="wxcSearchbarInputOnBlur"></searchBar>
        <div class="tab-bar">
            <text class="tab-item" v-for="(item,index) in tabItems" :key="index" @click="changeTab(index)">{{item}}</text>
        </div>
        <div class="tab-bar-border" :style="{left:left+'px'}">
            
        </div>
        <scroller v-if="artcileResult.length>0">
            <div class="article-mid" v-for="(item,index) in artcileResult" :key="index"  @click="jumpToRead(item.id)">
                <div class="article-content">
                    <text class="title">{{item.title}}</text>
                    <div style="flex-direction: row;justify-content: space-between;width: 370px;">
                        <text class="article_read_recommend" style="color:#888888；font-size:25px;font-family: Roboto">{{item.album_name}}</text>
                        <div style="flex-direction: row;justify-content: space-between;overflow:hidden;">
                            <text class="article_read_recommend" style="font-family: Roboto;">{{item.browse}}阅读∙</text>
                            <text class="article_read_recommend" style="font-family: Roboto;">{{item.love_count}}喜欢</text>
                        </div>
                    </div>
                </div>
                <image :src="item.img_url" style="width:290px;height:194px;" resize="cover"></image>
            </div> 
        </scroller>
        <scroller v-if="albumResult.length>0" style="height:500px;width: 750px;">
            <followAlbum :albums="albumResult"></followAlbum>
        </scroller>
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>
</template>

<script>
 import { getImgPath } from '../01.utils/common';  
 import { back } from '../01.utils/navigator';
 import global from '../02.bus/global';
 import {getOpenId,getUserId} from '../02.bus/user';
 import { jumpSubPage } from '../01.utils/navigator';
 import prompt from '../01.utils/prompt';
 import { userFollow,userRemoveColumn,queryAllAlbumLists} from '../02.bus/creader';
 import {storageGetItem} from '../01.utils/storage';
 import { searchResult } from '../02.bus/creader';
export default {
  data () {
    return {
       global:global,
       getImgPath:getImgPath,
       albumLists:[],
       // tabItems:["文章","专栏","图书"],
       tabItems:["文章","专栏"],
       left:0,
       searchValue:'',
       artcileResult:[],
       albumResult:[],
       bookResult:[],
       currentTab:0,
       pageIndex:1,
       errorType:'',
       errorMsg:'',
       netStatus: -1,
       errorType:'',
       height:'',
    }
  },
  computed:{
        Id:function(){
            var self = this;
            return self.albums.length;
        }
    },
  props: {
        
      },
      mounted(){
         
      },
    created(){
      let deviceHeight = WXEnvironment.deviceHeight || unknown;
      let deviceWidth = WXEnvironment.deviceWidth || unknown;
      this.height = 750/deviceWidth*deviceHeight;
        // this.getData();
        // this.netStatus = 1;
        // this.errorType = 'noResult';
        // this.errorMsg = '查无结果';
    },
    methods:{
      goBack: function() {
          back(this,"");
      },
      changeTab(index){
        let self = this;
        self.artcileResult = [];
        self.albumResult = [];
        self.bookResult = [];
        self.currentTab = index;
        if(index==0){
            self.left = 0;
            if(self.searchValue == ''){
                prompt.toast("请输入关键字")
            }else{
                searchResult(self.searchValue,2,self.pageIndex).then(res=>{
                  console.log(res);
                  if(res.status != -1 && typeof(res.data)!="undefined") {
                      self.netStatus = 2;
                      if(res.data.data.length>0){
                        self.artcileResult = res.data.data;
                      }else{
                        self.netStatus = 1;
                        self.errorType = 'noResult';
                        self.errorMsg = '查无结果';
                      }
                      
                  }else{
                      self.netStatus = 1;
                      self.errorType = 'noResult';
                      self.errorMsg = '请检查网络';
                  }
                  
              })
            }
        }else if(index == 1){
            self.left = 375
            if(self.searchValue == ''){
                prompt.toast("请输入关键字")
            }else{
              searchResult(self.searchValue,3,self.pageIndex).then(res=>{               
                console.log(res);
                if(res.status != -1 && typeof(res.data)!="undefined") {
                      self.netStatus = 2;
                      if(res.data.data.length>0){
                        self.albumResult = res.data.data;
                      }else{
                        self.netStatus = 1;
                        self.errorType = 'noResult';
                        self.errorMsg = '查无结果';
                      }
                      
                  }else{
                      self.netStatus = 1;
                      self.errorType = 'noResult';
                      self.errorMsg = '请检查网络';
                }
              })
            }
        }else{
            self.left = 500
        }
      },
      jumpToRead(id){
        let article;
        let len = this.artcileResult.length;
        for(let i=0;i<len;i++){
            if(id == this.artcileResult[i].id){
                article = this.artcileResult[i];
                break;
            }
        }
        jumpSubPage(this,'articleDetails',
            {id:article.id
            ,title:article.title
            ,des:article.des
            ,img_url:article.img_url
            ,album_id:article.album_id
            ,album_img_url:article.album_img_url
            ,album_name:article.album_name
            }
        );
      },

      wxcSearchbarInputOnFocus () {
          // modal.toast({ 'message': 'onfocus', 'duration': 1 });
        },
        wxcSearchbarInputOnBlur () {
          // modal.toast({ 'message': 'onbulr', 'duration': 1 });
        },
        wxcSearchbarCloseClicked () {
          // modal.toast({ 'message': 'close.click', 'duration': 1 });
        },
        wxcSearchbarInputOnInput (e) {
          // this.value = e.value;
        },
        wxcSearchbarCancelClicked (e) {
          //type = 1查询书;2表示查询文章;3，表示查询专辑
          let self = this;
          self.searchValue = e.value;
          self.netStatus = 0;
          self.artcileResult = [];
          self.albumResult = [];
          self.bookResult = [];
          let type = 0;
          if(this.currentTab == 0){
              type = 2;
              searchResult(e.value,type,this.pageIndex).then(res=>{
                  console.log(res);
                  if(res.status != -1 && typeof(res.data)!="undefined") {
                      self.netStatus = 2;
                      if(res.data.data.length>0){
                        self.artcileResult = res.data.data;
                      }else{
                        self.netStatus = 1;
                        self.errorType = 'noResult';
                        self.errorMsg = '查无结果';
                      }
                      
                  }else{
                      self.netStatus = 1;
                      self.errorType = 'noResult';
                      self.errorMsg = '请检查网络';
                  }
                  
              })
          }else if(this.currentTab == 1){
              type = 3;
              searchResult(e.value,type,this.pageIndex).then(res=>{
                
                console.log(res);
                if(res.status != -1 && typeof(res.data)!="undefined") {
                      self.netStatus = 2;
                      if(res.data.data.length>0){
                        self.albumResult = res.data.data;
                      }else{
                        self.netStatus = 1;
                        self.errorType = 'noResult';
                        self.errorMsg = '查无结果';
                      }
                      
                  }else{
                      self.netStatus = 1;
                      self.errorType = 'noResult';
                      self.errorMsg = '请检查网络';
                }
                })
          }else{
              type = 1;
              searchResult(e.value,type,this.pageIndex).then(res=>{
                  console.log(res);
                  self.netStatus = 2;
                  // if(res.status != -1 && typeof(res.data)!="undefined") {
                  //       self.netStatus = 2;
                  //       self.albumResult = res.data.data;
                  //   }else{
                  //       self.netStatus = 1;
                  //       self.errorType = 'noResult';
                  // }
              })
        }
        

        },
        wxcSearchbarInputDisabledClicked () {
            // modal.toast({ 'message': 'input.onclick', 'duration': 1 });
        },
        wxcSearchbarDepChooseClicked () {
            // modal.toast({ 'message': 'dep.choose.click', 'duration': 1 });
        },
        wxcSearchbarInputReturned(e){
           // prompt.toast(e.value);
        }
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .wrapper{
        background-color: #F0F0F2;
    }
    .tab-bar{
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        background-color: #E15D53;
    }
    .tab-item{
        color: rgba(255, 255, 255, 1);
        flex: 1;
        align-self: stretch;
        line-height: 100px;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        font-family: Roboto;
    }
    .tab-bar-border{
        width:375px;
        height: 100px;
        left: 0;
        border-bottom-width:4px;
        border-bottom-style: solid;
        border-bottom-color: #fff;
        transition: left 0.2s ease-in-out;
    }
    .article-mid{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #ffffff;
        /*background-color: lightgreen;*/
        margin-bottom: 19px;
    }
    .article-content{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width:400px;
        height: 194px;
        /*padding-top:30px;*/
        /*padding-bottom: 30px;*/
        /*padding-right: 30px;*/
        font-family: Segoe UI;
        /*background-color: lightblue;*/
    }
    .title{
        color:#101010;
        font-size:31px;
        font-family: "Helvetica Neue",sans-serif;
        font-weight: bold;
        padding-bottom: 15px;
        padding-right: 30px;
        /*lines:2;*/
    }
    .article_read_recommend{
        color: #B6B6B6;
        font-size: 21px;
    }
    .promptInformation{
      width: 750px;
      position: absolute;
      top:0px;
      left: 0;
      right: 0;
      bottom:0; 
      align-items:center;
      justify-content: space-around;
    }
</style>