/** @author Henry
*	@description 书店分类展示页面
*   @date  2018-01-24 10:10:59
*/ 
<template>
  <div class="body">
    <div class="top">
      <div @click="back" class="back">
        <image :src="getImgPath('backarrow.png')" style="width:90px;height:90px;border-radius:5px;" />
      </div>
      <text class="category_title">{{category}}</text>
      <text></text>
    </div>
    <waterfall
      ref="waterfall"
      loadmoreoffset="3000"
      class="content"
      v-if="netStatus==2"
      column-width="auto"
      column-count="3"
      column-gap="5px"
      show-scrollbar="false"
      scrollable="true"
    >
      <cell v-for="(item,index) in books" :key="index" style="height:380px;">
        <div
          class="alreadyFollowList_album"
          @click="jumpToStorbookDetail(item.id)"
          v-bind:key="index"
        >
          <image
            :src="item.img_url"
            :placeholder="getImgPath('cover_default_new.png')"
            style="width:160px;height:220px;border-radius:5px;padding:20px;"
          />
          <text class="alreadyFollowList_album_name">{{item.title}}</text>
        </div>
      </cell>
    </waterfall>
    <loadingCircle v-if="netStatus==0"></loadingCircle>
    <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
  </div>
</template>
<script>
import { getImgPath } from "../01.utils/common";
import { jumpSubPage } from "../01.utils/navigator";
import Config from "../03.components/tabbar/weextabbarConfig";
import { getBookListByTag } from "../02.bus/store";
import util from "../01.utils/util";
import { back } from "../01.utils/navigator";
import googleTrack from "../02.bus/googleTrack";

export default {
  data() {
    return {
      category: "",
      id: "",
      getImgPath: getImgPath,
      message: Config.bottommessage.message,
      errorType: "",
      errorMsg: "",
      global: global,
      netStatus: 0,
      books: [],
      height: ""
    };
  },
  created() {
    let deviceHeight = WXEnvironment.deviceHeight || unknown;
    let deviceWidth = WXEnvironment.deviceWidth || unknown;
    this.height = (750 / deviceWidth) * deviceHeight;
    this.getData();
  },
  methods: {
    jumpToStorbookDetail(id) {
      jumpSubPage(this, "storeBookDetail", { id: id, from: "shop" });
    },

    refresh() {
      var self = this;
      global.init();
      self.netStatus = 0;
      self.getData();
    },

    back() {
      back(this, "");
    },

    getData() {
      var self = this;
      self.id = util.getUrlSearch(weex.config.bundleUrl, "id");
      self.category = util.getUrlSearch(weex.config.bundleUrl, "category");
      //   googleTrack.userLibraryOpenBookshopMore(self.category);

      getBookListByTag(self.id).then(data => {
        console.log(data);
        self.books = data.data.data;
        if (self.books.length > 0) {
          self.netStatus = 2;
        }
        if (data.length == 0) {
          self.netStatus = 1;
          self.errorType = "noResult";
        }
      });
    }
  }
};
</script>

<style scoped>
.body {
  width: 750px;
}
.back {
  width: 40px;
  height: 90px;
  justify-content: center;
  align-items: center;
}
.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 102px;
  padding-left: 40px;
  padding-right: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #f0f0f0;
  /*background-color: green;*/
}
.content {
  position: relative;
  top: 102px;
  right: 0px;
  left: 0px;
}
.alreadyFollowList_album {
  width: 200px;
  height: 330px;
  margin-left: 20px;
  margin-top: 37px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
}
.alreadyFollowList_album_name {
  font-size: 26px;
  margin-top: 26px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: #505050;
  justify-content: center;
  align-items: center;
}

.category_title {
  color: #5b5b5b;
  font-size: 30px;
  font-weight: bold;
}

.content {
  position: absolute;
  top: 102px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  /*background-color: red; */
}
.booksbox {
  width: 200px;
  height: 320px;
  margin-left: 37px;
  margin-top: 37px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fdfdfd;
}

.booktitle {
  lines: 2;
  font-size: 26px;
  margin-top: 26px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  color: #505050;
}
.textone {
  width: 750px;
  height: 30px;
}
.texttwo {
  position: relative;
  bottom: 0px;
  width: 750px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.promptInformation {
  width: 750px;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: space-around;
}
</style>