/** @author Henry
*	@description 书店书籍详细页面
*   @date  2018-01-24 10:10:59
*/ 
<template>
  <div class="body">
    <div class="top" v-if="netStatus==2">
      <div @click="back" class="back">
        <image :src="getImgPath('backarrow.png')" style="width:90px;height:90px;border-radius:5px;" />
      </div>
      <text class="albumName">{{bookInfo.album_name}}</text>
      <image :src="getImgPath('sharetofriend.png')" class="top_icon" @click="share()" />
    </div>
    <webView ref="webview" class="web" :src="pageurl"></webView>
    <div class="bottom" v-if="netStatus==2">
      <div class="selldiv" @click="goSell(bookInfo.book_address)">
        <text class="goselltext">去购买</text>
        <image class="gosellimg" :src="getImgPath('gosell.png')" />
      </div>
    </div>
    <commonFun ref="commonFun"></commonFun>
  </div>
</template>
<script>
import { getHost, get } from "../01.utils/fetch";
import { getImgPath } from "../01.utils/common";
import { jumpSubPage } from "../01.utils/navigator";
import { back } from "../01.utils/navigator";
import util from "../01.utils/util";
import { getOpenId, getUserId } from "../02.bus/user";
import { getBookProfile } from "../02.bus/store";
import googleTrack from "../02.bus/googleTrack";

export default {
  data() {
    return {
      pageurl: "",
      getImgPath: getImgPath,
      id: "",
      from: "",
      bookInfo: {},
      networkStatus: 1,
      global: global,
      netStatus: 0,
      errorType: "",
      errorMsg: ""
    };
  },
  created: function() {
    var self = this;
    self.id = util.getUrlSearch(weex.config.bundleUrl, "id");
    self.from = util.getUrlSearch(weex.config.bundleUrl, "from");
    (self.pageurl =
      getHost() +
      "/display/index/commodityDetails?id=" +
      self.id +
      "&f=" +
      self.from),
      // prompt.toast(self.pageurl);
      // self.id = 207;
      self.getData(self.id);
  },

  methods: {
    back() {
      back(this, "");
    },
    share() {
      this.$refs.commonFun.ShareArticle(
        this.bookInfo.title,
        this.pageurl,
        this.bookInfo.img_url,
        this.bookInfo.des
      );
      // prompt.alert(this.bookInfo.title);
    },
    goSell(productid) {
      // googleTrack.userLibraryOpenBookshopBuy(this.bookInfo.title);
      var event = weex.requireModule("event");
      event.gosell(productid);
    },
    refresh() {
      var self = this;
      self.netStatus = 0;
      self.getData(self.id);
    },

    getData(id) {
      var self = this;

      getBookProfile(id).then(res => {
        console.log(res);
        if (
          res.status != -1 &&
          typeof res.data != "undefined" &&
          res.data != null
        ) {
          self.netStatus = 2;
          self.bookInfo = res.data.data;
          // googleTrack.userLibraryOpenBookshopDetails(self.bookInfo.title);
        } else {
          self.netStatus = 1;
          self.errorType = "neterror";
        }
      });
    }
  }
};
</script>

<style scoped>
.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.back {
  width: 60px;
  height: 90px;
  justify-content: center;
  align-items: center;
}
.albumName {
  color: #5b5b5b;
  font-size: 30px;
  font-weight: bold;
}
.web {
  position: absolute;
  width: 750px;
  height: 1333px;
  top: 90px;
}
.top {
  width: 750px;
  height: 96px;
  flex-direction: row;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  justify-content: space-between;
  background-color: #f6f6f6;
}

.top_icon {
  width: 45px;
  height: 45px;
}
.scroller {
  position: absolute;
  top: 96px;
  width: 750px;
  bottom: 80px;
}
.bottom {
  position: fixed;
  bottom: 0px;
  width: 750px;
  height: 80px;
  background: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.selldiv {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
  background-color: #e15d53;
}
.goselltext {
  font-size: 36px;
  color: #ffffff;
}
.gosellimg {
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
</style>