<template>
    <div class="body" >
        <topNavigationWidget :name="topname"></topNavigationWidget>
        <scroller class="scroller"  v-if="netStatus==2">
            <slider class="slider" interval="5000" infinite="true"  auto-play="true" @change="onchange">
                <div class="frame" v-for="banner in banners">
                    <image class="image" resize="stretch" :src="banner.img_url" @click = "bannerJump(banner.article_id,banner.is_shop)"></image>
                </div>
                <indicator class="indicator"></indicator>
            </slider>  
            <div class="suggestionBar" @click="goToAllAlbums()">
                <text class="text_suggestion" style="font-family: Roboto;">优秀专栏推荐</text>
                <text class="text_suggestion_icon">></text>
            </div> 
            <followAlbum :albums="albums"></followAlbum>
            <div class="suggestionBar1">
                <text class="text_suggestion" style="font-family: Roboto;">热门文章推荐</text>
            </div>
            <div class="article-mid" v-for="(item,index) in hotArticles" :key="index" @click="jumpToRead(item.id)">
                <div class="article-content">
                    <text class="title" style="font-family: Roboto;">{{item.title}}</text>
                    <div style="flex-direction: row;justify-content: space-between;width: 390px;padding-right: 30px;font-family: Roboto">
                        <text class="article_read_recommend" style="color:#888888；font-size:25px;font-family: Roboto">{{item.album_name}}</text>
                        <div style="flex-direction: row;justify-content: space-between;overflow:hidden;">
                            <text class="article_read_recommend" style="font-family: Roboto;">{{item.browse}}阅读∙</text>
                            <text class="article_read_recommend" style="font-family: Roboto;">{{item.love_count}}喜欢</text>
                        </div>
                    </div>
                </div>
                <image :src="item.img_url" style="width:296px;height:194px;" resize="cover"></image>
            </div> 
            <div class="bottom-white">
                
            </div>
        </scroller>
        <loadingCircle v-if="netStatus==0"></loadingCircle>
        <netError v-if="netStatus==1" @toNetError="refresh" :errorType="errorType" :errorMsg="errorMsg"></netError>
    </div>
    
</template>
<script>
    import { getImgPath } from '../01.utils/common'; 
    import global from '../02.bus/global';
    import Utils from '../01.utils/Utils';
    import Config from '../03.components/tabbar/weextabbarConfig';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage } from '../01.utils/navigator';
    import { jump } from '../01.utils/navigator';
    import {getSubscribeInfo} from '../02.bus/creader';
    import { userFollow } from '../02.bus/creader';
    import { userRemoveColumn } from '../02.bus/creader';
    import syncAblumInfo from '../02.bus/syncAblumInfo';
    import {getOpenId,getUserId} from '../02.bus/user';
    import {storageSetItem} from '../01.utils/storage';
    
    export default {
            props:{
                tabbarItemSelected:Number
            },
            data () {
                return {
                    topname:'订阅专栏',
                    currentPage:1,
                    tabTitles: Config.tabTitles,
                    tabStyles: Config.tabStyles,
                    getImgPath:getImgPath,
                    netStatus:0,
                    followStatus:'',
                    banners:[],
                    albums:[],
                    hotArticles:[],
                    storagediv:[],
                    global:global,
                    clientUrl:"",
                    errorType:'',
                    errorMsg:'',
                    height:0,
                    albumInfo:[],
                }
            },
            created() {
                let self = this;
                self.getData();
                // syncAblumInfo.receive(self.getData);
                syncAblumInfo.receive(res=>{
                    console.log("qingsong-------subscribetest");
                    self.getData();
                    console.log(res);
                    console.log("qingsongalbumtest");
                    if(res.data.status == 'getData'){
                        console.log("qingsong---------------------专栏页同步测试");
                        self.getData();
                    }else{
                        for(let i = 0;i<self.albums.length;i++){
                            if(res.data.id == self.albums[i].id && res.data.status == 'add'){
                                self.albums[i].status = 1;
                                self.albums[i].follow_count = self.albums[i].follow_count + 1;
                            }
                            if(res.data.id == self.albums[i].id && res.data.status == 'cancel'){
                                self.albums[i].status = 0;
                                self.albums[i].follow_count = self.albums[i].follow_count - 1;
                            }
                        }  
                    }                                              
                })
            },
            computed:{
                Id:function(){
                    var self = this;
                    return self.albums.length;
                }
            },
            methods:{
                jumpToRead(id){
                    let article;
                    let len = this.hotArticles.length;
                    for(let i=0;i<len;i++){
                        if(id == this.hotArticles[i].id){
                            article = this.hotArticles[i];
                            break;
                        }
                    }
                    if(article){
                        jumpSubPage(this,'articleDetails',
                                {id:article.id
                                ,title:article.title
                                ,des:article.des
                                ,img_url:article.img_url
                                ,album_id:article.album_id
                                ,album_img_url:article.album_img_url
                                ,album_name:article.album_name
                                }
                            );
                    }
                },
                loadData(){
                    var self = this;
                    console.log(" -- subscribe loadData -- ");
                    self.getData();
                },
                refresh(){
                    var self = this;
                    global.init();
                    self.netStatus = 0;
                    self.getData();
                    syncAblumInfo.receive(res=>{
                        for(let i = 0;i<self.albums.length;i++){
                            if(res.data.id == self.albums[i].id && res.data.status == 'add'){
                                self.albums[i].status = 1;
                                self.albums[i].follow_count = self.albums[i].follow_count + 1;
                            }
                            if(res.data.id == self.albums[i].id && res.data.status == 'cancel'){
                                self.albums[i].status = 0;
                                self.albums[i].follow_count = self.albums[i].follow_count - 1;
                            }
                        }                   
                    })
                },
                getData(){
                    var self = this;
                    getSubscribeInfo().then(res=>{
                        console.log(res);
                        if(res.status != -1 && typeof(res.data)!="undefined") {
                            var alreadyFollowList = res.data.data.alreadyFollowList;
                            console.log(alreadyFollowList);
                            var albumArrays = res.data.data.notSubscribedList;
                            self.albums = albumArrays.slice(0,5);
                            self.hotArticles = res.data.data.hotArticleList;
                            self.clientUrl = res.data.data.client_url;
                            self.banners=res.data.data.banners;

                            for(let i = 0; i<self.albums.length; i++){
                                for(let k = 0; k<alreadyFollowList.length; k++){
                                    if(self.albums[i].id==alreadyFollowList[k].id){
                                        self.albums[i].status = 1;
                                    }
                                }                               
                            }
                            self.loadinging = false;
                            self.netStatus = 2;
                        }else{
                            self.netStatus = 1;
                            self.errorType = 'neterror';
                        }
                    })
                },
                onchange(event){
                    console.log('changed:', event.index)
                },
                bannerJump(id,is_shop){
                   if(is_shop==1){
                        jumpSubPage(this,'storeBookDetail',{id:id,title:"",des:"",img_url:'',from:'shop'});
                    }
                },
                
                jumpToAuthorColumn(albumId,status){
                    jumpSubPage(this,'articleAlbumInfo',{id:albumId,status:status})
                },
                goToAllAlbums(){
                    jumpSubPage(this,'articleAlbumAll');
                },
            }

    }
</script>

<style scoped>
    .body{
        width:750px;
        position: relative;
        top:0px;
        left: 0;
        right: 0;
        bottom:0; 
        background-color: #f6f6f6;
        /*background-color: green;*/
    }
    .scroller{
        position: relative;
        left:0;
        top:0;
        right:0;
        bottom:-20; 
        /*background-color: lightblue;*/
    }
    .slider {
        height:320px;
        width:750px;
        /*margin-left:15px;*/
        /*margin-top:20px;*/
        /*border-radius: 10px;*/
    }
    .image {
        width: 750px;
        height:320px;
        /*border-radius: 10px;*/
    }
    .frame {
        width: 720px;
        height:320px;
        position:relative;
    }
    .indicator {
       width: 200px;
       height: 30px;
       item-color: white;
       item-selected-color: #E15D53;
       item-size: 20px;
       position: absolute;
       top: 290px;
       left: 275px;
    }
    .suggestionBar{
         width:750px;
         height:116px;
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-left: 30px;
         padding-right: 30px;
         /*border-top-width:20px;
         border-top-style: solid;
         border-top-color: white;*/
         justify-content: space-between;
         background-color:#f6f6f6;
    }
    .suggestionBar1{
        width:750px;
         height:96px;
         display: flex;
         flex-direction: row;
         align-items: center;
         padding-left: 30px;
         padding-right: 30px;
         justify-content: space-between;
         background-color:#f6f6f6;
    }
    .text_suggestion{
        color: #959595;
        font-size:27px;
    }
    .text_suggestion_icon{
        color: #959595;
        font-size: 31.83px;
    }
    .suggestionList{
        height:112px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       /* border-bottom-width:1px;
        border-bottom-style: solid;
        border-bottom-color: #e5e5e5;
        border-top-width:1px;
        border-top-style: solid;
        border-top-color: #e5e5e5;*/
        background-color: #ffffff;
        /*background-color: yellow;*/
    }
    .album_image{
        width:65.1px;
        height:65.1px;
        border-radius: 33px;
        margin-left: 15px;
        margin-right:15px;
    }
    .albumInfo{
        width:650px;
        height:112px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /*margin-top: 15px;*/
        /*margin-right: 35px;*/
        margin-left:20px;
        border-bottom-width:1px;
        border-bottom-style: solid;
        border-bottom-color: #e5e5e5;
        /*background-color: lightblue;*/
    }
    .albumInfo_last{
        width:650px;
        height:112px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /*margin-top: 15px;*/
        /*margin-right: 35px;*/
        margin-left:20px;
    }
    .albumInfoDetail{
        height:100px;
        width:430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 10px;
        /*background-color: lightgreen;*/
    }
    .article_read_recommend{
        color: #B6B6B6;
        font-size: 21px;
    }
    .album_NS{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-top: 5px;
    }
    .album_subscribed{
        border:1px solid grey;
        border-width:1px;
        border-style: solid;
        border-color: #D2D2D2;
        border-radius: 3px;
        padding: 5px;
        margin-left: 30px;
    }
    .text_album_subscribed{
        font-size: 18px;
        color:#B6B6B6;
      }
    .text_album_name{
        font-size: 29.4px;
        font-weight: bold;
        color:#545454;
        padding-bottom: 8px;
        width:200px;
        height:40px;
        overflow: hidden;
    }
    .album_des{
        color: #888888;
        font-size: 21px;
        padding-top: 8px;
        lines:1;
    }
    .subscribeBtn{
        width:132px;
        height:50px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        /*background-color: lightblue;*/
    }
    .subscribeBtn-subscribed{
        width:132px;
        height:50px;
        background-color: white;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-right: 30px;
        border-width:1px;
        border-style: solid;
        border-color: #e5e5e5;
        border-radius: 15px;
    }
    .text_subscribeBtn{
        color:white;
        font-size: 24px;
    }
    .text_subscribedBtn_{
        color:#E15D53;
        font-size: 24px;
    }
    .img_subscribeBtn{
        width:24px;
        height:24px;
    }
    .title{
        color:#101010;
        font-size:31px;
        font-family: "Helvetica Neue",sans-serif;
        font-weight: bold;
        /*padding-top: 20px;*/
        padding-bottom: 15px;
        padding-right: 30px;
        /*lines:2;*/
        /*letter-spacing: 10;*/
    }
    .article-des{
        color:#8f8f8f;
        font-size: 29px;
        line-height: 29px;
        text-overflow: ellipsis;
        font-family: Segoe UI;
        lines:2;
    }
    .article-mid{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #ffffff;
        /*background-color: lightgreen;*/
        margin-bottom: 19px;
    }
    .article-mid-last{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #ffffff;
        /*background-color: lightgreen;*/
    }
    .article-content{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        width:400px;
        height: 194px;
        /*padding-top:30px;*/
        /*padding-bottom: 30px;*/
        font-family: Segoe UI;
        /*background-color: lightblue;*/
    }
    .promptInformation{
      width: 750px;
      align-items:center;
      justify-content: space-around;
      position: absolute;
      top: -90px;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .loadingDate{
      width:50px;
      height:50px;
    }
    .bottom-white{
        width: 750px;
        height: 150px;
    }
</style>