<template>
  <div class="wrapper">
    <topbar :topbarname="topbarname" :textStyle="textStyle" :bgcolor="bgcolor"></topbar>
    <div class="content">
      <input type="text" placeholder="昵称" class="input" :autofocus="true" v-model="nickName" />
      <input type="email" placeholder="邮件地址" class="input" v-model="email" />
      <input type="password" placeholder="密码" class="input" v-model="password" />
      <text class="login" @click="register">注册</text>
      <text class="register" @click="jumpToLogin">已有账号，立即登陆</text>
    </div>
  </div>
</template>
<style scoped>
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555555;
}
.img-background {
  resize: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1300px;
}
.input {
  height: 90px;
  width: 600px;
  font-size: 35px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffebee;
  padding: 10px;
}
.login {
  height: 90px;
  width: 600px;
  text-align: center;
  background-color: #ff8a80;
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 15px;
}
.forgetpsw {
  height: 40px;
  width: 600px;
  text-align: center;
  line-height: 40px;
  color: #888888;
  border-radius: 8px;
  opacity: 0.7;
  margin: 20px;
}
.register {
  height: 40px;
  width: 600px;
  text-align: center;
  line-height: 40px;
  color: #888888;
  border-radius: 8px;
  opacity: 0.7;
  margin: 20px;
}
</style>

<script type="text/javascript">
const modal = weex.requireModule("modal");
const sync = new BroadcastChannel("userLogin");
import { getImgPath } from "../01.utils/common";
import prompt from "../01.utils/prompt";
import { registerByEmail } from "../02.bus/user";
import { jumpSubPage } from "../01.utils/navigator";
import googleTrack from "../02.bus/googleTrack";

module.exports = {
  data: function() {
    return {
      getImgPath: getImgPath,
      // nickName:'vincent',
      // email:'909679623@qq.com',
      // password:'password',
      nickName: "",
      email: "",
      password: "",
      topbarname: "用户注册",
      textStyle: "#E0E0E0",
      bgcolor: "#555555"
    };
  },
  created: function() {
    // googleTrack.userRegByMail();
  },
  computed: {
    showForgotPassword: function() {
      if (this.mode == "login" && this.loginAttempts > 0) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    jumpToRegistByPhone: function() {
      jumpSubPage(this, "userRegisterByPhone", { closeThisPage: true });
    },
    jumpToLogin: function() {
      jumpSubPage(this, "userLogin", { closeThisPage: true });
    },
    onNameinput: function(event) {
      var self = this;
      self.txtChange = event.value;
      self.nickName = event.value;
      console.log(self.nickName);
    },
    onPswinput: function(event) {
      var self = this;
      self.txtChange = event.value;
      self.password = event.value;
      console.log(self.password);
    },
    onEmailinput: function(event) {
      var self = this;
      self.txtChange = event.value;
      self.email = event.value;
      console.log(self.password);
    },
    register: function() {
      var self = this;
      registerByEmail(self.nickName, self.email, self.password).then(function(
        res
      ) {
        console.log(res);
        if (res.data.status == 1) {
          prompt.toast("恭喜，注册成功，请登录");
          jumpSubPage(self, "userLogin", { closeThisPage: true });
        } else {
          prompt.toast(res.data.info);
        }
      });
    }
  }
};
</script>