<!-- CopyRight (C) 2017-2022 Alibaba Group Holding Limited. -->
<!-- Created by Tw93 on 17/03/31. -->

<template>
    <div class="body">
        <div class="top">
            <crIconFont  name="ion-android-arrow-back" size="50px" color="#ffffff" @click="goBack()"></crIconFont>
            <text style="color:#ffffff;font-family: Roboto;font-size: 34px">捐赠/奉献</text>
            <crIconFont name="ion-ios-personadd" size="50px" color="#E15D53"></crIconFont>
        </div>
        
        <div class="donateDiv">
            <text class="donatetext">     资金是事工运作与发展的一个非常重要的条件，如果您有感动，请支持我们。捐助金额主要用于支付服务器费用及工价。

    奉献支持
            </text>
            <input type="number" placeholder="您要捐献的金额" class="input" :autofocus=true value=""  @input="oninput"/>
            <div class="donatConform" @click="goToDonate">
                <text class="donatConformText">微信支付</text>
            </div>
        </div>

    </div>

</template>

<style scoped>
    .body{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        /*background-color: #f5f5f5;*/
    }
    .indicator-text {
        color: #E15D53;
        font-size: 42px;
        text-align: center;
     }
     .donatetext{
        margin-top: 20px;
        font-size:35px;
        color:#545454;
    }
     .donateDiv{
        padding: 30px;
        font-size: 40px;
     }
     .indicator {
        margin-top: 16px;
        height: 40px;
        width: 40px;
        color: #E15D53;
      }
     .top{
        width: 750px;
        height: 100px;
        background-color: #E15D53;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        padding-left: 30px;
     }
     .input { 
        width: 690px;
        height:80px;
        border-width:1px;
        border-style: solid;
        border-color: #888888;
        border-radius: 5px;
        margin-top:50px;
        padding:10px;
      }
     .donatConformText{
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
    }
    .donatConform{
        flex-direction:row;
        margin-top: 50px;
        background-color: #FF8A80;
        height: 80px;
        width: 280px;
        border-radius:5px;
        justify-content:center;
        align-items:center;
        align-self: center ;

    }
    
</style>


<script>
    import global from '../02.bus/global';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage,back } from '../01.utils/navigator';
    import { getImgPath } from '../01.utils/common'; 
    import Utils from '../01.utils/Utils';
    import { userGetLovedArticle } from '../02.bus/creader';
    import { userRemoveAticleFromLove } from '../02.bus/creader';
    import syncUserInfo from '../02.bus/user';
    import googleTrack from '../02.bus/googleTrack';

    export default {
        data: () => ({
            title: '!',
            content: '您确定要将本文章移出收藏夹吗？',
            doneteValue:"",
            currentBookId:-1,
            currentIndex:-1,
            height:'',
        }),
        created () {
        },
        methods: {
            goBack() {
                back(this,"");
            },
            goToDonate(){
                var self = this;
                    self.isBottomShow=false;
                try {
                    var event = weex.requireModule('event');
                    event.gotoDonate(self.doneteValue);
                    } catch (error) {

                }
            },
            // getPrePayId(){
            //     let stream = weex.requireModule('stream');
            //     stream.fetch({
            //         method: 'POST',
            //         url: "https://api.mch.weixin.qq.com/pay/unifiedorder",
            //         type:'json',
            //         body:''
            //     }, function(ret) {
            //         if(!ret.ok){
                     
            //         }else{
            //           console.log('get:'+ret);
                      
            //         }
            //     },function(response){
            //         console.log('get in progress:'+response.length);
            //     });
            // },
            oninput: function (event) {
                    var self = this;
                    self.doneteValue = event.value;
            }
        }
    };
</script>
