<template>
    <div class="wrapper">
        <!-- background -->
        <image class="img-background" :src="getImgPath('stars_background_login.jpg')"> </image>
         
        <div class="content">
            <!-- <img class="img" :src="getImgPath('stars_background_login.jpg')"></img> -->
            <input type="text" placeholder="手机号 或 邮件" class="input" :autofocus=true value="" style="margin-top:300px;" v-model="userName"/>
            <input type="password" placeholder="密码" class="input"  v-model="password"/>
            <text class="loginbutton" @click="userlogin">登陆</text>
            <text class="bottomText" @click="jumpToGetPsw">忘记密码？</text>
            <text class="bottomText" @click="jumpToRegist">还没有账号？立即注册</text>
        </div>

        <topbar :topbarname="topbarname" :textStyle="textStyle" :bgcolor="bgcolor"></topbar>

    </div>
</template>
<style scoped>
    .wrapper{
      background-color: #555555;
    }
    .img-background{
      resize: cover;
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
    }
    
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1100px;
    }
    .input{
      height:90px;
      width:600px;
      font-size:35px;
      margin-bottom: 40px;
      border-radius: 5px;
      color: rgba(0,0,0,0.87);
      background-color: #FFEBEE;
      padding: 10px;
    }
    .loginbutton{
      flex-direction: column;
      justify-content: center;
      align-content: center;
      height:90px;
      width:600px;
      text-align: center;
      background-color: #FF8A80;
      color:white;
      font-size:35px;
      font-weight: bold;
      line-height: 60px;
      border-radius: 5px;
      margin-bottom: 40px;
      padding: 15px;
    }
    .bottomText{
      height: 40px;
      width:600px;
      text-align: center;
      line-height: 40px;
      color:#888888;
      border-radius: 8px;
      opacity: 0.7;
      margin: 20px;
    }
</style>

<script type="text/javascript">
  const modal = weex.requireModule('modal')
  import util from '../01.utils/util';
  import { getImgPath } from '../01.utils/common';
  import { jumpSubPage,back } from '../01.utils/navigator';
  import { login } from '../02.bus/user';
  import prompt from '../01.utils/prompt';
  import syncUserInfo from '../02.bus/user';
  import syncAblumInfo from '../02.bus/syncAblumInfo';
  import syncBookShelf from '../02.bus/syncBookShelf';
  import googleTrack from '../02.bus/googleTrack';

  module.exports = {
    data: function () {
      return {
        getImgPath:getImgPath,
        userName:'',
        password:'',
        where:'',
        topbarname:'用户登录',
        textStyle:'#E0E0E0',
        bgcolor:'#555555',
      };
    },
    computed: {
      showForgotPassword: function () {
        if (this.mode=='login' && this.loginAttempts>0) {
          return true;
        } else {
          return false;
        }
      },
    },
    created:function () {
      // googleTrack.userLoginOrReg();
    },
    methods: {
      jumpToRegist: function(){
        jumpSubPage(this,"userRegisterByEmail",{closeThisPage:true});
      },
      jumpToGetPsw: function(){
        jumpSubPage(this,"userGetPswBackByEmail",{closeThisPage:true});
      },
      onNameinput: function (event) {
        var self = this;
        self.userName = event.value;
      },
      onPswinput: function (event) {
        var self = this;
        //self.txtChange = event.value;
        self.password = event.value;
        //console.log(self.password);
      },
      userlogin: function(){
          //连接后台接口
          var self = this;
//          console.log(self.userName,self.password);
          if(self.userName && self.password){
              login(self.userName,self.password).then(res=>{
                  console.log(res);
                  if(res.data.status == 1){
                      prompt.toast("登陆成功");
                      syncUserInfo.post();
                      syncAblumInfo.getData();
                      syncBookShelf.getData();
                      console.log(self.where == 'reSetPsw');
                      console.log(self.where);
                      back();
                  }else{
                      prompt.toast(res.data.info);
                  }
              });
          }else{
              prompt.toast('用户名或密码不能为空');
          }
          
      },
      
    }
  };
</script>