<template>
  <div class="body">
    <topbar :topbarname="feedback"></topbar>
    <div class="content">
      <input
        class="input"
        placeholder="您的电话或者邮箱或QQ"
        type="text"
        :autofocus="true"
        v-model="contactWays"
      />
      <textarea class="textarea" placeholder="改进意见" type="text" v-model="content"></textarea>
      <text class="submit" @click="submit">提交</text>
    </div>
    <submitting v-if="netStatus==0"></submitting>
  </div>
</template>
<script>
import { getImgPath } from "../01.utils/common";
import global from "../02.bus/global";
import Utils from "../01.utils/Utils";
import Config from "../03.components/tabbar/weextabbarConfig";
import prompt from "../01.utils/prompt";
import { jumpSubPage } from "../01.utils/navigator";
import { getSuggestBookLists } from "../02.bus/creader";
import { userFeedback } from "../02.bus/user";
import googleTrack from "../02.bus/googleTrack";

export default {
  data() {
    return {
      contactWays: "",
      content: "",
      feedback: "用户反馈",
      netStatus: -1
    };
  },
  created() {
    // googleTrack.userOtherFeedback();
  },
  methods: {
    onInput(e) {
      this.contactWays = e.value;
    },
    onContentInput(e) {
      this.content = e.value;
    },
    submit() {
      var self = this;
      self.netStatus = 0;
      userFeedback(self.contactWays, self.content).then(res => {
        console.log(res);
        if (res.data == 1) {
          prompt.toast("提交成功");
          self.netStatus = -1;
        } else {
          prompt.toast(res);
          self.netStatus = -1;
        }
      });
    }
  }
};
</script>

<style scoped>
.body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*justify-content: center;*/
}
.content {
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  align-items: center;
}
.input {
  width: 650px;
  height: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: #888888;
  border-radius: 5px;
  margin-top: 50px;
  padding: 10px;
}
.textarea {
  width: 650px;
  height: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: #888888;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}
.submit {
  width: 120px;
  height: 60px;
  border-width: 1px;
  border-style: solid;
  border-color: #888888;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  margin-top: 20px;
  font-size: 25px;
  background-color: #f5f5f5;
}
</style>