<template>
  <div class="wrapper">
    <topbar :topbarname="topbarname" :textStyle="textStyle" :bgcolor="bgcolor"></topbar>
    <div class="content">
      <input
        type="text"
        placeholder="请输入邮箱"
        class="input"
        :autofocus="true"
        value
        @input="onEmailinput"
      />
      <text class="submit" @click="Submit">提交</text>
      <!-- <text class="bottomText" @click="jumpToGetPswByphone">手机找回</text> -->
    </div>
    <submitting v-if="netStatus==0"></submitting>
  </div>
</template>
<style scoped>
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555555;
}
.bg_img {
  width: 750px;
  height: 1250px;
}
.content {
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1100px;
}
.input {
  height: 90px;
  width: 600px;
  font-size: 35px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffebee;
  padding: 10px;
}
.submit {
  height: 90px;
  width: 600px;
  text-align: center;
  background-color: #ff8a80;
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 15px;
}
.bottomText {
  height: 40px;
  width: 600px;
  text-align: center;
  line-height: 40px;
  color: white;
  opacity: 0.7;
  border-radius: 8px;
  margin: 20px;
}
</style>

<script type="text/javascript">
const modal = weex.requireModule("modal");
const sync = new BroadcastChannel("userLogin");
import { getImgPath } from "../01.utils/common";
import { jumpSubPage } from "../01.utils/navigator";
import { getPswBackByEmail } from "../02.bus/user";
import prompt from "../01.utils/prompt";

module.exports = {
  data: function() {
    return {
      getImgPath: getImgPath,
      email: "",
      topbarname: "找回密码",
      textStyle: "#E0E0E0",
      bgcolor: "#555555",
      netStatus: -1
    };
  },
  computed: {
    showForgotPassword: function() {
      if (this.mode == "login" && this.loginAttempts > 0) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    onEmailinput: function(event) {
      var self = this;
      self.txtChange = event.value;
      self.email = event.value;
      //console.log('onchange', event.value);
      console.log(self.email);
    },
    jumpToGetPswByphone: function() {
      jumpSubPage(this, "userGetPswBackByPhone", { closeThisPage: true });
    },
    wxcMaskSetHidden() {
      this.show = false;
    },
    Submit: function() {
      //连接后台接口
      var self = this;
      console.log(self.email);
      self.netStatus = 0;
      getPswBackByEmail(self.email).then(function(res) {
        console.log(res);
        if (res.data != null) {
          if (res.data.status == 1) {
            prompt.toast(res.data.info);
            self.netStatus = -1;
          } else {
            prompt.toast(res.data.info);
            self.netStatus = -1;
          }
        } else {
          prompt.toast("哇哦，网络出错了,请稍后重试");
          self.netStatus = -1;
        }
      });
    }
  }
};
</script>