/** @author Your Name
*   @description weex vue page
*   @email you@example.org
*   @date  2018-01-24 10:13:31
*/ 

<template>
    <div class="body">
        <topbar :topbarname="topbarName" :text-style="textStyle"></topbar>
        <scroller class="scroller">
            <div class="list">
                <text class="name">姓名</text>
                <input type="text" class="input" :autofocus=false :value="name" @input="onNameInput"/>
            </div>
            <div class="list">
                <text class="name">昵称</text>
                <input type="text" class="input" :autofocus=false :value="nickName" @input="onNickNameinput"/>
            </div>
            <div class="list">
                <text class="name">个人简介</text>
                <input type="text" class="input" :autofocus=false :value="profile" lines="5" @input="onProfileInput"/>
            </div>
            <text class="renew-text" @click="update">更新</text>
            <text class="renew-text" @click="exit">注销</text>
            
        </scroller>
    </div>
    
</template>
<script>
    import { getImgPath } from '../01.utils/common'; 
    import global from '../02.bus/global';
    import prompt from '../01.utils/prompt';
    import { jumpSubPage,back } from '../01.utils/navigator';
    import { jump } from '../01.utils/navigator';
    import {updateProfile,getUserInfo,exit} from'../02.bus/user';
    import syncUserInfo from '../02.bus/user';

    export default {
            data () {
                return {
                    getImgPath:getImgPath,
                    networkStatus:1,
                    global:global,
                    name:'',
                    nickName:'',
                    profile:'',
                    topbarName:'更新资料',
                    textStyle:'',
                }
            },
            created:function () {
                getUserInfo().then(res=>{
                    console.log(" --- getUserInfo --- ");
                    this.nickName = res.nickName;
                    this.name = res.name;
                    this.profile = res.profile;
                })
            },
            methods:{
                onNameInput(e){
                    console.log(e.value);
                    this.name=e.value;
//                    prompt.toast(this.name);
                },
                onNickNameinput(e){
                    this.nickName=e.value;
//                    prompt.toast(this.nickName);
                },
                onProfileInput(e){
                    this.profile=e.value;
//                    prompt.toast(this.profile);
                },
                exit(){
                    exit();
                    syncUserInfo.post();
                    back();
                },
                update(){
                    var self = this;
                    console.log(self.nickName);
                    console.log(self.profile);
                    updateProfile(self.name,self.nickName,self.profile).then(function(res){
                        console.log(res);
                        prompt.toast(res.data);
                        if(res.data.status==1){
                            syncUserInfo.post();
                            prompt.toast("修改成功");
                        }else{
                            prompt.toast("修改失败，稍后再试");
                        }
                    });
                },
            }

    }
</script>

<style scoped>
    .body{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
    .scroller{
        position: absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
    }
    .list{
        width:750px;
        height:100px;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: space-between;
        align-items: center;
        border-bottom-style: solid;
        border-bottom-color:#B2B3B2;
        border-bottom-width:2px;
    }
    .input{
        width:530px;
        height:60px;
        padding-right: 20px;
        margin-right: 20px;
        text-align: left;
        color:#B2B3B2;
        align-items: center;
    }
    .name{
        width:200px;
        text-align: left;
        padding-left: 20px;
        font-size: 30px;
    }
    .renew{
        width: 750px;
        background-color: red;
    }
    .renew-text{
        width: 375px;
        height:80px;
        line-height: 80px;
        text-align: center;
        margin-top: 20px;
        border-radius: 5px;
        color:white;
        margin-left:188px;
        background-color: #E4736A;
        font-size: 35px;
    }
    
</style>