<template>
    <div class="wrapper">
      <topbar :topbarname="topbarname" :textStyle="textStyle" :bgcolor="bgcolor"></topbar>
        <div class="content">
            <input type="tel" placeholder="请输入手机号码" class="input" :autofocus="true" value="" v-model="mobile"/>
            <div class="verify">
              <input type="text" placeholder="请输入验证码" class="verifyCode"  v-model="verifyCode"/>
              <!-- <text class="sendcode" @click="sendCode">Send Code</text> -->
              <text class="sendcoding" v-if="timer>0">{{hint}}</text>
              <text class="sendcode" v-else @click="sendCode">{{hint}}</text>
            </div>
            <text class="submit" @click="submit">提交</text>
            
            <text class="bottomText" @click="jumpToGetPswBackByEmail">邮箱找回?</text>
        </div>
    </div>
</template>
<style scoped>
    .wrapper{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      background-color: #555555;
    }
    .content{
      position: absolute;
      top:100;
      left:0;
      right:0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1100px;
    }
    .input{
      height:90px;
      width:600px;
      font-size:35px;
      margin-bottom: 40px;
      border-radius: 5px;
      color: rgba(0,0,0,0.87);
      background-color: #FFEBEE;
      padding: 10px;
    }
    .submit{
      height:90px;
      width:600px;
      text-align: center;
      background-color: #FF8A80;
      color:white;
      font-size:35px;
      font-weight: bold;
      line-height: 60px;
      border-radius: 5px;
      margin-bottom: 40px;
      padding: 15px;
    }
    .verify{
      height:90px;
      width: 600px;
      justify-content: flex-start;
      flex-direction: row;
      flex-flow: nowrap;
      margin-bottom: 30px;
    }
    .verifyCode{
      height:90px;
      width: 380px;
      font-size: 35px;
      background-color: #FFEBEE;
      padding-right: 20px;
      padding-left: 10px;
      /* color:white; */
    }
    .sendcode{
      height:90px;
      width: 220px;
      line-height: 90px;
      text-align: center;
      background-color: #FF8A80;
      /*font-size:35px;*/
      color:white;
      border-radius: 5px;
    }
    .sendcoding{
      height:90px;
      width: 220px;
      line-height: 90px;
      text-align: center;
      background-color: grey;
      color:white;
      border-radius: 5px;
    }
    .bottomText{
      height: 40px;
      width:600px;
      text-align: center;
      line-height: 40px;
      color:white;
      border-radius: 8px;
      opacity: 0.7;
      margin: 20px;
    }
</style>

<script type="text/javascript">
  const modal = weex.requireModule('modal')
  const sync = new BroadcastChannel('userLogin')
  import { getImgPath } from '../01.utils/common';
  import { jumpSubPage } from '../01.utils/navigator';
  import prompt from '../01.utils/prompt';
  import { sendPhoneCode } from '../02.bus/user';
  import { getPswBackByPhone } from '../02.bus/user';

  module.exports = {
    data: function () {
      return {
        getImgPath:getImgPath,
        mobile:'',
        verifyCode:'',
        hint:'发送验证码',
        timer:0,
        int:'',
        topbarname:'找回密码',
        textStyle:'#E0E0E0',
        bgcolor:'#555555',
      };
    },
    computed: {
      showForgotPassword: function () {
        if (this.mode=='login' && this.loginAttempts>0) {
          return true;
        } else {
          return false;
        }
      },
    },
    methods: {
      onMobileinput: function (event) {
        var self = this;
        self.mobile = event.value;
        console.log('oninput', event.value);
      },
      onCodeinput: function (event) {
        var self = this;
        self.verifyCode = event.value;
        console.log('oninput', event.value);
      },
      jumpToGetPswBackByEmail: function(){
        jumpSubPage(this,"userGetPswBackByEmail",{closeThisPage:true});
      },
      jumpToresetPsw: function(){
        var self= this;
        jumpSubPage(this,"userResetPsw",{mobile:self.mobile,closeThisPage:true});
      },

      submit: function(){
          //连接后台接口
          var self = this;
          // self.mobile = "18582581786";
          // self.verifyCode = "3511";
          
          if(self.mobile==''){
            prompt.toast('请输入手机号');
          }else{
              if(self.verifyCode==''){
                prompt.toast('请输入验证码');
              }else{
                  getPswBackByPhone(self.mobile,self.verifyCode).then(function(res) {
                      console.log(res);
                      if (res.data.status === 1) {
                          prompt.toast(res.data.info + ',马上跳转');
                          setTimeout(self.jumpToresetPsw, 2000);
                      }
                      else
                      {
                          prompt.toast(res.data.info );
                      }
                  });
              }
          }
          
      },
      sendCode: function(){
        var self = this;
        
        //self.mobile = '13699482894';
        if(self.mobile ==''){
          prompt.toast('请输入手机号');
        }else{
          console.log(self.mobile);
          sendPhoneCode(self.mobile).then(res=>{
            console.log(res);
            if(res.data.status===1){
              self.toSend = false;
              prompt.toast(res.data.info);
              self.timer=60;
              if(self.timer>0){
                self.int = setInterval(self.countDown,1000);
              }
              
            }else{
              prompt.toast(res.data.data.errmsg);
            }
          });         
        }
      },
      countDown:function(){
        var self = this;
        console.log(self.timer);
        if(self.timer>0){
          --self.timer;
          self.hint = self.timer+'s后重新发送';
        }
        if(self.timer==0){
            //self.toSend = true;
            self.hint = "发送验证码";
            clearInterval(self.int);
        }
      },
      checkMobile: function(num){
          var reg = /^[0-9]+.?[0-9]*$/;
          if (reg.test(num)) {
              if(num.length>7&&num.length<15){
                return true;
              }
            
          }
          return false;
      },
      
    }
  };
</script>