<template>
    <div class="wrapper">
        <!-- <image class="bg_img" :src="getImgPath('stars_background_copy.jpeg')" resize="cover"></image> -->
        <div class="content">
            <input type="password" placeholder="新密码" class="input"  @input="oninputF"/>
            <input type="password" placeholder="再输一次" class="input"  @input="oninputS"/>
            <!-- <div class="submit" @click="comfirm">Submit</div> -->
            <text class="submit" @click="submit">提交</text>
        </div>    
    </div>
</template>
<style scoped>
    .wrapper{
      position: absolute;
      top:0;
      left:0;
      right:0;
      bottom: 0;
      background-color: #555555;
    }
    
    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 1100px;
    }
    .input{
      height:90px;
      width:600px;
      font-size:35px;
      margin-bottom: 40px;
      border-radius: 5px;
      color: rgba(0,0,0,0.87);
      background-color: #FFEBEE;
      padding: 10px;
    }
    .submit{
      height:90px;
      width:600px;
      text-align: center;
      background-color: #FF8A80;
      color:white;
      font-size:35px;
      font-weight: bold;
      line-height: 60px;
      border-radius: 5px;
      margin-bottom: 40px;
      padding: 15px;
    }
    
</style>

<script type="text/javascript">
  const sync = new BroadcastChannel('userLogin')
  import { getImgPath } from '../01.utils/common';
  import prompt from '../01.utils/prompt';
  import { jumpSubPage } from '../01.utils/navigator';
  import util from '../01.utils/util';
  import {updatePsw} from '../02.bus/user.js';

  module.exports = {
    data: function () {
      return {
        getImgPath:getImgPath,
        userName:'',
        passwordF:'',
        passwordS:'',
        mobile:'',
      };
    },
    computed: {
      showForgotPassword: function () {
        if (this.mode=='login' && this.loginAttempts>0) {
          return true;
        } else {
          return false;
        }
      },
    },
    created:function(){
      var self = this;
      console.log('----');
      self.mobile = util.getUrlSearch(weex.config.bundleUrl,'mobile');
      //self.mobile = 13699482803;
      //prompt.alert(self.mobile)
    },
    methods: {
      oninputF: function (event) {
        var self = this;
        this.txtInput = event.value;
        self.passwordF = event.value;
      },
      oninputS: function (event) {
        var self = this;
        this.txtInput = event.value;
        self.passwordS = event.value;
      },
      jumpToLogin: function(){
        jumpSubPage(this,"userLogin",{closeThisPage:true,from:'reSetPsw'});
      },
      submit: function(event){
        var self = this;
        if(self.passwordF!=''&&self.passwordS!=''){
            if(self.passwordF===self.passwordS){
              updatePsw(self.mobile,self.passwordF).then(function(res){
                console.log(res);
                if(res.status==200){
                    if(res.data.status==1){
                        prompt.toast('恭喜，修改成功，请登录');
                        // setTimeout(self.jumpToLogin, 2000);
                        jumpSubPage(self,"userLogin",{closeThisPage:true});
                    }else{
                      prompt.toast("出现错误,"+res.data.info);
                    }
                }
                else{
                    prompt.toast("服务器内部错误，请重试");
                }
              });
              
            }
            else{
              prompt.toast('输入的密码不一致');
            }
        }
        else{
            prompt.toast('请输入新密码');
        }

        
      },
      
    }
  };
</script>