<template>
  <div class="wrapper">
    <topbar :topbarname="topbarname" :textStyle="textStyle" :bgcolor="bgcolor"></topbar>
    <!-- <image class="img-background" :src="getImgPath('stars_background_login.jpg')"></image> -->
    <div class="content">
      <input type="text" placeholder="昵称" class="input" :autofocus="true" @input="onNameinput" />
      <input type="tel" placeholder="手机号码" class="input" @input="onmobileinput" />
      <div class="verify">
        <input type="text" placeholder="验证码" class="verifyCode" @input="onCodeinput" />
        <text class="sendcoding" v-if="timer>0">{{hint}}</text>
        <text class="sendcode" v-else @click="sendCode">{{hint}}</text>
      </div>
      <input type="password" placeholder="密码" class="input" @input="onPswinput" />
      <text class="login" @click="register">注册</text>
      <text class="forgetpsw" @click="jumpToRegistByEmail">邮箱注册</text>
      <text class="register" @click="jumpToLogin">已有账号，立即登陆</text>
    </div>
  </div>
</template>
<style scoped>
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555555;
}
.img-background {
  resize: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1100px;
}
.input {
  height: 90px;
  width: 600px;
  font-size: 35px;
  margin-bottom: 40px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffebee;
  padding: 10px;
}
.login {
  height: 90px;
  width: 600px;
  text-align: center;
  background-color: #ff8a80;
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 60px;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 15px;
}
.forgetpsw {
  height: 40px;
  width: 600px;
  text-align: center;
  line-height: 40px;
  color: #888888;
  border-radius: 8px;
  opacity: 0.7;
  margin: 20px;
}
.register {
  height: 40px;
  width: 600px;
  text-align: center;
  line-height: 40px;
  color: #888888;
  border-radius: 8px;
  opacity: 0.7;
  margin: 20px;
}
.verify {
  height: 90px;
  width: 600px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-flow: nowrap;
  margin-bottom: 30px;
}
.verifyCode {
  height: 90px;
  width: 380px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 35px;
  background-color: #ffebee;
  /*opacity: 0.3;*/
}
.sendcode {
  height: 90px;
  width: 220px;
  line-height: 90px;
  text-align: center;
  background-color: #ff8a80;
  color: white;
  border-radius: 5px;
}
.sendcoding {
  height: 90px;
  width: 220px;
  line-height: 90px;
  text-align: center;
  background-color: grey;
  color: white;
  border-radius: 5px;
}
</style>

<script type="text/javascript">
const modal = weex.requireModule("modal");
import { getImgPath } from "../01.utils/common";
import { sendPhoneCode } from "../02.bus/user";
import { registerByPhone } from "../02.bus/user";
import prompt from "../01.utils/prompt";
import { jumpSubPage } from "../01.utils/navigator";
import googleTrack from "../02.bus/googleTrack";

module.exports = {
  data: function() {
    return {
      getImgPath: getImgPath,
      nickName: "",
      mobile: "",
      phone: "",
      password: "",
      hint: "发送验证码",
      timer: 0,
      toSend: true,
      int: "",
      topbarname: "用户注册",
      textStyle: "#E0E0E0",
      bgcolor: "#555555"
    };
  },
  created: function() {
    // googleTrack.userRegByPhone();
  },
  computed: {
    watchTimer: function() {
      return this.timer;
    }
  },
  methods: {
    jumpToRegistByEmail: function() {
      jumpSubPage(this, "userRegisterByEmail", { closeThisPage: true });
    },
    jumpToLogin: function() {
      jumpSubPage(this, "userLogin", { closeThisPage: true });
    },
    onNameinput: function(event) {
      var self = this;
      self.nickName = event.value;
    },
    onPswinput: function(event) {
      var self = this;
      self.password = event.value;
    },
    onCodeinput: function(event) {
      var self = this;
      self.verifyCode = event.value;
    },
    onmobileinput: function(event) {
      var self = this;
      this.txtInput = event.value;
      self.mobile = event.value;
      console.log("oninput", event.value);
    },
    register: function() {
      var self = this;
      //prompt.toast(self.verifyCode+"1234");
      //console.log(self.nickName,self.mobile,self.code,self.password);
      registerByPhone(
        self.nickName,
        self.mobile,
        self.verifyCode,
        self.password
      ).then(res => {
        console.log(res);
        if (res.data.status == 1) {
          prompt.toast("恭喜，注册成功，请登录");
          setTimeout(self.jumpToLogin, 2000);
        } else {
          prompt.toast(res.data.info);
        }
      });
    },
    sendCode: function() {
      var self = this;

      //self.mobile = '13699482803';
      if (self.mobile == "") {
        prompt.toast("请输入手机号");
      } else {
        console.log(self.mobile);
        sendPhoneCode(self.mobile).then(res => {
          console.log(res);
          prompt.toast(res.info);
          if (res.data.status === 1) {
            self.toSend = false;
            prompt.toast(res.data.info);
            self.timer = 60;
            if (self.timer > 0) {
              self.int = setInterval(self.countDown, 1000);
            }
          } else {
            prompt.toast(res.data.data.errmsg);
          }
        });
      }
    },
    countDown: function() {
      var self = this;
      console.log(self.timer);
      if (self.timer > 0) {
        --self.timer;
        self.hint = self.timer + "s后重新发送";
      }
      if (self.timer == 0) {
        //self.toSend = true;
        self.hint = "发送验证码";
        clearInterval(self.int);
      }
    }
  }
};
</script>